.error_page{padding-left:130px;}
.plug_img{}
.plug_img img{max-width:100%;}
.error_page h2{font-size:48px;font-weight:400;margin:45px 0 0 0;color:#0050a0;}
.error_page h6{font-size:18px;font-weight:700;margin:0 0 0 3px;color:#0050a0;}
.error_page h5{font-size:24px;font-weight:400;margin:35px 0 0 0;color:#0050a0;line-height:30px;}
.error_page p{font-size:14px;font-weight:400;margin:30px 0 0 0;color:#999999;line-height:20px;}
.error_page ul{margin:30px 0px 0;padding:0px;}
.error_page ul li{list-style:none;display:inline-block;margin:0px;padding:0px;width:49%;line-height:22px;}
.error_page ul li a{font-size:14px;list-style:none;display:inline-block;margin:0px;text-decoration:none;color:#0050a0;padding:0px;}
.error_page ul li a:hover{text-decoration:underline;}
.err_cell2{text-align:left;width:45%}
@media(max-width:1080px){.error_page{padding-left:20px;}
.error_cell img{width:100%;}
.error_cell:nth-child(2){width:50%;}
}
@media(max-width:767px){.plug_img{float:right;margin:40px -25px 0 0;position:relative;}
}
@media(max-width:600px){.error_outer, .error_row{display:block !important;}
.error_cell{width:100% !important;display:block !important;padding:0 0 0 20px;}
.error_page h2{font-size:48px;margin:30px 0 0 0;}
.error_page h6{font-size:16px;}
.error_page h5{font-size:20px;margin-top:25px;line-height:20px;}
.error_page p{font-size:14px;margin:20px 0 0;}
.error_page ul{margin:20px 0;}
.error_page ul li a{font-size:16px;}
.plug_img{margin:10px -25px 0 0;float:none}
.error_cell img{width:auto;}
.error_page{padding-left:5px;}
.err_cell2{text-align:center}
}
.error_outer{display:table;width:100%;height:100%;}
.error_row{display:table-row;}
.error_cell{display:table-cell;vertical-align:middle;}