<div class="products clearfix">
		<div class="empty-message myfeedheader">
        	<h3 class="m_zero">You must be registered to have access to this page!</h3>
            <p class="m_top20"><img src="assets/images/svg/myfeedimage.svg" class="img-responsive" /></p>
            <h3>Save time and money!</h3>
            <p class="line_heigh25">Display only the deals and the bargains that reflect your tastes and your needs. <br>
Select your favourite categories, filter the contents on the basis of your interests, favourite Shops and Countries</p>
            <div class="button">
				<span ng-controller="Modalsignup"><a class="btn btn-lg orange_btn" href="#" ng-click="openSignup()">register free</a></span>
                <p class="m_top20" ng-controller="ModalLogin">Already registered? <a href="#" ng-click="openLogin()">Log in</a></p>
   			</div>
        </div>
</div>