<!-- <div class="products clearfix ng-scope">
		<div class="products-empty">
            <img class="img-responsive" src="assets/images/no_results_image.svg">
            <h3 class="redTxt">Ops... You did not specify any preference yet</h3>
            <p>What are you waiting for? Start now!</p>
            
        </div>
</div>-->


<div class="blocked_content preferences_section">

    <div class="panel panel-default clearfix">
    
       <div class="pos_rel_box">
            <h2 class="fav_text" ng-controller="Modalshouter">Blocked Shouters <small>You have not yet added your favourite categories</small> <a href="#" class="add_btns" ng-click="openshouter('width760')"> <span><img src="assets/images/svg/plus.svg" alt=""/></span>block shouter</a> </h2>
             <div class="clearfix"></div>
             </div>
       
       <div class="pos_rel_box">
                <h2 class="fav_text" ng-controller="Modalshop">Blocked Shops <span class="badge">999</span> <a href="#" class="add_btns" ng-click="openshop('width760')"> <span><img src="assets/images/svg/plus.svg" alt=""/></span>block shop</a> </h2>
       
            <div class="blocked_user_section">
                <div class="block_user"><a href="user-shouts.html"></a><img src="assets/images/block_user.jpg" alt=""/></div>
                <div class="block_content"> 
					<p><small>Shop</small></p>
                    <h1><a href="user-shouts.html">Groupon</a></h1>
                    <p><small>blocked on 20 Oct 2015</small></p>
                    
                    <span class="block_icon" ng-controller="Modalunblockshouter">
                    <a href="javascript:void(0)" ng-click="openunblockshouter('unblock')" class="notification_img_box">
                            <img src="assets/images/icons/userpages/block_onhover.svg" class="normal">
                            <img src="assets/images/icons/userpages/blocked_onclick.svg" class="hover">
                            <img src="assets/images/icons/userpages/blocked_onhover.svg" class="active">
                        </a>
                    </span>
                    
                </div>
            </div>
            
            <div class="blocked_user_section">
                <div class="block_user"><a href="retailer-offer.html"></a><img src="assets/images/shop.png" alt=""/></div>
                <div class="block_content"> 
					<p><small>Shop</small></p>
                    <h1><a href="retailer-offer.html"> Sainsbury’s</a></h1>
                    <p><small>blocked on 15 Nov 2015</small></p>
                    
                    <span class="block_icon" ng-controller="Modalunblockshouter">
                     <a href="javascript:void(0)" ng-click="openunblockshouter('unblock')" class="notification_img_box">
                            <img src="assets/images/icons/userpages/block_onhover.svg" class="normal">
                            <img src="assets/images/icons/userpages/blocked_onclick.svg" class="hover">
                            <img src="assets/images/icons/userpages/blocked_onhover.svg" class="active">
                        </a>
                    </span>
                    
                </div>
            </div>
              <div class="clearfix"></div>
         
            </div>  
              
       <div class="pos_rel_box">
          
                <h2 class="fav_text" ng-controller="Modalblockcountries">Blocked Countries <span class="badge">999</span>  
               <a href="#" class="add_btns" ng-click="openblockcountries('width760')"> <span><img src="assets/images/svg/plus.svg" alt=""/></span>block country</a>
                
                </h2>
                <div class="blocked_user_section">
                <div class="block_user"><img src="assets/images/count.jpg" alt=""/></div>
                <div class="block_content"> 
					<p><small>Country</small></p>
                    <h1>France</h1>
                    <p><small>blocked on 20 Oct 2015</small></p>
                    
                    <span class="block_icon" ng-controller="Modalunblockshouter">
                    <a href="javascript:void(0)" ng-click="openunblockshouter('unblock')" class="notification_img_box">
                            <img src="assets/images/icons/userpages/block_onhover.svg" class="normal">
                            <img src="assets/images/icons/userpages/blocked_onclick.svg" class="hover">
                            <img src="assets/images/icons/userpages/blocked_onhover.svg" class="active">
                        </a>
                   </span>
                    
                </div>
            </div>
            
            <div class="blocked_user_section">
                <div class="block_user"><a href="user-shouts.html"></a><img src="assets/images/block_user.jpg" alt=""/></div>
                <div class="block_content"> 
				<p><small>Country</small></p>
                    <h1><a href="user-shouts.html"> Rockerduck</a></h1>
                    <p><small>blocked on 15 Nov 2015</small></p>
                    
                    
                    <span class="block_icon" ng-controller="Modalunblockshouter">
                   <a href="javascript:void(0)" ng-click="openunblockshouter('unblock')" class="notification_img_box">
                            <img src="assets/images/icons/userpages/block_onhover.svg" class="normal">
                            <img src="assets/images/icons/userpages/blocked_onclick.svg" class="hover">
                            <img src="assets/images/icons/userpages/blocked_onhover.svg" class="active">
                        </a>
                  </span>
                    
                </div>
            </div>
            
                 <div class="clearfix"></div>
        </div>	
         
    </div>

</div>
