<div class="products clearfix">
		<div class="empty-message">
            <img src="assets/images/no_results_image.svg" class="img-responsive" />
            <h3>There are no comments on your shouts yet</h3>
            <p>TInvite your friends on Shout, it will be more likely for your Shouts to receive comments</p>
           
			 <div class="p_top_btm20 friend_social">
  
  	<ul class="social_media">
       <li><a href="#" class="fb"><span></span>invite friends<em class="affiliate-icon">£</em></a></li>
       <li><a href="#" class="gplus"><span></span>invite friends<em class="affiliate-icon">£</em></a></li>
       <li ng-controller="Modalinvite_friends"><a href="#" ng-click="openinvite_friends()" class="contact_social"><span></span>invite friends<em class="affiliate-icon">£</em></a></li>
       <li ng-controller="Modalrecommended_shouters"><a href="#" ng-click="openrecommended_shouters('width600')" class="recommended"><span></span> recommended </a></li>
     </ul>
     
  </div>
        </div>
</div>