<!-- Breadcrumb -->
<nav class="category-breadcrumb" role="navigation">
      <!-- Right Nav -->
       <ul class="breadcrumb-nav clearfix" ng-controller="DropdownCtrl">
           <li class="dropdown hidden-xs hidden-sm" uib-dropdown="1">
            	<h2>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" uib-dropdown-toggle  ng-click="toggleDropdown()">Deals</a>
                </h2>
               
                <ul class="dropdown-menu category-menu scrollarea" uib-dropdown-menu aria-labelledby="simple-dropdown" 
			ng-scrollbars ng-scrollbars-config="{}"
				style="max-height: 320px;">
                	<li><a href="#">Products <span class="notifications">999</span></a></li>
					<li><a href="#">Deals <span class="notifications">999</span></a></li>
					<li><a href="#">Sales <span class="notifications">999</span></a></li>
					<li><a href="#">Coupons <span class="notifications">999</span></a></li>
					<li><a href="#">Tips <span class="notifications">999</span></a></li>
					<li><a href="#">Discussions <span class="notifications">999</span></a></li>
					<li><a href="#">Collections <span class="notifications">999</span></a></li>
					<li><a href="#">Shops <span class="notifications">999</span></a></li>
					<li><a href="#">Affiliate Program</a></li>
					<li><a href="#">About Shout</a></li>
					
					<li><a href="#">Coupons <span class="notifications">999</span></a></li>
					<li><a href="#">Tips <span class="notifications">999</span></a></li>
					<li><a href="#">Discussions <span class="notifications">999</span></a></li>
					<li><a href="#">Collections <span class="notifications">999</span></a></li>
					<li><a href="#">Shops <span class="notifications">999</span></a></li>
					<li><a href="#">Affiliate Program</a></li>
					<li><a href="#">About Shout</a></li>
                </ul>
            </li>
			
            <li class="dropdown hidden-xs hidden-sm hidden-md" uib-dropdown="1">
                <h2>
                    <a href="#" class="fav-icon"></a>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" uib-dropdown-toggle  ng-click="toggleDropdown()">Clothing & Fashion </a>
                </h2>
                
                <ul class="dropdown-menu category-menu scrollarea" uib-dropdown-menu aria-labelledby="simple-dropdown" 
				ng-scrollbars ng-scrollbars-config="{}"
				style="max-height: 320px;">
                	<li><a href="deal-category.html">All Categories <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Appliances <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon disable"></span> <a href="deal-category.html">Baby <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon active"></span> <a href="deal-category.html">Books, Music & Films <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon active disable"></span> <a href="#"><strong>Clothing & Fashion</strong> <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Computers <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Electronics & Photography <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Food & Drink <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Handbags, Luggage & Backpacks <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Health & Beauty <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Hobbies & Collectables <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Home & Garden <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Motors & Boating <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Musical Instruments <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Optics, Watches & Jewellery <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Pet Supplies <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">School & Office <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Services & Activities <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Sport & Leisure <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Telephony <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Toys & Games <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Travel & Holidays <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Videogames & Consoles <span class="notifications">999</span></a></li>
                  </ul>
                  
            </li>
             
            <li class="dropdown hidden-xs hidden-sm" uib-dropdown="1">
            	<h2>
                    <a href="#" class="fav-icon active"></a>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" uib-dropdown-toggle  ng-click="toggleDropdown()">Woman</a>
                </h2>
               
                <ul class="dropdown-menu category-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                	<li><a href="#">All in Fashion & Clothing <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Boy <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Girl <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Man <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html"><strong>Woman</strong> <span class="notifications">999</span></a></li>
                </ul>
            </li>
            <li class="dropdown hidden-xs" uib-dropdown="1">
            	<h2>
                    <a href="#" class="fav-icon active disable"></a>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" uib-dropdown-toggle  ng-click="toggleDropdown()">Fashion Accessories</a>
              </h2>
               
                <ul class="dropdown-menu category-menu scrollarea" uib-dropdown-menu aria-labelledby="simple-dropdown" 
			ng-scrollbars ng-scrollbars-config="{}"
				style="max-height: 320px;">
                	<li><a href="#">All in Woman Clothing & Fashion <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Beachwear <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html"><strong>Fashion Accessories</strong> <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Shirts <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Outerwear <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Outfits <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Skirts <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Underwear <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Wedding Clothing <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Fashion Accessories <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Shirts <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Outerwear <span class="notifications">999</span></a></li>
                </ul>
            </li>
           <li class="dropdown" uib-dropdown="1">
                <h2>
                    <a href="#" class="fav-icon disable"></a>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" uib-dropdown-toggle  ng-click="toggleDropdown()">Hair Accessories</a>
               </h2>
                
                <ul class="dropdown-menu category-menu scrollarea" uib-dropdown-menu aria-labelledby="simple-dropdown" 
			ng-scrollbars ng-scrollbars-config="{}"
				style="max-height: 320px;">
                	<li><a href="#">All in Woman Clothing & Fashion <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Beachwear <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Fashion Accessories <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Shirts <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Outerwear <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Outfits <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Skirts <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Underwear <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Wedding Clothing <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Fashion Accessories <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Shirts <span class="notifications">999</span></a></li>
                    <li><span class="fav-icon"></span> <a href="deal-category.html">Outerwear <span class="notifications">999</span></a></li>
                </ul>
            </li>
            
   		</ul>
        
        <!-- My feed button -->
        <div class="feed-notification">
        	<a href="myfeed-collection.html" class="wifi-icon"></a>
        	<a href="myfeed-collection.html">My Feed </a> 
         </div>
        <!-- //My feed button -->
        
</nav>
