				<div class="product-detail">  
                    <label class="tag">TOP COLLECTION</label>
                    <div class="retailer-logo"><span class="mobile-hidden"><a href="retailer-offer.html"><img src="assets/images/product/retailer-logo.jpg" alt="logo"></a> <small>+ other 56 shops</small></span><span class="desktop-hidden"> 57 shops </span></div>
                    <div class="clearfix"></div>
                    <h1>Collection Name 1 Lorem Ipsum Dolor Sit Amet Consectetuer</h1>
                <div class="left">
                    <div class="item-tags">
                        <div class="tags"><span>SHOUTS:</span> 999</div>
                        <div class="megadbright">
                        	average: <span>9999db</span>
                        </div>
                        <div class="related">
                            <span>TAGS:</span> <a href="search-result.html">Lorem</a>, <a href="search-result.html">ipsum</a>, <a href="search-result.html">dolor</a>
                        </div>
                    </div>
                    <div class="user-details">
					<div class="comment-left-profile m_top10">
                                        <div class="profile-details">
                                        	<div class="user-dropdown new_dropdown" uib-dropdown="">
                                                <label class="username" uib-dropdown-toggle=""> <img class="profile-pic-new" src="assets/images/product/comment-profile.png" alt="profile"> <span>Username</span> <span class="caret"></span>
                                                <em class="date_li">registered on 25 Nov 2015</em>
                                                </label>
                                                <ul class="dropdown-menu" uib-dropdown-menu="">
                                                    <li>
                                                    	<p class="medals ng-scope" ng-controller="Modalbadges">
                                                    <a href="#" ng-click="Modalbadges('badges')">
                                                        <img class="normal" src="assets/images/product/pioneer1_normal.svg" alt="share">
                                                        <img class="hover" src="assets/images/product/pioneer1_onhover.svg" alt="share">
                                                        <img class="active" src="assets/images/product/pioneer1_onclick.svg" alt="share">							
                                                    </a>
                                                
                                                    <a href="#" ng-click="Modalbadges('badges')">
                                                        <img class="normal" src="assets/images/product/social1_normal.svg" alt="share">
                                                        <img class="hover" src="assets/images/product/social1_onhover.svg" alt="share">
                                                        <img class="active" src="assets/images/product/social1_onclick.svg" alt="share">							
                                                    </a>
                                                    <a href="#">
                                                        <img src="assets/images/icons/userpages/contributor3_normal.svg" class="normal">
                                                        <img src="assets/images/icons/userpages/contributor3_onhover.svg" class="hover">
                                                        <img src="assets/images/icons/userpages/contributor3_onclick.svg" class="active">
                                                    </a>
                                                    
                                                    <a href="#" ng-click="Modalbadges('badges')">
                                                        <img src="assets/images/icons/userpages/chatty3_normal.svg" class="normal">
                                                        <img src="assets/images/icons/userpages/chatty3_onhover.svg" class="hover">
                                                        <img src="assets/images/icons/userpages/chatty3_onclick.svg" class="active">
                                                    </a>
                    								
                                                    <a href="#">
                                                        <img src="assets/images/icons/userpages/ultrasonic1_normal.svg" class="normal">
                                                        <img src="assets/images/icons/userpages/ultrasonic1_onhover.svg" class="hover">
                                                        <img src="assets/images/icons/userpages/ultrasonic1_onclick.svg" class="active">
                                                    </a>
                                                
                                                    <a href="#" ng-click="Modalbadges('badges')">
                                                        <img class="normal" src="assets/images/product/celebrity3_normal.svg" alt="share">
                                                        <img class="hover" src="assets/images/product/celebrity3_onhover.svg" alt="share">
                                                        <img class="active" src="assets/images/product/celebrity3_onclick.svg" alt="share">							
                                                    </a>
                                                    
                                                    <a href="#" ng-click="Modalbadges('badges')">
                                                        <img class="normal" src="assets/images/product/pioneer1_normal.svg" alt="share">
                                                        <img class="hover" src="assets/images/product/pioneer1_onhover.svg" alt="share">
                                                        <img class="active" src="assets/images/product/pioneer1_onclick.svg" alt="share">							
                                                    </a>
                                                
                                                    <a href="#" ng-click="Modalbadges('badges')">
                                                        <img class="normal" src="assets/images/product/social1_normal.svg" alt="share">
                                                        <img class="hover" src="assets/images/product/social1_onhover.svg" alt="share">
                                                        <img class="active" src="assets/images/product/social1_onclick.svg" alt="share">							
                                                    </a>
                                                    <a href="#">
                                                        <img src="assets/images/icons/userpages/contributor3_normal.svg" class="normal">
                                                        <img src="assets/images/icons/userpages/contributor3_onhover.svg" class="hover">
                                                        <img src="assets/images/icons/userpages/contributor3_onclick.svg" class="active">
                                                    </a>
                                                    
                                                </p>
                                                    </li>
                                                    <li>
                                                        <a href="user-shouts.html">
                                                            <img class="normal" src="assets/images/product/shouts_normal.svg" alt="share">
                                                            <img class="hover" src="assets/images/product/shouts_onhover.svg" alt="share">
                                                            <img class="active" src="assets/images/product/shouts_onclick.svg" alt="share">
                                                            9,999 shouts <small>(average: 999<sup>dB</sup>)</small>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <img class="normal" src="assets/images/product/follow_normal.svg" alt="share">
                                                            <img class="hover" src="assets/images/product/follow_onhover.svg" alt="share">
                                                            <img class="active" src="assets/images/product/follow_onclick.svg" alt="share">
                                                            start following
                                                        </a>
                                                    </li>
                                                    <li ng-controller="Modalwritemsg">
                                                        <a href="#" ng-click="openWritemsg()">
                                                            <img class="normal" src="assets/images/product/write_message_normal.svg" alt="share">
                                                            <img class="hover" src="assets/images/product/write_message_onhover.svg" alt="share">
                                                            <img class="active" src="assets/images/product/write_message_onclick.svg" alt="share">
                                                           send message
                                                        </a>
                                                     </li>
                                                </ul>
                                  			</div>
                                            <label class="joined date">shouted on 25 Nov 2015 09:59 AM</label>
                                             
                                        </div>
										
										<ul class="right-icons">
                        	<li>
                            	<a href="#">
                                    <span class="image-icons fav-icon"></span>
                            	</a>
                            </li> 
                        	<li ng-controller="Modalsharedeal" class="ng-scope">
                                                    <a class="share-cons" href="#" ng-click="opensharedeal('coupon')">
                                                        <span class="affiliate-icon"></span>
                                                    </a>
                                                </li>
                        </ul>
                                    </div> 
						
                    </div>
                </div>
            </div>