<div class="filter-block top-trend hidden-xs hidden-sm">
      <h3 class="title m_botm2">Top Trending Deals</h3>
      
      <ul class="clearfix">
      
        <li id="one">
        	<div class="detail">
            	<div class="text">
                    <a href="single-product.html">Lorem Ipsum Dolor Sit Elit Amet Consectetuer e Voluptat Erat Dolores</a>
                    <small>23h, 59m ago</small>
                </div>
                <div class="bottom">
                	<div class="shout-btn">
                    
                    	<div class="outer_like_dislike">
                                <!-- Shout value info -->
                                <div class="btn-info">
                                    <span>9999<sup>dB</sup></span> 
                                </div>
                                <!-- Voting Thumb -->
                                <div class="voting">
                                    <a href="#" class="dislike" ng-click="showdislike('one')">DisLike</a>   
                                    <a href="#" class="like"  ng-click="showlike('one')">Like</a>
                                </div>
                                <!-- //Voting Thumb -->
                          </div>
                          
                          <div class="btn-info btn_like">
                                    <span>9999<sup>dB</sup> <em></em></span> 
                          </div>
                          
                          <div class="btn-info btn_dislike">
                                    <em></em> <span>9999<sup>dB</sup></span> 
                          </div>
                                
                            </div>
                </div>
                <div class="clearfix"></div>
            </div>
            
            <div class="image_section">
                <div class="image"><span class="ribbon_small"><em>top</em></span><a href="single-product.html"><img src="assets/images/trend_img1.jpg" /></a></div>
                <a href="https://www.amazon.co.uk/Apple-iPhone-Smartphone-Certified-Refurbished/dp/B00X3CSVT4/ref=sr_1_7?s=telephone&ie=UTF8&qid=1474547378&sr=1-7&keywords=iphone+6" target="_blank" class="get_btn">Get <em><img src="assets/images/product/go_to_site_white.svg" alt=""></em> </a>
            </div>
        </li>
        
      	<li id="two">
        	<div class="detail">
            	<div class="text">
                    <a href="single-product.html">Lorem Ipsum Dolor Sit Elit Amet Consectetuer e Voluptat Erat Dolores</a>
                    <small>23h, 59m ago</small>
                </div>
                <div class="bottom">
                	<div class="shout-btn">
                    	<div class="outer_like_dislike">
                                <!-- Shout value info -->
                                <div class="btn-info">
                                    <span>9999<sup>dB</sup></span> 
                                </div>
                                <!-- Voting Thumb -->
                                <div class="voting">
                                    <a href="#" class="dislike" ng-click="showdislike('two')">DisLike</a>   
                                    <a href="#" class="like"  ng-click="showlike('two')">Like</a>
                                </div>
                                <!-- //Voting Thumb -->
                          </div>
                          
                          <div class="btn-info btn_like">
                                    <span>9999<sup>dB</sup> <em></em></span> 
                          </div>
                          
                          <div class="btn-info btn_dislike">
                                    <em></em> <span>9999<sup>dB</sup></span> 
                          </div>
                                
                            </div>
                </div>
                <div class="clearfix"></div>
            </div>
            
            <div class="image_section">
                <div class="image"><span class="ribbon_small"><em>top</em></span><a href="single-product.html"><img src="assets/images/trend_img2.jpg" /></a></div>
                <a href="https://www.amazon.co.uk/Apple-iPhone-Smartphone-Certified-Refurbished/dp/B00X3CSVT4/ref=sr_1_7?s=telephone&ie=UTF8&qid=1474547378&sr=1-7&keywords=iphone+6" target="_blank" class="get_btn">Get <em><img src="assets/images/product/go_to_site_white.svg" alt=""></em> </a>
            </div>
        </li>
        
        <li id="three">
        	<div class="detail">
            	<div class="text">
                    <a href="single-product.html">Lorem Ipsum Dolor Sit Elit Amet Consectetuer e Voluptat Erat Dolores</a>
                    <small>23h, 59m ago</small>
                </div>
                <div class="bottom">
                	<div class="shout-btn">
                    	<div class="outer_like_dislike">
                                <!-- Shout value info -->
                                <div class="btn-info">
                                    <span>9999<sup>dB</sup></span> 
                                </div>
                                <!-- Voting Thumb -->
                                <div class="voting">
                                    <a href="#" class="dislike" ng-click="showdislike('three')">DisLike</a>   
                                    <a href="#" class="like"  ng-click="showlike('three')">Like</a>
                                </div>
                                <!-- //Voting Thumb -->
                          </div>
                          
                          <div class="btn-info btn_like">
                                    <span>9999<sup>dB</sup> <em></em></span> 
                          </div>
                          
                          <div class="btn-info btn_dislike">
                                     <em></em> <span>9999<sup>dB</sup></span> 
                          </div>
                                
                            </div>
                </div>
                <div class="clearfix"></div>
            </div>
            
            <div class="image_section">
                <div class="image"><span class="ribbon_small"><em>top</em></span><a href="single-product.html"><img src="assets/images/trend_img3.jpg" /></a></div>
                <a href="https://www.amazon.co.uk/Apple-iPhone-Smartphone-Certified-Refurbished/dp/B00X3CSVT4/ref=sr_1_7?s=telephone&ie=UTF8&qid=1474547378&sr=1-7&keywords=iphone+6" target="_blank" class="get_btn">Get <em><img src="assets/images/product/go_to_site_white.svg" alt=""></em> </a>
            </div>
        </li>
        
      </ul>
      
    </div>