<!-- Filter Section -->
<div  class="filter-section hidden-xs hidden-sm" ng-init="$root.filterhide=true" ng-class="{ 'open':($root.filter_show ) }">
    <div class="filter-overlay"></div>

     <!-- Filter Block -->
    <div class="filter-block search-fliter staticSidebar">
      
      <ul>
        <li class="dropdown"  filter-toggle ng-class="{'open':!isCollapsed}">
        	<label class="dropdown-toggle"><a href="whatisshout.html">What is Shout</a> <span ng-click="isCollapsed = !isCollapsed" class="arrow_right"> </span></label>
            <!-- DropDown Block -->
        	<div class="dropdown-block" uib-collapse="isCollapsed">
            	 <ul>
                 	<li><a href="whatisshout.html"> What you can do on Shout </a></li>
                    <li><a href="whatisshout.html"> What you can do as a consumer</a></li>
                    <li><a href="whatisshout.html"> What you can do as a retailer </a></li>
                 </ul>
            </div>
            <!-- //DropDown Block -->
        </li> 
		<li class="dropdown"  filter-toggle ng-class="{'open':!isCollapsed}">
		<label class="dropdown-toggle"><a href="faq.html">Frequently Asked Questions</a> <span ng-click="isCollapsed = !isCollapsed" class="arrow_right"> </span></label> 
            <!-- DropDown Block -->
        	<div class="dropdown-block" uib-collapse="isCollapsed">
            	 <ul>
                 	<li><a href="faq.html">Registration & Login</a></li>
                    <li><a href="faq.html">Customisation</a></li>
                    <li><a href="faq.html">Buy DealsProducts</a></li>
                    <li><a href="faq.html">Voting</a></li>
                    <li><a href="faq.html">Commenting</a></li>
                    <li><a href="faq.html">Shouting</a></li>
                    <li><a href="faq.html">Reviewing</a></li>
                    <li><a href="faq.html">Reporting</a></li>
                    <li><a href="faq.html">Inviting</a></li>
                    <li><a href="faq.html">Badges</a></li>
                    <li><a href="faq.html">Affiliate Program</a></li>
                    <li><a href="faq.html">Finding Friends</a></li>
                 </ul>
            </div>
            <!-- //DropDown Block -->
        </li>
		 
         <li class="dropdown"  filter-toggle ng-class="{'open':!isCollapsed}">
        	<label class="dropdown-toggle"><a href="registration_login.html">Registration & Log in</a> <span ng-click="isCollapsed = !isCollapsed" class="arrow_right"> </span></label>  
            <!-- DropDown Block -->
        	<div class="dropdown-block" uib-collapse="isCollapsed">
            	 <ul>
                 	<li><a href="registration_login.html">Registration</a></li>
                    <li><a href="registration_login.html">Log In</a></li> 
                 </ul>
            </div>
            <!-- //DropDown Block -->
        </li>
         <li class="dropdown"  filter-toggle ng-class="{'open':!isCollapsed}">
		 <label class="dropdown-toggle"><a href="sample-static-page.html">Customisation</a> <span ng-click="isCollapsed = !isCollapsed" class="arrow_right"> </span></label>  
            <!-- DropDown Block -->
        	<div class="dropdown-block" uib-collapse="isCollapsed">
            	 <ul>
                 	<li><a href="sample-static-page.html"> Why customising </a></li>
                    <li><a href="sample-static-page.html"> Favourite Categories </a></li> 
                    <li><a href="sample-static-page.html"> Favourite Interests </a></li> 
                    <li><a href="sample-static-page.html"> Favourite Shops </a></li> 
                    <li><a href="sample-static-page.html"> Favourite Countries </a></li> 
                    <li><a href="sample-static-page.html"> Favourite Sizes </a></li> 
                 </ul>
            </div>
            <!-- //DropDown Block -->
        </li>
        
		 <li class="dropdown"  filter-toggle ng-class="{'open':!isCollapsed}">
		 <label class="dropdown-toggle"><a href="sample-static-page.html">Save Money</a> <span ng-click="isCollapsed = !isCollapsed" class="arrow_right"> </span></label>  
            <!-- DropDown Block -->
        	<div class="dropdown-block" uib-collapse="isCollapsed">
            	 <ul>
                 	<li><a href="sample-static-page.html"> Products </a></li>
                    <li><a href="sample-static-page.html"> Deals </a></li> 
                    <li><a href="sample-static-page.html"> Sales </a></li> 
                    <li><a href="sample-static-page.html"> Coupons </a></li> 
                    <li><a href="sample-static-page.html"> Tips </a></li> 
                    <li><a href="sample-static-page.html"> Discussions </a></li> 
                 </ul>
            </div>
            <!-- //DropDown Block -->
        </li>
        	
         <li class="dropdown"  filter-toggle ng-class="{'open':!isCollapsed}">
		 <label class="dropdown-toggle"><a href="sample-static-page.html">Voting</a> <span ng-click="isCollapsed = !isCollapsed" class="arrow_right"> </span></label>  
            <!-- DropDown Block -->
        	<div class="dropdown-block" uib-collapse="isCollapsed">
            	 <ul>
                 	<li><a href="sample-static-page.html">Help the Community recognise the true Convenience</a></li>
                    <li><a href="sample-static-page.html">Voting</a></li>
                    <li><a href="sample-static-page.html">Decibels</a></li>
                    <li><a href="sample-static-page.html">How to vote</a></li>
                    <li><a href="sample-static-page.html">Influence Level</a></li>
                 </ul>
            </div>
            <!-- //DropDown Block -->
        </li>
		
		  
        <li> <a href="sample-static-page.html">Commenting</a> </li>
        
        <li class="dropdown"  filter-toggle ng-class="{'open':!isCollapsed}">
		<label class="dropdown-toggle"><a href="sample-static-page.html">Shouting</a> <span ng-click="isCollapsed = !isCollapsed" class="arrow_right"> </span></label>  
            <!-- DropDown Block -->
        	<div class="dropdown-block" uib-collapse="isCollapsed">
            	 <ul>
                 	<li><a href="sample-static-page.html"> Shouting Deals </a></li>
                    <li><a href="sample-static-page.html"> Shouting Sales </a></li>
                    <li><a href="sample-static-page.html"> Shouting Coupons </a></li>
                    <li><a href="sample-static-page.html"> Shouting Tips </a></li>
                    <li><a href="sample-static-page.html"> Shouting Discussions </a></li>
                 </ul>
            </div>
            <!-- //DropDown Block -->
        </li>
        
        <li class="dropdown"  filter-toggle ng-class="{'open':!isCollapsed}">
		<label class="dropdown-toggle"><a href="sample-static-page.html">Reviewing</a> <span ng-click="isCollapsed = !isCollapsed" class="arrow_right"> </span></label>  
            <!-- DropDown Block -->
        	<div class="dropdown-block" uib-collapse="isCollapsed">
            	 <ul>
                 	<li><a href="sample-static-page.html"> Reviewing Shops </a></li>
                    <li><a href="sample-static-page.html"> Reviewing Products </a></li> 
                 </ul>
            </div>
            <!-- //DropDown Block -->
        </li>
        
        <li class="dropdown"  filter-toggle ng-class="{'open':!isCollapsed}">
		<label class="dropdown-toggle"><a href="sample-static-page.html">Reporting</a> <span ng-click="isCollapsed = !isCollapsed" class="arrow_right"> </span></label>  
            <!-- DropDown Block -->
        	<div class="dropdown-block" uib-collapse="isCollapsed">
            	 <ul>
                 	<li><a href="sample-static-page.html"> Reporting Products </a></li>
                 	<li><a href="sample-static-page.html"> Reporting Deals </a></li>
                 	<li><a href="sample-static-page.html"> Reporting Sales </a></li>
                 	<li><a href="sample-static-page.html"> Reporting Coupons </a></li>
                    <li><a href="sample-static-page.html"> Reporting Tips </a></li>
                    <li><a href="sample-static-page.html"> Reporting Discussions </a></li>
                    <li><a href="sample-static-page.html"> Reporting Shop Reviews </a></li>
                    <li><a href="sample-static-page.html"> Reporting Product Reviews </a></li>
                    <li><a href="sample-static-page.html"> Reporting Comments </a></li>
                 </ul>
            </div>
            <!-- //DropDown Block -->
        </li>
        
        <li> <a href="sample-static-page.html">Inviting</a> </li>
        <li> <a href="sample-static-page.html">Badges</a> </li>
        <li> <a href="sample-static-page.html">Affiliate Program</a> </li>
        <li> <a href="sample-static-page.html">Finding Friends</a> </li>
        <li> <a href="term-conditions.html">Terms & Conditions</a> </li>
        <li> <a href="privacy-policy.html">Privacy Policy</a> </li>
        <li> <a href="cookie-policy.html">Cookie Policy</a> </li>
        
        <li class="dropdown"  filter-toggle ng-class="{'open':!isCollapsed}">
		<label class="dropdown-toggle"><a href="contact-us.html">Contact Us</a> <span ng-click="isCollapsed = !isCollapsed" class="arrow_right"> </span></label>  
            <!-- DropDown Block -->
        	<div class="dropdown-block" uib-collapse="isCollapsed">
            	 <ul>
                 	<li><a href="for-retailers.html"> For Retailers </a></li>
                    <!--<li><a href="#"> For Partners </a></li>-->
                    <li><a href="workwith-us.html"> Work with us </a></li>
                 </ul>
            </div>
            <!-- //DropDown Block -->
        </li>
        
      </ul>
    </div>
    <!-- //Filter Block -->
    <!-- Filter TOp Treding Deal Block -->
     <div ng-include="'filter-top-trending-deal.html'"></div>
     <!-- //Filter TOp Treding Deal Block -->
</div>
<!-- //FIlter Section -->


