<!-- Filter Section -->
<div  class="filter-section hidden-xs hidden-sm checklist_bar" ng-init="$root.filterhide=true" ng-class="{ 'open':($root.filter_show ) }">
    <div class="filter-overlay"></div>
    
     <!-- Filter Block -->
    <div class="filter-block hidden-xs hidden-sm">
      <h3 class="title">Show</h3>
      <ul>
        <li class="custom-checkboxbtn">
          <p><label>
            <input type="checkbox" name="checkbox" value="Products" >
            <span class="lbl">Online Shops</span> </label><span class="notification">99,999</span></p>
           
           <p><label>
            <input type="checkbox" name="checkbox" value="Products" >
            <span class="lbl">Offline Shops</span> </label><span class="notification">9,999</span></p>
            
        </li>
        
      </ul>
      
        
        </div>

    
    <!-- Filter Block -->
    <div class="filter-block search-fliter">
      <h3 class="title hidden-xs hidden-sm">Show results for <a href="#" class="pull-right link hide">reset all</a></h3>
      <ul>
      	<li class="clearfix hidden-lg hidden-md filter-title"><h3 ng-click="$root.filter_show=false">Filters</h3> 
        <div class="pull-right"><a href="#" class="btn blue-btn" ng-click="$root.filter_show=false">apply</a> <a href="#" class="btn disable">reset</a></div>
        </li>
        
        <li class="dropdown" filter-toggle ng-class="{'open':!isCollapsed}">
        	<label class="dropdown-toggle" ng-click="isCollapsed = !isCollapsed">Keyword <a href="#" class="reset-link pull-right" filter-toggle-reset>reset</a></label>
            <!-- Dropdown --> 
            <div class="dropdown-block" uib-collapse="isCollapsed">
            	<!-- Input -->
            	<div class="input-group add-on search-input">
                    <input class="form-control" placeholder="Keyword" name="srch-term" id="srch-term" type="text">
                    <div class="input-group-btn">
                        <button class="btn btn-search" type="submit"></button>
                        <button class="btn btn-close" type="submit"></button>
                    </div>
                </div>
                <!-- //Input -->
                <!-- error Input -->
                <div class="error_tooltip hide">Lorem ipsum dolor sit amet consectetui</div>
                <div class="input-group add-on search-input error-input hide">
                	<input class="form-control" value="Lorem" name="srch-term" id="srch-term" type="text">
                    <div class="input-group-btn">
                        <button class="btn btn-search" type="submit"></button>
                        <button class="btn btn-close" type="submit"></button>
                    </div>
                </div>
                <!-- error Input -->
                
                <!-- keyword List -->
                <ul class="keyword-list">
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
            	</ul>
                <!-- //keyword List -->            
            </div>
             <!-- //Dropdown -->
        </li>
        
        <li class="dropdown"  filter-toggle ng-class="{'open':!isCollapsed}">
        	<label class="dropdown-toggle" ng-click="isCollapsed = !isCollapsed">Initial</label>
            <!-- DropDown Block -->
        	<div class="dropdown-block" uib-collapse="isCollapsed">
            	<ul class="date_picker">
                	<li><a href="#" class="active">All</a></li><li><a href="#">a</a></li> <li><a href="#">b</a></li> <li><a href="#">c</a></li> <li><a href="#">d</a></li>
                    <li><a href="#">e</a></li> <li><a href="#">f</a></li> <li><a href="#">g</a></li> <li><a href="#">h</a></li> <li><a href="#">i</a></li>
                    <li><a href="#">j</a></li> <li><a href="#">k</a></li> <li><a href="#">l</a></li> <li><a href="#">m</a></li> <li><a href="#">n</a></li>
                    <li><a href="#">o</a></li> <li><a href="#">p</a></li> <li><a href="#">q</a></li> <li><a href="#">r</a></li> <li><a href="#">s</a></li>
                    <li><a href="#">t</a></li> <li><a href="#">u</a></li> <li><a href="#">v</a></li> <li><a href="#">w</a></li> <li><a href="#">x</a></li>
                    <li><a href="#">y</a></li> <li><a href="#">z</a></li> <li><a href="#">0-9</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <!-- //DropDown Block -->
        </li>
        
        <li class="dropdown"  filter-toggle ng-class="{'open':!isCollapsed}">
        <form name="sidepanelrating">
            <label class="dropdown-toggle" ng-click="isCollapsed = !isCollapsed">Rating Range</label>
            <!-- DropDown Block -->
            <div class="dropdown-block" uib-collapse="isCollapsed">
                <!-- FIlter SLider -->
                <div class="filter-slider clearfix" ng-controller="RangeSliderCtrl">
                    <div nslider ng-from="rating.from" ng-to="rating.to" start=0 end=10 step=1></div>
                    <div class="value-input pull-left">
                        <span>from</span> <input type="number" name="fromRating" ng-model="rating.from" min="0" max="10" ng-maxlength="2" ng-class="{'invalidInput':sidepanelrating.fromRating.$invalid}" class="input-filter" >
                    </div>
                    <div class="value-input pull-right">
                        <span>to</span> <input type="number" to-number name="toRating" ng-model="rating.to" max="10" ng-maxlength="2" ng-class="{'invalidInput':sidepanelrating.toRating.$invalid}" class="input-filter">
                    </div>
                </div>
                <!-- //FIlter SLider -->
            </div>
            <!-- //DropDown Block -->
            </form>
        </li>
        
           <li class="dropdown"  filter-toggle ng-class="{'open':!isCollapsed}" ng-controller="RangeSliderCtrl">
            <form name="sidepaneldb">
            <label class="dropdown-toggle" ng-click="isCollapsed = !isCollapsed">DB Range <a class="reset-link pull-right" filter-toggle-reset min="-9999", max="9999" slidertype="dbRange">reset</a></label>
            <!-- DropDown Block -->
            <div class="dropdown-block" uib-collapse="isCollapsed">
                <!-- FIlter SLider -->
                <div class="filter-slider clearfix">
                    <div nslider ng-from="db.from" ng-to="db.to" start=-9999 end=9999 step=1></div>
                    <div class="value-input pull-left">
                        <span>from dB</span> <input type="number" name="fromDb" ng-model="db.from" min="-9999" max="9999" ng-maxlength="5" ng-class="{'invalidInput':sidepaneldb.fromDb.$invalid}" class="input-filter" >
                    </div>
                    <div class="value-input pull-right">
                        <span>to dB</span> <input type="number" to-number name="toDb" ng-model="db.to" max="9999" ng-maxlength="4" ng-class="{'invalidInput':sidepaneldb.toDb.$invalid}" class="input-filter">
                    </div>
                </div>
                <!-- //FIlter SLider -->
            </div>
            <!-- //DropDown Block -->
            </form>
        </li>
        
         <li class="dropdown"  filter-toggle ng-class="{'open':!isCollapsed}" ng-controller="RangeSliderCtrl">
         <form name="sidepanelprice">
            <label class="dropdown-toggle" ng-click="isCollapsed = !isCollapsed">Price Range <a class="reset-link pull-right" filter-toggle-reset min="0", max="99999" slidertype="priceRange">reset</a></label>
            <!-- DropDown Block -->
            <div class="dropdown-block" uib-collapse="isCollapsed">
                <!-- FIlter SLider -->
                    <div class="filter-slider clearfix">
                        <div nslider ng-from="price.from" ng-to="price.to" start=0 end=99999 step=1></div>
                        <div class="value-input pull-left">
                            <span>from dB</span> <input type="number" to-number name="fromPrice" ng-model="price.from" min="0" max="99999" ng-maxlength="5" ng-class="{'invalidInput':sidepanelprice.fromPrice.$invalid}" class="input-filter" >
                        </div>
                        <div class="value-input pull-right">
                            <span>to dB</span> <input type="number" to-number name="toPrice" ng-model="price.to" max="99999" ng-maxlength="5" ng-class="{'invalidInput':sidepanelprice.toPrice.$invalid}" class="input-filter">
                        </div>
                </div>
                <!-- //FIlter SLider -->
            </div>
            <!-- //DropDown Block -->
            </form>
        </li>
       <li class="dropdown"  filter-toggle ng-class="{'open':!isCollapsed}">
        	<label class="dropdown-toggle" ng-click="isCollapsed = !isCollapsed">Time Range <a href="#" class="reset-link pull-right" filter-toggle-reset>reset</a></label>
            <!-- DropDown Block -->
        	<div class="dropdown-block clearfix" uib-collapse="isCollapsed">
            	<!-- Custom Dropdown -->
                <div ng-controller="DropdownCtrl">
                    <div class="dropdown custom-dropdown" uib-dropdown="1">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" uib-dropdown-toggle ng-init="timerange='All Time'">
                        {{ timerange }} 
                    </a>			
                    <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                        <li><a href="#" ng-class= "active('All Time', timerange)"  ng-click="timerange='All Time'">All Time</a></li>
                        <li><a href="#" ng-class= "active('Custom Range', timerange)" ng-click="timerange='Custom Range'">Custom Range</a></li>
                        <li><a href="#" ng-class= "active('Custom Range1', timerange)" ng-click="timerange='Custom Range1'">Custom Range1</a></li>
                    </ul>
                </div>
                </div>
          		 <!-- // Custom Dropdown -->
                 <!-- Date Picker-->
                  <div ng-controller="DatepickerPopupDemoCtrl" class="datepicker">
                    <div class="input-group">
                    	<label>Form</label>
                        <!-- <input type="text" class="form-control" value="12/03/2016/"> -->
						<input type="text" class="form-control form-control-icon" placeholder="dd/mm/yyyy"
                                	uib-datepicker-popup="{{format}}" ng-model="formData.fromDate" 
                                    is-open="calendar_open" datepicker-options="dateOptions" 
                                    ng-required="true" close-text="Close" 
                                    alt-input-formats="altInputFormats" ng-click="calendar_open=!calendar_open" />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="calendar_open=!calendar_open"><img src="assets/images/icons/calendar_icon.svg" /></button>
                        </span>
                    </div>
                    
                    <div class="input-group">
                        <label>to</label>
                        <input type="text" class="form-control form-control-icon" placeholder="dd/mm/yyyy"
                                    uib-datepicker-popup="{{format}}" ng-model="formData.toDate" 
                                    is-open="calendar_open2" datepicker-options="dateOptions" 
                                    ng-required="true" close-text="Close" 
                                    alt-input-formats="altInputFormats" ng-click="calendar_open2=!calendar_open2" />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="calendar_open2=!calendar_open2"><img src="assets/images/icons/calendar_icon.svg" /></button>
                        </span>
                    
                    </div>
            	</div>
            </div>
            <!-- //DropDown Block -->
        </li>
       
         <li class="dropdown"  filter-toggle ng-class="{'open':!isCollapsed}">
        	<label class="dropdown-toggle" ng-click="isCollapsed = !isCollapsed">Category <a href="#" class="reset-link pull-right" filter-toggle-reset>reset</a></label>
            <!-- DropDown Block -->
        	<div class="dropdown-block" uib-collapse="isCollapsed">
            	<!-- Scroll Content -->
                <div class="multiselect-panel clearfix scrollarea"
			ng-scrollbars ng-scrollbars-config="{}"
			style="max-height: 147px; height: 147px;">
            <ul class="custom-checkboxbtn">
            <li>
            	<label><input type="checkbox" name="checkbox"><span class="lbl">Clothing & Fashion</span></label> <span class="notification">99</span>
            </li>
            <li>
            	<label><input type="checkbox" name="checkbox"><span class="lbl">Electronics & Photography</span></label> <span class="notification">99</span>
            </li>
            <li>
            	<label><input type="checkbox" name="checkbox"><span class="lbl">Shoes</span></label> <span class="notification">99</span>
            </li>
            <li>
            	<label><input type="checkbox" name="checkbox"><span class="lbl">Smartphones</span></label> <span class="notification">99</span>
            </li>
            <li>
            	<label><input type="checkbox" name="checkbox"><span class="lbl">Videogames & Consoles</span></label> <span class="notification">99</span>
            </li>
            <li>
            	<label><input type="checkbox" name="checkbox"><span class="lbl">Clothing & Fashion</span></label> <span class="notification">99</span>
            </li>
            <li>
            	<label><input type="checkbox" name="checkbox"><span class="lbl">Clothing & Fashion</span></label> <span class="notification">99</span>
            </li>
            <li>
            	<label><input type="checkbox" name="checkbox"><span class="lbl">Clothing & Fashion</span></label> <span class="notification">99</span>
            </li>
            <li>
            	<label><input type="checkbox" name="checkbox"><span class="lbl">Clothing & Fashion</span></label> <span class="notification">99</span>
            </li>
            <li>
            	<label><input type="checkbox" name="checkbox"><span class="lbl">Clothing & Fashion</span></label> <span class="notification">99</span>
            </li>
           
            </ul>
            
                
                </div>
                <!-- //Scroll Content -->
            </div>
            <!-- //DropDown Block -->
        </li>
        
          <li class="dropdown"  filter-toggle ng-class="{'open':!isCollapsed}">
        	<label class="dropdown-toggle" ng-click="isCollapsed = !isCollapsed">Shout Genre </label>
            <!-- DropDown Block -->
        	<div class="dropdown-block" uib-collapse="isCollapsed">
            	<!-- Scroll Content -->
                <div class="multiselect-panel clearfix scrollarea"
			ng-scrollbars ng-scrollbars-config="{}"
			style="max-height: 147px; height: 147px;">
            <ul class="custom-checkboxbtn">
            <li>
            	<label><input type="checkbox" name="checkbox"><span class="lbl">Deals </span></label> <span class="notification">99</span>
            </li>
            <li>
            	<label><input type="checkbox" name="checkbox"><span class="lbl">Products</span></label> <span class="notification">99</span>
            </li>
            <li>
            	<label><input type="checkbox" name="checkbox"><span class="lbl">Sales</span></label> <span class="notification">99</span>
            </li>
            <li>
            	<label><input type="checkbox" name="checkbox"><span class="lbl">Coupons</span></label> <span class="notification">99</span>
            </li>
            <li>
            	<label><input type="checkbox" name="checkbox"><span class="lbl">Flyers</span></label> <span class="notification">99</span>
            </li>
            <li>
            	<label><input type="checkbox" name="checkbox"><span class="lbl">Freebies</span></label> <span class="notification">99</span>
            </li>
            <li>
            	<label><input type="checkbox" name="checkbox"><span class="lbl">Competitions</span></label> <span class="notification">99</span>
            </li>
            <li>
            	<label><input type="checkbox" name="checkbox"><span class="lbl">Tips</span></label> <span class="notification">99</span>
            </li>
            <li>
            	<label><input type="checkbox" name="checkbox"><span class="lbl">Shop Reviews</span></label> <span class="notification">99</span>
            </li>
            
           
            </ul>
            </div>
                <!-- //Scroll Content -->
            </div>
            <!-- //DropDown Block -->
        </li>
          
          <li class="dropdown"  filter-toggle ng-class="{'open':!isCollapsed}">
        	<label class="dropdown-toggle" ng-click="isCollapsed = !isCollapsed">Shout Type</label>
            <!-- DropDown Block -->
        	<div class="dropdown-block" uib-collapse="isCollapsed">
            	<!-- Scroll Content -->
                <div class="multiselect-panel clearfix scrollarea"
			ng-scrollbars ng-scrollbars-config="{}"
			style="max-height: 147px; height: 147px;">
            
            	<ul class="custom-checkboxbtn">
            <li>
            	<label><input type="checkbox" name="checkbox"><span class="lbl">Shopping </span></label> <span class="notification">99</span>
            </li>
            <li>
            	<label><input type="checkbox" name="checkbox"><span class="lbl">Food</span></label> <span class="notification">99</span>
            </li>
            <li>
            	<label><input type="checkbox" name="checkbox"><span class="lbl">Wellness</span></label> <span class="notification">99</span>
            </li>
            <li>
            	<label><input type="checkbox" name="checkbox"><span class="lbl">Services</span></label> <span class="notification">99</span>
            </li>
            <li>
            	<label><input type="checkbox" name="checkbox"><span class="lbl">Travel</span></label> <span class="notification">99</span>
            </li>
            
            </ul>
              
                </div>
                <!-- //Scroll Content -->
            </div>
            <!-- //DropDown Block -->
        </li>
       
       <li class="dropdown"  filter-toggle ng-class="{'open':!isCollapsed}">
        	<label class="dropdown-toggle" ng-click="isCollapsed = !isCollapsed">Country <a href="#" class="reset-link pull-right" filter-toggle-reset>reset</a></label>
        	<div class="dropdown-block" uib-collapse="isCollapsed">
            	<!-- Scroll Content -->
                <div class="multiselect-panel clearfix scrollarea"
			ng-scrollbars ng-scrollbars-config="{}"
			style="max-height: 147px; height: 147px;">
            <ul class="custom-checkboxbtn">
                <li>
                    <label><input type="checkbox" name="checkbox"><span class="lbl"><img src="assets/images/flag/uk-flag.jpg" />United Kingdom</span></label> <span class="notification">99</span>
                </li>
                <li>
                    <label><input type="checkbox" name="checkbox"><span class="lbl"><img src="assets/images/flag/italy-flag.jpg" /> Italy</span></label> <span class="notification">99</span>
                </li>
                <li>
                    <label><input type="checkbox" name="checkbox"><span class="lbl"><img src="assets/images/flag/germany-flag.jpg" /> Germany</span></label> <span class="notification">99</span>
                </li>
                <li>
                    <label><input type="checkbox" name="checkbox"><span class="lbl"><img src="assets/images/flag/france-flag.jpg" /> France</span></label> <span class="notification">99</span>
                </li>
                <li>
                    <label><input type="checkbox" name="checkbox"><span class="lbl"><img src="assets/images/flag/spain-flag.jpg" />Spain</span></label> <span class="notification">99</span>
                </li>
                <li>
                    <label><input type="checkbox" name="checkbox"><span class="lbl"><img src="assets/images/flag/austria-flag.jpg" /> Austria</span></label> <span class="notification">99</span> 
                </li>
                <li>
                    <label><input type="checkbox" name="checkbox"><span class="lbl"><img src="assets/images/flag/belgium-flag.jpg" /> Belgium</span></label> <span class="notification">99</span>
                </li>
                <li>
                    <label><input type="checkbox" name="checkbox"><span class="lbl"><img src="assets/images/flag/portugal-flag.jpg" /> Portugal</span></label> <span class="notification">99</span>
                </li>
                <li>
                    <label><input type="checkbox" name="checkbox"><span class="lbl"><img src="assets/images/flag/denmark-flag.jpg" /> Denmark</span></label> <span class="notification">99</span>
                </li>
                <li>
                    <label><input type="checkbox" name="checkbox"><span class="lbl"><img src="assets/images/flag/swiss-flag.png" /> Swiss</span></label> <span class="notification">99</span>
                </li>
           
            </ul>
            </div>
                <!-- //Scroll Content -->
            </div>
            <!-- //DropDown Block -->
        </li>
       
       <li class="dropdown"  filter-toggle ng-class="{'open':!isCollapsed}">
        	<label class="dropdown-toggle" ng-click="isCollapsed = !isCollapsed">Proximity <a href="#" class="reset-link pull-right" filter-toggle-reset>reset</a></label>
        	<div class="dropdown-block clearfix" uib-collapse="isCollapsed">
            	<!-- Custom Dropdown -->
                <div ng-controller="DropdownCtrl">
                    <div class="dropdown custom-dropdown" uib-dropdown="1">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" uib-dropdown-toggle ng-init="proximity='Any distance from'">
                        {{ proximity }} 
                    </a>			
                    <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                        <li><a href="#" ng-class= "active('Any distance from', proximity)"  ng-click="proximity='Any distance from'">Any distance from</a></li>
                        <li><a href="#" ng-class= "active('10 Km from', proximity)" ng-click="proximity='10 Km from'">10 Km from</a></li>
                        <li><a href="#" ng-class= "active('20 Km from', proximity)" ng-click="proximity='20 Km from'">20 Km from</a></li>
                        <li><a href="#" ng-class= "active('50 Km from', proximity)" ng-click="proximity='50 Km from'">50 Km from</a></li>
                        <li><a href="#" ng-class= "active('100 Km from', proximity)" ng-click="proximity='100 Km from'">100 Km from</a></li>
                     </ul>
                </div>
                </div>
          		 <!-- // Custom Dropdown -->
                 <!-- Input -->
            	<div class="input-group add-on search-input">
                    <input class="form-control" placeholder="Enter your location" type="text">
                </div>
                <!-- //Input -->
                 
            </div>
            <!-- //DropDown Block -->
        </li>
         
      </ul>
    </div>
    <!-- //Filter Block -->
      <!-- Filter TOp Treding Deal Block -->
     <div ng-include="'filter-top-trending-deal.html'"></div>
     <!-- //Filter TOp Treding Deal Block -->
    
</div>
<!-- //FIlter Section -->


