
  <div class="clearfix m_btm30">
		<div class="empty-message m_top_p20">
            <img class="img-responsive" src="assets/images/svg/no_contents.svg">
            <h3>This Shouter is not following any Shouter yet</h3>
            <p>And you? Invite your friends on Shout, or start following some of our recommended Shouters</p>
          
   <div class="friend_social">
  
  	<ul class="social_media">
       <li><a href="#" class="fb"><span></span>invite friends<em class="affiliate-icon">£</em></a></li>
       <li><a href="#" class="gplus"><span></span>invite friends<em class="affiliate-icon">£</em></a></li>
       <li ng-controller="Modalinvite_friends"><a href="#" ng-click="openinvite_friends()" class="contact_social"><span></span>invite friends<em class="affiliate-icon">£</em></a></li>
       <li ng-controller="Modalrecommended_shouters"><a href="#" ng-click="openrecommended_shouters('width600')" class="recommended"><span></span> recommended </a></li>
     </ul>
     
  </div>
  

        </div>
</div>
  
