<div class="footer">
    <!-- Footer Top -->
    <div class="footer-top">
        <div class="container">
        	<h3>Shout is the world's first <strong>shopping community</strong> capable of recommending <strong>true convenience in real-time</strong>.</h3>
            <ul>
            	<li>
                	<img src="assets/images/footer/shouters-icon.svg" width="64px" height="64px" />
                    <h4>99,999
					<span>members</span>
                    </h4>
                </li>
            	<li>
                	<img src="assets/images/footer/savings-icon.svg" width="64px" height="64px" />
                    <h4>£9,999,999
					<span>saved</span>
                    </h4>
                </li>
            	<li>
                	<img src="assets/images/footer/deals-icon.svg" width="64px" height="64px" />
                    <h4>999,999
					<span>deals</span>
                    </h4>
                </li>
            	<li>
                	<img src="assets/images/footer/products-icon.svg" width="64px" height="64px" />
                    <h4>2,738,456
					<span>products</span>
                    </h4>
                </li>
                <li>
                	<img src="assets/images/footer/shops-icon.svg" width="64px" height="64px" />
                    <h4>1,635
					<span>shops</span>
                    </h4>
                </li>
             </ul>
    
        </div>
    </div>
    <!-- //Footer Top -->
    <!-- Footer Copytright -->
		<div class="footer-bottom">
   			<div class="container-fluid">
            	 <div class="pull-right footer-link">
                 
                 
                    <ul class="nav-link">
                        <li><a href="whatisshout.html">About Us</a></li>
                        <li><a href="faq.html">FAQs</a></li>
                        <li><a href="contact-us.html">Contact Us</a></li>
                    </ul>
                    
                 	<span class="follow_text">Follow us on</span>
                    <div class="social-icon">
                    	<ul>
                        	<li class=""><a href="#">
                            	<img src="assets/images/footer/facebook_normal.svg" class="normal" width="34px" height="34px" />
                                <img src="assets/images/footer/facebook_onhover.svg" class="hover" width="34px" height="34px" />
                                <img src="assets/images/footer/facebook_onclick.svg" class="active" width="34px" height="34px" />
                         	</a>
                         </li>
                        <li class=""><a href="#">
                        		<img src="assets/images/footer/twitter_normal.svg" class="normal" width="34px" height="34px" />
                                <img src="assets/images/footer/twitter_onhover.svg" class="hover" width="34px" height="34px" />
                                <img src="assets/images/footer/twitter_onclick.svg" class="active" width="34px" height="34px" />
                            </a>
                         </li>
                        <li class=""><a href="#">
                        	    <img src="assets/images/footer/google_normal.svg" class="normal" width="34px" height="34px" />
                                <img src="assets/images/footer/google_onhover.svg" class="hover" width="34px" height="34px" />
                                <img src="assets/images/footer/google_onclick.svg" class="active" width="34px" height="34px" />
                            </a>
                         </li>
                         <li ng-controller="Modalinvite_friends">
                         	<a href="#" class="btn green-btn" ng-click="openinvite_friends()"><span class="affiliate-icon"></span> invite friends</a>
                         </li>
                        </ul>
                    
                    </div>
                 
                 </div>
                 
                 <div class="pull-left copyright">
                    <!-- Logo -->
                    <a class="logo" href="http://192.155.246.146:8289">
                        <img alt="Shout"  src="assets/images/logo_shout.svg">
                    </a>
                    <!-- //Logo -->
                    © 2017
                    
                 </div>
            
            </div>    
        </div>
    <!-- //Footer Copytright -->
    <!-- Footer Logo -->
    	<div class="footer-logo text-center">
    		<div class="container">
            	<img src="assets/images/footer/emblemi-slogan.svg" width="762px" height="65px"   alt="shout" class="img-responsive img-center" />
            </div>    
        </div>
    <!-- //Footer Logo -->
    
    
</div>

<div class="feedback_btn" ng-controller="Modalfeedback">
    <a href="#" ng-click="openfeedback('width797 feedbackpoop')">
    	<span>
        </span>
    </a>
</div>