
<div class="showresult-msg">857 results matching the 8 applied filters <a href="#" class="pull-right reset-btn-small"><span><img src="assets/images/svg/reset_all_filters_small.svg" alt=""></span>RESET ALL FILTERS</a>
                             <div class="clearfix"></div>
                             </div>

<div class="panel panel-default">
  <div class="table_box">
  
    <div class="row_box">
    
      <div class="cell_box"> <span class="new_label"></span>
        <div class="block_user"><img src="assets/images/friend.jpg" alt=""><a href="http://192.155.246.146:8289/user-shouts.html"></a></div>
      </div>
      
      <div class="cell_box">
        <h4><a href="http://192.155.246.146:8289/user-shouts.html">Gianneta</a> </h4>
        <p class="font_14grey">friends since 20 Oct 2015</p>
        
        <ul class="badges-icon" ng-controller="Modalbadges">
            	<li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/pioneer1_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/pioneer1_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/pioneer1_onclick.svg">
                    </a>
                </li>
                 <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/neoshouter1_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/neoshouter1_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/neoshouter1_onclick.svg">
                    </a>
                </li>
                <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/social1_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/social1_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/social1_onclick.svg">
                    </a>
                </li>
                    <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/contributor3_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/contributor3_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/contributor3_onclick.svg">
                    </a>
                </li>
                <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/celebrity3_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/celebrity3_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/celebrity3_onclick.svg">
                    </a>
                </li>
                 <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/chatty3_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/chatty3_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/chatty3_onclick.svg">
                    </a>
                </li>
             
                
               
                <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/stunning3_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/stunning3_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/stunning3_onclick.svg">
                    </a>
                </li>
                <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/ultrasonic1_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/ultrasonic1_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/ultrasonic1_onclick.svg">
                    </a>
                </li>
              
               
            </ul>
      </div>
      
      <div class="cell_box">
        <h4><a href="http://192.155.246.146:8289/user-shouts.html"><strong>9,999</strong> <span class="font14">shouts</span></a></h4>
      </div>
      
      <div class="cell_box">
        <p class="font18_14grey">average:  <span>9999<sup>dB</sup></span></p>
      </div>
      
      <div class="cell_box">
        <p class="font18_14grey">contributed: <span>9999<sup>dB</sup></span></p>
      </div>
      
      <div class="cell_box"> 
     
	 <p class="frnd_icons">
        <span ng-controller="Modalwritemsg">
          <a href="#" ng-click="openWritemsg()"> 
              <img class="normal" src="assets/images/icons/userpages/write_message_normal.svg"> 
              <img class="hover" src="assets/images/icons/userpages/write_message_onhover.svg"> 
              <img class="active" src="assets/images/icons/userpages/write_message_onclick.svg"> 
          </a> 
          </span>
          <span>
          <a href="http://192.155.246.146:8289/friends.html"> 
              <img class="normal" src="assets/images/icons/userpages/1_follow_normal.svg"> 
              <img class="hover" src="assets/images/icons/userpages/2_follow_onhover.svg"> 
              <img class="active" src="assets/images/icons/userpages/3_follow_onclick.svg"> 
          </a> 
          </span>
		  
		  <span>
          <a href="#"> 
              <img class="normal" src="assets/images/icons/userpages/block_normal.svg"> 
              <img class="hover" src="assets/images/icons/userpages/block_onhover.svg"> 
              <img class="active" src="assets/images/icons/userpages/block_onclick.svg"> 
          </a> 
          </span>
     </p>
      
      </div>
      
    </div>
    
    <div class="row_box">
    
      <div class="cell_box"> <span class="new_label"></span>
        <div class="block_user"><img src="assets/images/friend.jpg" alt=""><a href="http://192.155.246.146:8289/user-shouts.html"></a></div>
      </div>
      
      <div class="cell_box">
        <h4><a href="http://192.155.246.146:8289/user-shouts.html">Gianneta</a> </h4>
        <p class="font_14grey">friends since 20 Oct 2015</p>
        
        <ul class="badges-icon" ng-controller="Modalbadges">
            	<li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/pioneer1_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/pioneer1_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/pioneer1_onclick.svg">
                    </a>
                </li>
                 <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/neoshouter1_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/neoshouter1_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/neoshouter1_onclick.svg">
                    </a>
                </li>
                <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/social1_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/social1_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/social1_onclick.svg">
                    </a>
                </li>
                    <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/contributor3_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/contributor3_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/contributor3_onclick.svg">
                    </a>
                </li>
                <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/celebrity3_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/celebrity3_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/celebrity3_onclick.svg">
                    </a>
                </li>
                 <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/chatty3_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/chatty3_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/chatty3_onclick.svg">
                    </a>
                </li>
       
            </ul>
      </div>
      
      <div class="cell_box">
        <h4><a href="http://192.155.246.146:8289/user-shouts.html"><strong>99</strong> <span class="font14">shouts</span></a></h4>
      </div>
      
      <div class="cell_box">
        <p class="font18_14grey">average:  <span>9999<sup>dB</sup></span></p>
      </div>
      
      <div class="cell_box">
        <p class="font18_14grey">contributed: <span>9999<sup>dB</sup></span></p>
      </div>
      
      <div class="cell_box"> 
  
	 <p class="frnd_icons">
        <span ng-controller="Modalwritemsg">
          <a href="#" ng-click="openWritemsg()"> 
              <img class="normal" src="assets/images/icons/userpages/write_message_normal.svg"> 
              <img class="hover" src="assets/images/icons/userpages/write_message_onhover.svg"> 
              <img class="active" src="assets/images/icons/userpages/write_message_onclick.svg"> 
          </a> 
          </span>
          <span>
          <a href="http://192.155.246.146:8289/friends.html"> 
              <img class="normal" src="assets/images/icons/userpages/1_follow_normal.svg"> 
              <img class="hover" src="assets/images/icons/userpages/2_follow_onhover.svg"> 
              <img class="active" src="assets/images/icons/userpages/3_follow_onclick.svg"> 
          </a> 
          </span>
		  
		  <span>
          <a href="#"> 
              <img class="normal" src="assets/images/icons/userpages/block_normal.svg"> 
              <img class="hover" src="assets/images/icons/userpages/block_onhover.svg"> 
              <img class="active" src="assets/images/icons/userpages/block_onclick.svg"> 
          </a> 
          </span>
     </p>
      
      
      </div>
      
    </div>
    
    <div class="row_box">
    
      <div class="cell_box">
        <div class="block_user"><img src="assets/images/friend.jpg" alt=""><a href="http://192.155.246.146:8289/user-shouts.html"></a></div>

      </div>
      
      <div class="cell_box">
        <h4><a href="http://192.155.246.146:8289/user-shouts.html">Gianneta</a> <span>Banned</span> </h4>
        <p class="font_14grey">friends since 20 Oct 2015</p>
        
        <ul class="badges-icon"  ng-controller="Modalbadges">
            	<li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/pioneer1_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/pioneer1_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/pioneer1_onclick.svg">
                    </a>
                </li>
                 <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/neoshouter1_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/neoshouter1_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/neoshouter1_onclick.svg">
                    </a>
                </li>
               
             
            </ul>
      </div>
      
      <div class="cell_box">
        <h4><a href="http://192.155.246.146:8289/user-shouts.html"><strong>1</strong> <span class="font14">shouts</span></a></h4>
      </div>
      
      <div class="cell_box">
        <p class="font18_14grey">average:  <span>9999<sup>dB</sup></span></p>
      </div>
      
      <div class="cell_box">
        <p class="font18_14grey">contributed: <span>9999<sup>dB</sup></span></p>
      </div>
      
      <div class="cell_box"> 
    
	 <p class="frnd_icons"> 
          <span>
          <a href="http://192.155.246.146:8289/friends.html"> 
              <img class="normal" src="assets/images/icons/userpages/1_follow_normal.svg"> 
              <img class="hover" src="assets/images/icons/userpages/2_follow_onhover.svg"> 
              <img class="active" src="assets/images/icons/userpages/3_follow_onclick.svg"> 
          </a> 
          </span>
		  
		  <span>
          <a href="#"> 
              <img class="normal" src="assets/images/icons/userpages/block_normal.svg"> 
              <img class="hover" src="assets/images/icons/userpages/block_onhover.svg"> 
              <img class="active" src="assets/images/icons/userpages/block_onclick.svg"> 
          </a> 
          </span>
     </p>
      
      
      </div>
      
    </div>
    
    
  </div>
  
  <div class="friend_social">
  
  	<ul class="social_media">
       <li><a href="#" class="fb"><span></span>invite friends<em class="affiliate-icon">£</em></a></li>
       <li><a href="#" class="gplus"><span></span>invite friends<em class="affiliate-icon">£</em></a></li>
       <li ng-controller="Modalinvite_friends"><a href="#" ng-click="openinvite_friends()" class="contact_social"><span></span>invite friends<em class="affiliate-icon">£</em></a></li>
        <li ng-controller="Modalrecommended_shouters">
       <a href="" ng-click="openrecommended_shouters('width600')" class="recommended"><span></span> recommended </a>
       </li>
       
     </ul>
     
  </div>
  
    <div class="table_box">
  
    <div class="row_box">
    
      <div class="cell_box">         
      <div class="block_user"><img src="assets/images/friend.jpg" alt=""><a href="http://192.155.246.146:8289/user-shouts.html"></a></div>

      </div>
      
      <div class="cell_box">
        <h4><a href="http://192.155.246.146:8289/user-shouts.html">AngelinaJolie</a> </h4>
        <p class="font_14grey">friends since 20 Oct 2015</p>
        
        <ul class="badges-icon"  ng-controller="Modalbadges">
            	<li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/pioneer1_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/pioneer1_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/pioneer1_onclick.svg">
                    </a>
                </li>
                 <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/neoshouter1_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/neoshouter1_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/neoshouter1_onclick.svg">
                    </a>
                </li>
                <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/social1_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/social1_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/social1_onclick.svg">
                    </a>
                </li>
                    <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/contributor3_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/contributor3_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/contributor3_onclick.svg">
                    </a>
                </li>
                <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/celebrity3_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/celebrity3_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/celebrity3_onclick.svg">
                    </a>
                </li>
                 <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/chatty3_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/chatty3_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/chatty3_onclick.svg">
                    </a>
                </li>
             
                
               
                <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/stunning3_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/stunning3_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/stunning3_onclick.svg">
                    </a>
                </li>
                <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/ultrasonic1_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/ultrasonic1_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/ultrasonic1_onclick.svg">
                    </a>
                </li>
              
               
            </ul>
     
	 </div>
      
      <div class="cell_box">
        <h4><a href="http://192.155.246.146:8289/user-shouts.html"><strong>9,999</strong> <span class="font14">shouts</span></a></h4>
      </div>
      
      <div class="cell_box">
        <p class="font18_14grey">average:  <span>9999<sup>dB</sup></span></p>
      </div>
      
      <div class="cell_box">
        <p class="font18_14grey">contributed: <span>9999<sup>dB</sup></span></p>
      </div>
      
      <div class="cell_box"> 
   
	 <p class="frnd_icons">
        <span ng-controller="Modalwritemsg">
          <a href="#" ng-click="openWritemsg()"> 
              <img class="normal" src="assets/images/icons/userpages/write_message_normal.svg"> 
              <img class="hover" src="assets/images/icons/userpages/write_message_onhover.svg"> 
              <img class="active" src="assets/images/icons/userpages/write_message_onclick.svg"> 
          </a> 
          </span>
          <span>
          <a href="http://192.155.246.146:8289/friends.html"> 
              <img class="normal" src="assets/images/icons/userpages/1_follow_normal.svg"> 
              <img class="hover" src="assets/images/icons/userpages/2_follow_onhover.svg"> 
              <img class="active" src="assets/images/icons/userpages/3_follow_onclick.svg"> 
          </a> 
          </span>
		  
		  <span>
          <a href="#"> 
              <img class="normal" src="assets/images/icons/userpages/block_normal.svg"> 
              <img class="hover" src="assets/images/icons/userpages/block_onhover.svg"> 
              <img class="active" src="assets/images/icons/userpages/block_onclick.svg"> 
          </a> 
          </span>
     </p>
      
      
      </div>
      
    </div>
    
    <div class="row_box disbale_row">
    
      <div class="cell_box">         
      <div class="block_user"><img src="assets/images/black_img.jpg" alt=""/><a href="http://192.155.246.146:8289/user-shouts.html"></a></div>

      </div>
      
      <div class="cell_box">
        <h4>Gianfranco</h4>
        <p class="font_14grey">friends since 20 Oct 2015</p>
        
        
        <ul class="badges-icon"  ng-controller="Modalbadges">
            	<li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/pioneer1_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/pioneer1_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/pioneer1_onclick.svg">
                    </a>
                </li>
                 <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/neoshouter1_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/neoshouter1_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/neoshouter1_onclick.svg">
                    </a>
                </li>
                <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/social1_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/social1_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/social1_onclick.svg">
                    </a>
                </li>
                    <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/contributor3_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/contributor3_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/contributor3_onclick.svg">
                    </a>
                </li>
                <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/celebrity3_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/celebrity3_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/celebrity3_onclick.svg">
                    </a>
                </li>
                 <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/chatty3_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/chatty3_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/chatty3_onclick.svg">
                    </a>
                </li>
             
                
               
                <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/stunning3_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/stunning3_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/stunning3_onclick.svg">
                    </a>
                </li>
                <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/ultrasonic1_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/ultrasonic1_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/ultrasonic1_onclick.svg">
                    </a>
                </li>
              
               
            </ul>
     
            
      </div>
      
      <div class="cell_box">
        <h4><strong>99</strong> <span class="font14">shouts</span></h4>
      </div>
      
      <div class="cell_box">
        <p class="font18_14grey">average:  <span>9999<sup>dB</sup></span></p>
      </div>
      
      <div class="cell_box">
        <p class="font18_14grey">contributed: <span>9999<sup>dB</sup></span></p>
      </div>
      
      <div class="cell_box"> 
    
	 <p class="frnd_icons">
        <span ng-controller="Modalwritemsg">
          <a href="#" ng-click="openWritemsg()"> 
              <img class="normal" src="assets/images/icons/userpages/write_message_normal.svg"> 
              <img class="hover" src="assets/images/icons/userpages/write_message_onhover.svg"> 
              <img class="active" src="assets/images/icons/userpages/write_message_onclick.svg"> 
          </a> 
          </span>
          <span>
          <a href="http://192.155.246.146:8289/friends.html"> 
              <img class="normal" src="assets/images/icons/userpages/1_follow_normal.svg"> 
              <img class="hover" src="assets/images/icons/userpages/2_follow_onhover.svg"> 
              <img class="active" src="assets/images/icons/userpages/3_follow_onclick.svg"> 
          </a> 
          </span>
		  
		  <span>
          <a href="#"> 
              <img class="normal" src="assets/images/icons/userpages/block_onclick.svg"> 
			   <img class="hover" src="assets/images/icons/userpages/block_normal.svg"> 
              <img class="active" src="assets/images/icons/userpages/block_onhover.svg"> 
          </a> 
          </span>
     </p>
      
      
      </div>
      
    </div>
    
    <div class="row_box banned_user">
    
      <div class="cell_box">         
      <div class="block_user"><img class="default_img" src="assets/images/svg/user.svg" alt=""><a href="http://192.155.246.146:8289/user-shouts.html"></a></div>

      </div>
      
      <div class="cell_box">
        <h4><a href="http://192.155.246.146:8289/user-shouts.html">Unknown</a> <span class="banned_text">Banned</span></h4>
        <p class="font_14grey">friends since 20 Oct 2015</p>
        
        <ul class="badges-icon"  ng-controller="Modalbadges">
            	<li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/pioneer1_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/pioneer1_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/pioneer1_onclick.svg">
                    </a>
                </li>
                 <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/neoshouter1_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/neoshouter1_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/neoshouter1_onclick.svg">
                    </a>
                </li>
         
            </ul>
      </div>
      
      <div class="cell_box">
        <h4><strong>1</strong> <span class="font14">shouts</span></h4>
      </div>
      
      <div class="cell_box">
        <p class="font18_14grey">average:  <span>9<sup>dB</sup></span></p>
      </div>
      
      <div class="cell_box">
        <p class="font18_14grey">contributed: <span>9<sup>dB</sup></span></p>
      </div>
      
      <div class="cell_box"> 
     
	 <p class="frnd_icons">
		  <span></span>
          <span>
          <a href="http://192.155.246.146:8289/friends.html"> 
              <img class="normal" src="assets/images/icons/userpages/4_unfollow_normal.svg"> 
              <img class="hover" src="assets/images/icons/userpages/5_unfollow_onhover.svg"> 
              <img class="active" src="assets/images/icons/userpages/6_unfollow_onclick.svg"> 
          </a> 
          </span>
		  <span></span>
     </p>
      
      
      </div>
      
    </div>
    
    
    
  </div>
  
</div>
