<nav class="navbar navbar-fixed-top header-bar" role="navigation">
    <div class="navbar-header"  ng-click="closemmenubyheader()">
    	<!-- Logo -->
        <a class="navbar-brand logo" href="index.html">
            <img alt="Shout" src="assets/images/shout_logo_beta.svg">
        </a>
        <!-- //Logo -->
        
        
         <div class="dropdown category_dropdown hidden-xs">
        	<a href="#menu" class="dropdown-toggle new_design"> CATEGORIES  
            	<img src="assets/images/svg/arrow_white_open.svg" alt="" class="close_arrow">
                <img src="assets/images/cross.svg" alt="" width="20px" height="20px" class="open_arrow" ng-click="closemmenu()"/>
            </a>
            
            
                <div id="menu" mmenu>
                <div ng-scrollbars ng-scrollbars-config=""  ng-style="callHeight">
                        <ul>
                            <li><span>Appliances</span></li>
                            <li><span>Baby</span></li>
                            <li><span>Books, Music & Films</span></li>
                            <li><span>Clothing & Fashion</span>
                               <ul>
                                  <li class="not_hover"><h5>Clothing & Fashion</h5></li>
                                  <li class="not_hover"><p>All in Clothing & Fashion</p></li>
                                  <li><span>Category Name 2.1</span></li>
                                  <li><span>Category Name 2.2</span>
                                  		<ul>
                                          <li class="not_hover"><h5>Category Name 2.2</h5></li>
                                          <li class="not_hover"><p>All in Clothing & Fashion</p></li>
                                          <li><span>Category Name 2.1</span></li>
                                          <li><span>Category Name 2.2</span></li>
                                          <li><span>Category Name 2.3</span></li>
                                          <li><span>Category Name 2.4</span></li>
                                       </ul>
                                  </li>
                                  <li><span>Category Name 2.3</span></li>
                                  <li><span>Category Name 2.4</span></li>
                               </ul>
                            </li>
                            <li><span>Computers</span>
                            	<ul>
                                  <li class="not_hover"><h5>Computers</h5></li>
                                  <li class="not_hover"><p>All in Clothing & Fashion</p></li>
                                  <li><span>Category Name 2.1</span></li>
                                  <li><span>Category Name 2.2</span>
                                  		<ul>
                                          <li class="not_hover"><h5>Category Name 2.2</h5></li>
                                          <li class="not_hover"><p>All in Clothing & Fashion</p></li>
                                          <li><span>Category Name 2.1</span></li>
                                          <li><span>Category Name 2.2</span></li>
                                          <li><span>Category Name 2.3</span></li>
                                          <li><span>Category Name 2.4</span></li>
                                       </ul>
                                  </li>
                                  <li><span>Category Name 2.3</span></li>
                                  <li><span>Category Name 2.4</span></li>
                               </ul>
                            </li>
                            <li><span>Electronics & Photography</span>
                            	<ul>
                                  <li class="not_hover"><h5>Electronics & Photography</h5></li>
                                  <li class="not_hover"><p>All in Clothing & Fashion</p></li>
                                  <li><span>Category Name 2.1</span></li>
                                  <li><span>Category Name 2.2</span>
                                  		<ul>
                                          <li class="not_hover"><h5>Category Name 2.2</h5></li>
                                          <li class="not_hover"><p>All in Clothing & Fashion</p></li>
                                          <li><span>Category Name 2.1</span></li>
                                          <li><span>Category Name 2.2</span></li>
                                          <li><span>Category Name 2.3</span></li>
                                          <li><span>Category Name 2.4</span></li>
                                       </ul>
                                  </li>
                                  <li><span>Category Name 2.3</span></li>
                                  <li><span>Category Name 2.4</span></li>
                               </ul>
                            </li>
                            <li><span>Food & Drink</span>
                            	<ul>
                                  <li class="not_hover"><h5>Food & Drink</h5></li>
                                  <li class="not_hover"><p>All in Clothing & Fashion</p></li>
                                  <li><span>Category Name 2.1</span></li>
                                  <li><span>Category Name 2.2</span>
                                  		<ul>
                                          <li class="not_hover"><h5>Category Name 2.2</h5></li>
                                          <li class="not_hover"><p>All in Clothing & Fashion</p></li>
                                          <li><span>Category Name 2.1</span></li>
                                          <li><span>Category Name 2.2</span></li>
                                          <li><span>Category Name 2.3</span></li>
                                          <li><span>Category Name 2.4</span></li>
                                       </ul>
                                  </li>
                                  <li><span>Category Name 2.3</span></li>
                                  <li><span>Category Name 2.4</span></li>
                               </ul>
                            </li>
                            <li><span>Handbags, Luggage & Backpacks</span>
                            	<ul>
                                  <li class="not_hover"><h5>Handbags, Luggage & Backpacks</h5></li>
                                  <li class="not_hover"><p>All in Clothing & Fashion</p></li>
                                  <li><span>Category Name 2.1</span></li>
                                  <li><span>Category Name 2.2</span>
                                  		<ul>
                                          <li class="not_hover"><h5>Category Name 2.2</h5></li>
                                          <li class="not_hover"><p>All in Clothing & Fashion</p></li>
                                          <li><span>Category Name 2.1</span></li>
                                          <li><span>Category Name 2.2</span></li>
                                          <li><span>Category Name 2.3</span></li>
                                          <li><span>Category Name 2.4</span></li>
                                       </ul>
                                  </li>
                                  <li><span>Category Name 2.3</span></li>
                                  <li><span>Category Name 2.4</span></li>
                               </ul>
                            </li>
                            <li><span>Health & Beauty</span>
                            	<ul>
                                  <li class="not_hover"><h5>Health & Beauty</h5></li>
                                  <li class="not_hover"><p>All in Clothing & Fashion</p></li>
                                  <li><span>Category Name 2.1</span></li>
                                  <li><span>Category Name 2.2</span>
                                  		<ul>
                                          <li class="not_hover"><h5>Category Name 2.2</h5></li>
                                          <li class="not_hover"><p>All in Clothing & Fashion</p></li>
                                          <li><span>Category Name 2.1</span></li>
                                          <li><span>Category Name 2.2</span>
                                          	<ul>
                                              <li class="not_hover"><h5>Category Name 2.2</h5></li>
                                              <li class="not_hover"><p>All in Clothing & Fashion</p></li>
                                              <li><span>Category Name 2.1</span></li>
                                              <li><span>Category Name 2.2</span></li>
                                              <li><span>Category Name 2.3</span></li>
                                              <li><span>Category Name 2.4</span></li>
                                           </ul>
                                          </li>
                                          <li><span>Category Name 2.3</span></li>
                                          <li><span>Category Name 2.4</span></li>
                                       </ul>
                                  </li>
                                  <li><span>Category Name 2.3</span></li>
                                  <li><span>Category Name 2.4</span></li>
                               </ul>
                            </li>
                            <li><span>Hobbies & Collectables</span></li>
                            <li><span>Home & Garden</span></li>
                            <li><span>Motors & Boating</span></li>
                            <li><span>Musical Instruents</span></li>
                            <li><span>Optics, Watches & Jewellery</span></li>
                            <li><span>Pet Supplies</span></li>
                            <li><span>School & Office</span></li>
                            <li><span>Services & Activities</span></li>
                            <li><span>Sports & Leisure</span></li>
                            <li><span>Telephony</span></li>
                            <li><span>Toys & Games</span></li>
                            <li><span>Travel & Holidays</span></li>
                            <li><span>Videogames & Consoles</span></li>
                         </ul>
                </div>	
			</div>
            	
        </div> 

        
        <!-- Deals DropDown -->
        <div class="hidden-xs search-deal" ng-controller="DropdownCtrl">
            <div class="dropdown dropdown-deal" uib-dropdown="1">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" uib-dropdown-toggle ng-init="deals='All'">
		    	{{ deals }}
                    <img src="assets/images/icons/dropdown_arrow_open.svg" alt="Shout arrow open" class="arrow open" />
                    <img src="assets/images/icons/dropdown_arrow_close.svg" alt="Shout arrow open" class="arrow close" />
				</a>			
				<ul class="dropdown-menu" ng-scrollbars ng-scrollbars-config=""  ng-style="callHeight"  style="max-height:350px;" uib-dropdown-menu aria-labelledby="simple-dropdown">
                	<li><a href="#" active-function modal="All Categories" active_value="{{deals}}" ng-click="deals='All Categories'">All Categories <span class="notifications">999</span></a></li>
						<li><a href="#" active-function modal="Appliances" active_value="{{deals}}" ng-click="deals='Appliances'">Appliances <span class="notifications">999</span></a></li>
                        <li><a href="#" active-function modal="Baby" active_value="{{deals}}" ng-click="deals='Baby'">Baby<span class="notifications">999</span></a></li>
                        <li><a href="#" active-function modal="Books, Music & Films" active_value="{{deals}}" ng-click="deals='Books, Music & Films'">Books, Music & Films <span class="notifications">999</span></a></li>
                        <li><a href="#" active-function modal="Clothing & Fashion" active_value="{{deals}}" ng-click="deals='Clothing & Fashion'">Clothing & Fashion <span class="notifications">999</span></a></li>
                        <li><a href="#" active-function modal="Computers" active_value="{{deals}}" ng-click="deals='TComputersips'">Computers <span class="notifications">999</span></a></li>
                        <li><a href="#" active-function modal="Electronic & Photography" active_value="{{deals}}" ng-click="deals='Electronic & Photography'">Electronic & Photography <span class="notifications">999</span></a></li>
                        <li><a href="#" active-function modal="Food & Drink" active_value="{{deals}}" ng-click="deals='Food & Drink'">Food & Drink <span class="notifications">999</span></a></li>
                        <li><a href="#" active-function modal="Handbags, Luggage & Backpacks" active_value="{{deals}}" ng-click="deals='Handbags, Luggage & Backpacks'">Handbags, Luggage & Backpacks <span class="notifications">999</span></a></li>
                        
                        <li><a href="#" active-function modal="Health & Beauty" active_value="{{deals}}" ng-click="deals='Health & Beauty'">Health & Beauty <span class="notifications">999</span></a></li>
                        <li><a href="#" active-function modal="Hobbies & Collectables" active_value="{{deals}}" ng-click="deals='Hobbies & Collectables'">Hobbies & Collectables <span class="notifications">999</span></a></li>
                        
                        <li><a href="#" active-function modal="Computers" active_value="{{deals}}" ng-click="deals='TComputersips'">Computers <span class="notifications">999</span></a></li>
                        <li><a href="#" active-function modal="Electronic & Photography" active_value="{{deals}}" ng-click="deals='Electronic & Photography'">Electronic & Photography <span class="notifications">999</span></a></li>
                        <li><a href="#" active-function modal="Food & Drink" active_value="{{deals}}" ng-click="deals='Food & Drink'">Food & Drink <span class="notifications">999</span></a></li>
                        <li><a href="#" active-function modal="Handbags, Luggage & Backpacks" active_value="{{deals}}" ng-click="deals='Handbags, Luggage & Backpacks'">Handbags, Luggage & Backpacks <span class="notifications">999</span></a></li>
                        
                        <li><a href="#" active-function modal="Health & Beauty" active_value="{{deals}}" ng-click="deals='Health & Beauty'">Health & Beauty <span class="notifications">999</span></a></li>
                        <li><a href="#" active-function modal="Hobbies & Collectables" active_value="{{deals}}" ng-click="deals='Hobbies & Collectables'">Hobbies & Collectables <span class="notifications">999</span></a></li>
                    </ul>
                </ul>
            </div>
            </div>
        <!-- //Deals DropDown -->
        
       <!-- Right Nav -->
       <ul class="nav navbar-nav navbar-right" ng-controller="DropdownCtrl">
       <!-- search icon -->
       <li class="hidden-lg hidden-sm hidden-md search-icon dropdown" ng-class="{'toggle-class':toggleClass}" ng-init="toggleClass=false" >
            <a href="#" class="dropdown-toggle"  ng-click="toggleClass = !toggleClass">
                <img src="assets/images/icons/search_lens_mobile.svg" />
            </a>
             
          <!-- Mobile Search Form -->
            <div class="search-form mobile-search-form" ng-class="{'toggle-class':toggleClass}">
                <form class="navbar-form navbar-left" role="search">
                     <!-- Deals DropDown -->
                <div class="search-deal" ng-controller="DropdownCtrl">
               	 <div class="dropdown dropdown-deal" uib-dropdown="1">
                    <a href="#" class="dropdown-toggle" uib-dropdown-toggle ng-init="deals1='Deals'">
                		{{ deals1 }}
                        <img src="assets/images/icons/dropdown_arrow_open.svg" alt="Shout arrow open" class="arrow open" />
                        <img src="assets/images/icons/dropdown_arrow_close.svg" alt="Shout arrow open" class="arrow close" />
                    </a>			
                    <ul class="dropdown-menu" ng-scrollbars ng-scrollbars-config=""  ng-style="callHeight"  style="max-height:350px;" uib-dropdown-menu aria-labelledby="simple-dropdown">
                	<li><a href="#" active-function modal="All Categories" active_value="{{deals1}}" ng-click="deals1='All Categories'">All Categories <span class="notifications">999</span></a></li>
						<li><a href="#" active-function modal="Appliances" active_value="{{deals1}}" ng-click="deals1='Appliances'">Appliances <span class="notifications">999</span></a></li>
                        <li><a href="#" active-function modal="Baby" active_value="{{deals1}}" ng-click="deals1='Baby'">Baby<span class="notifications">999</span></a></li>
                        <li><a href="#" active-function modal="Books, Music & Films" active_value="{{deals1}}" ng-click="deals1='Books, Music & Films'">Books, Music & Films <span class="notifications">999</span></a></li>
                        <li><a href="#" active-function modal="Clothing & Fashion" active_value="{{deals1}}" ng-click="deals1='Clothing & Fashion'">Clothing & Fashion <span class="notifications">999</span></a></li>
                        <li><a href="#" active-function modal="Computers" active_value="{{deals1}}" ng-click="deals1='TComputersips'">Computers <span class="notifications">999</span></a></li>
                        <li><a href="#" active-function modal="Electronic & Photography" active_value="{{deals1}}" ng-click="deals1='Electronic & Photography'">Electronic & Photography <span class="notifications">999</span></a></li>
                        <li><a href="#" active-function modal="Food & Drink" active_value="{{deals1}}" ng-click="deals1='Food & Drink'">Food & Drink <span class="notifications">999</span></a></li>
                        <li><a href="#" active-function modal="Handbags, Luggage & Backpacks" active_value="{{deals1}}" ng-click="deals1='Handbags, Luggage & Backpacks'">Handbags, Luggage & Backpacks <span class="notifications">999</span></a></li>
                        
                        <li><a href="#" active-function modal="Health & Beauty" active_value="{{deals1}}" ng-click="deals1='Health & Beauty'">Health & Beauty <span class="notifications">999</span></a></li>
                        <li><a href="#" active-function modal="Hobbies & Collectables" active_value="{{deals1}}" ng-click="deals1='Hobbies & Collectables'">Hobbies & Collectables <span class="notifications">999</span></a></li>
                        
                        <li><a href="#" active-function modal="Computers" active_value="{{deals1}}" ng-click="deals1='TComputersips'">Computers <span class="notifications">999</span></a></li>
                        <li><a href="#" active-function modal="Electronic & Photography" active_value="{{deals1}}" ng-click="deals1='Electronic & Photography'">Electronic & Photography <span class="notifications">999</span></a></li>
                        <li><a href="#" active-function modal="Food & Drink" active_value="{{deals1}}" ng-click="deals1='Food & Drink'">Food & Drink <span class="notifications">999</span></a></li>
                        <li><a href="#" active-function modal="Handbags, Luggage & Backpacks" active_value="{{deals1}}" ng-click="deals1='Handbags, Luggage & Backpacks'">Handbags, Luggage & Backpacks <span class="notifications">999</span></a></li>
                        
                        <li><a href="#" active-function modal="Health & Beauty" active_value="{{deals1}}" ng-click="deals1='Health & Beauty'">Health & Beauty <span class="notifications">999</span></a></li>
                        <li><a href="#" active-function modal="Hobbies & Collectables" active_value="{{deals1}}" ng-click="deals1='Hobbies & Collectables'">Hobbies & Collectables <span class="notifications">999</span></a></li>
                    </ul>
                </div>
                </div>
                <!-- //Deals DropDown -->
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search by keyword or Amazon UK URL ...">
                    </div>
                    <a href="deal-category.html" class="btn btn-default btn-search"><img class="hidden-xs" src="assets/images/icons/search_lens.svg" alt="Shout search" /><span class="hidden-lg hidden-sm hidden-md">search</span></a>
               </form>
            </div>
            <!-- //Search Form -->
        </li>
       <!-- Login Section -->
	   
        <li ng-controller="ModalInterest">
            <a href="#" class="register_btnnew" ng-click="openInterest('interest')">Register</a>
        </li>
     
       
        <li class="dropdown humburger-icon" scroller-height>
        	<a href="#" class="dropdown-toggle">
            	<img src="assets/images/icons/burger_new.svg" />
            </a>
           <ul class="dropdown-menu uidropdown" ng-scrollbars ng-scrollbars-config="callHeightConfig"  ng-style="callHeight" >
                <li class="dropdown category-menu hidden-sm visible-xs" id="scroller_category" >
                    <a href="#" class="no-link">Categories</a> <span class="dropdown-toggle"></span>
                    <ul class="dropdown-menu">
                    	<li class="dropdown" >
                        	<a href="deal-category.html">Appliances</a>   <span class="dropdown-toggle"></span>
                             <ul class="dropdown-menu">
                             	<li class="dropdown">
                                	<a href="#">Level 2.1</a>     <span class="dropdown-toggle"></span>
                                	<ul class="dropdown-menu">
                                    	<li class="dropdown" >
                                        	<a href="#">Level 3.1</a> <span class="dropdown-toggle"></span>
                                        	<ul class="dropdown-menu">
                                            	<li><a href="#">Level 4.1</a></li>
                                        		<li><a href="#">Level 4.2</a></li>
                                        		<li><a href="#">Level 4.3</a></li>
                                             </ul>
                                        </li>
                                        <li><a href="#">Level 3.2</a></li>
                                        <li><a href="#">Level 3.3</a></li>
                                     </ul>
                                </li>
                                <li><a href="#">Level 2.2</a></li>
                                <li><a href="#">Level 2.3</a></li>
                             </ul>
                        </li>
                        <li><a href="deal-category.html">Baby</a></li>
                        <li><a href="deal-category.html">Books, Music & Films</a></li>
                        <li><a href="deal-category.html">Clothing & Fashion</a></li>
                        <li><a href="deal-category.html">Computers</a></li>
                        <li><a href="deal-category.html">Electronics & Photography</a></li>
                        <li><a href="deal-category.html">Food & Drink</a></li>
                        <li><a href="deal-category.html">Handbags, Luggage & Backpacks</a></li>
                        <li><a href="deal-category.html">Health & Beauty</a></li>
                        <li><a href="deal-category.html">Hobbies & Collectables</a></li>
                        <li><a href="deal-category.html">Home & Garden</a></li>
                        <li><a href="deal-category.html">Motors & Boating</a></li>
                        <li><a href="deal-category.html">Musical Intruments</a></li>
                        <li><a href="deal-category.html">Optics, Watches & Jewellery</a></li>
                        <li><a href="deal-category.html">Pet Supplies</a></li>
                        <li><a href="deal-category.html">Schoolo & Office</a></li>
                        <li><a href="deal-category.html">Services & Activities</a></li>
                        <li><a href="deal-category.html">Sport & Leisure</a></li>
                        <li><a href="deal-category.html">Telephony</a></li>
                        <li><a href="deal-category.html">Toys & Games</a></li>
                        <li><a href="deal-category.html">Travel & Holidays</a></li>
                        <li><a href="deal-category.html">Videogames & Consoles</a></li>

                	</ul>
                </li>
 
                <li class="product-icons">
                	<ul class="clearfix">
                        <li>
                        	<a href="myfeed-collection.html">
                            	<img src="assets/images/icons/menu_panel/01_myfeed_normal.svg" class="normal" />
                                <img src="assets/images/icons/menu_panel/02_myfeed_onhover.svg" class="hover" />
                                <img src="assets/images/icons/menu_panel/03_myfeed_onclick.svg" class="active" />
                                My Feed
                            </a>
                        </li>
                        <li><a href="deal-category.html">
                            	<img src="assets/images/icons/menu_panel/01_top_normal.svg" class="normal" />
                                <img src="assets/images/icons/menu_panel/02_top_onhover.svg" class="hover" />
                                <img src="assets/images/icons/menu_panel/03_top_onclick.svg" class="active" />
                            	Top Deals</a>
                         </li>
                        <li><a href="deal-category.html">
                            	<img src="assets/images/icons/menu_panel/01_deals_normal.svg" class="normal" />
                                <img src="assets/images/icons/menu_panel/02_deals_onhover.svg" class="hover" />
                                <img src="assets/images/icons/menu_panel/03_deals_onclick.svg" class="active" />
                            	Deals</a>
                        </li>
                         <li><a href="deal-category.html">
                         		<img src="assets/images/icons/menu_panel/01_products_normal.svg" class="normal" />
                                <img src="assets/images/icons/menu_panel/02_products_onhover.svg" class="hover" />
                                <img src="assets/images/icons/menu_panel/03_products_onclick.svg" class="active" />
                            	Products</a>
                         </li>
                          <li><a href="deal-category.html">
                       			<img src="assets/images/icons/menu_panel/01_sales_normal.svg" class="normal" />
                                <img src="assets/images/icons/menu_panel/02_sales_onhover.svg" class="hover" />
                                <img src="assets/images/icons/menu_panel/03_sales_onclick.svg" class="active" />
                                Sales</a>
                        </li>
                        <li><a href="deal-category.html">
                        		<img src="assets/images/icons/menu_panel/01_coupons_normal.svg" class="normal" />
                                <img src="assets/images/icons/menu_panel/02_coupons_onhover.svg" class="hover" />
                                <img src="assets/images/icons/menu_panel/03_coupons_onclick.svg" class="active" />
                                Coupons</a>
                        </li>
                        <li><a href="deal-category.html">
                       			<img src="assets/images/icons/menu_panel/01_tips_normal.svg" class="normal" />
                                <img src="assets/images/icons/menu_panel/02_tips_onhover.svg" class="hover" />
                                <img src="assets/images/icons/menu_panel/03_tips_onclick.svg" class="active" />
                                Tips</a>
                        </li>
                        <li><a href="deal-category.html">
                        		<img src="assets/images/icons/menu_panel/01_discussions_normal.svg" class="normal" />
                                <img src="assets/images/icons/menu_panel/02_discussions_onhover.svg" class="hover" />
                                <img src="assets/images/icons/menu_panel/03_discussions_onclick.svg" class="active" />
                                Discussions</a>
                        </li>
                        <li><a href="user-collection.html">
                        		<img src="assets/images/icons/menu_panel/01_collections_normal.svg" class="normal" />
                                <img src="assets/images/icons/menu_panel/02_collections_onhover.svg" class="hover" />
                                <img src="assets/images/icons/menu_panel/03_collections_onclick.svg" class="active" />
                                Collections</a>
                        </li>
                        
                         <li><a href="retailer-home.html">
                        		<img src="assets/images/icons/menu_panel/01_shops_normal.svg" class="normal" />
                                <img src="assets/images/icons/menu_panel/02_shops_onhover.svg" class="hover" />
                                <img src="assets/images/icons/menu_panel/03_shops_onclick.svg" class="active" />
                                Shops</a>
                        </li>
                         
                         <li><a href="user-affiliation.html">
                        		<img src="assets/images/icons/menu_panel/01_affiliateprogram_normal.svg" class="normal" />
                                <img src="assets/images/icons/menu_panel/02_affiliateprogram_onhover.svg" class="hover" />
                                <img src="assets/images/icons/menu_panel/03_affiliateprogram_onclick.svg" class="active" />
                                Affiliate Program</a>
                        </li>
                        
                         <li><a href="faq.html">
                        		<img src="assets/images/icons/menu_panel/01_faq_normal.svg" class="normal" />
                                <img src="assets/images/icons/menu_panel/02_faq_onhover.svg" class="hover" />
                                <img src="assets/images/icons/menu_panel/03_faq_onclick.svg" class="active" />
                                FAQs</a>
                        </li>
                        
                         <li><a href="whatisshout.html">
                        		<img src="assets/images/icons/menu_panel/01_about_normal.svg" class="normal" />
                                <img src="assets/images/icons/menu_panel/02_about_onhover.svg" class="hover" />
                                <img src="assets/images/icons/menu_panel/03_about_onclick.svg" class="active" />
                                About Shout</a>
                        </li>
                        
                         <li><a href="contact-us.html">
                        		<img src="assets/images/icons/menu_panel/01_contactus_normal.svg" class="normal" />
                                <img src="assets/images/icons/menu_panel/02_contactus_onhover.svg" class="hover" />
                                <img src="assets/images/icons/menu_panel/03_contactus_onclick.svg" class="active" />
                                Contact Us</a>
                        </li>
                        
                    </ul>
                </li>
                
                <li class="social-icons">
                	<ul class="clearfix">
                    	<li><a href="#">
                        		<img src="assets/images/icons/menu_panel/01_facebook_page_normal.svg" class="normal" />
                                <img src="assets/images/icons/menu_panel/02_facebook_page_onhover.svg" class="hover" />
                                <img src="assets/images/icons/menu_panel/03_facebook_page_onclick.svg" class="active" />
                         	</a>
                         </li>
                        <li><a href="#">
                        		<img src="assets/images/icons/menu_panel/01_twitter_page_normal.svg" class="normal" />
                                <img src="assets/images/icons/menu_panel/02_twitter_page_onhover.svg" class="hover" />
                                <img src="assets/images/icons/menu_panel/03_twitter_page_onclick.svg" class="active" />
                         	</a>
                         </li>
                        <li><a href="#">
                        		<img src="assets/images/icons/menu_panel/01_google_page_normal.svg" class="normal" />
                                <img src="assets/images/icons/menu_panel/02_google_page_onhover.svg" class="hover" />
                                <img src="assets/images/icons/menu_panel/03_google_page_onclick.svg" class="active" />
                         	</a>
                         </li>
                    </ul>
                </li>
                
            </ul>
        </li>

      </ul>
      <!-- //Right Nav -->
      
    	<!-- Search Form -->
        <div class="search-form hidden-xs">
			<form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search by keyword or Amazon UK URL ...">
                </div>
                <a href="search-result.html" class="btn btn-default btn-search"><img class="hidden-xs" src="assets/images/icons/search_lens.svg" alt="Shout search" /><span class="hidden-lg hidden-sm hidden-md">search</span></a>
           </form>
        </div>
      	<!-- //Search Form -->
      
     
    
    </div>
</nav>
