<div class="messages-list">
	<!-- Delete message Item -->
    <div class="delete-notification">
        	Deleted messages will be kept in the Trash folder for 30 days, then they will be automatically permanently deleted. <a href="#">Empty trash now</a>
        </div>
    <!-- Delete message Item -->
	
	<!-- message Item --> 
   <div class="message-item">
    	<!-- message Row -->
    	<div class="message-row">
        	<!-- Custom Checkbbox -->
            <div class="custom-checkboxbtn col">
                <label>
                	<input type="checkbox" name="checkbox">
                    <span class="lbl"></span>
                 </label>
            </div>
            <!-- Message Image -->
            <div class="message-info col">
                <div class="img">
                	<img src="assets/images/user-message-img.jpg" class="img-circle" />
                </div>
                <div class="info">
                    <div class="date">11 May 2016 08:30 AM</div>
                     <a href="#" class="name">AngelinaJolie (2)</a>		
                    <div class="rel">follower &nbsp;| &nbsp;<a href="#">follow</a></div>
                </div>
            </div>
             <!-- Message Deatil -->
            <div class="message-detail col">
                <h3><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed nonummy</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat voluptat.</p>
            </div>
            <!-- Message Icon -->
            <div class="message-icons col">
                <ul>
                <li ng-controller="Modalreportmessage">
                    	<a href="" class="img-hover" ng-click="openReportmessage()">
                        	<img src="assets/images/icons/userpages/user_exclamation.svg" class="normal" />
                           <img src="assets/images/icons/userpages/user_exclamation_onhover.svg" class="hover" />
                            <img src="assets/images/icons/userpages/user_exclamation_onclick.svg" class="active" />
                        </a>
                    </li>
                    <li>
                    	<a href="">
                        	<img src="assets/images/icons/userpages/untrash_normal.svg" class="normal" />
                            <img src="assets/images/icons/userpages/untrash_onhover.svg" class="hover" />
                            <img src="assets/images/icons/userpages/untrash_onclick.svg" class="active" />
                   		</a>
                   	</li>
                 </ul>
            </div>
         </div>
         <!-- //message Row -->
	</div>
	<!-- //message Item -->
    
      <!-- message Item --> 
   <div class="message-item">
    	<!-- message Row -->
    	<div class="message-row">
        	<!-- Custom Checkbbox -->
            <div class="custom-checkboxbtn col">
                <label>
                	<input type="checkbox" name="checkbox">
                    <span class="lbl"></span>
                 </label>
            </div>
            <!-- Message Image -->
            <div class="message-info col">
                <div class="img">
                	<a href="user-shouts.html" target="_blank"><img src="assets/images/profile-avtar.jpg" class="img-circle" /></a>
                </div>
                <div class="info">
                    <div class="date">12 May 2016 11:30 PM</div>
                     <a href="#" class="name">AngelinaJolie (2)</a>		
                    <div class="rel">friend</div>
                </div>
            </div>
             <!-- Message Deatil -->
            <div class="message-detail col">
                <h3><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed nonummy</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat voluptat.</p>
            </div>
            <!-- Message Icon -->
            <div class="message-icons col">
                <ul>
                <li ng-controller="Modalreportmessage">
                    	<a href="" class="img-hover" ng-click="openReportmessage()">
                        	<img src="assets/images/icons/userpages/user_exclamation.svg" class="normal" />
                           <img src="assets/images/icons/userpages/user_exclamation_onhover.svg" class="hover" />
                            <img src="assets/images/icons/userpages/user_exclamation_onclick.svg" class="active" />
                        </a>
                    </li>
                    <li>
                    	<a href="">
                        	<img src="assets/images/icons/userpages/untrash_normal.svg" class="normal" />
                            <img src="assets/images/icons/userpages/untrash_onhover.svg" class="hover" />
                            <img src="assets/images/icons/userpages/untrash_onclick.svg" class="active" />
                   		</a>
                   	</li>
                 </ul>
            </div>
         </div>
         <!-- //message Row -->
	</div>
	<!-- //message Item -->
		
	<!-- message Item --> 
   <div class="message-item">
    	<!-- message Row -->
    	<div class="message-row">
        	<!-- Custom Checkbbox -->
            <div class="custom-checkboxbtn col">
                <label>
                	<input type="checkbox" name="checkbox">
                    <span class="lbl"></span>
                 </label>
            </div>
            <!-- Message Image -->
            <div class="message-info col">
                <div class="img">
                	<img src="assets/images/user-message-img.jpg" class="img-circle" />
                </div>
                <div class="info">
                    <div class="date">11 May 2016 08:30 AM</div>
                     <a href="#" class="name">AngelinaJolie (2)</a>		
                    <div class="rel">follower &nbsp;| &nbsp;<a href="#">follow</a></div>
                </div>
            </div>
             <!-- Message Deatil -->
            <div class="message-detail col">
                <h3><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed nonummy</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat voluptat.</p>
            </div>
            <!-- Message Icon -->
            <div class="message-icons col">
                <ul>
                <li ng-controller="Modalreportmessage">
                    	<a href="" class="img-hover" ng-click="openReportmessage()">
                        	<img src="assets/images/icons/userpages/user_exclamation.svg" class="normal" />
                           <img src="assets/images/icons/userpages/user_exclamation_onhover.svg" class="hover" />
                            <img src="assets/images/icons/userpages/user_exclamation_onclick.svg" class="active" />
                        </a>
                    </li>
                    <li>
                    	<a href="">
                        	<img src="assets/images/icons/userpages/untrash_normal.svg" class="normal" />
                            <img src="assets/images/icons/userpages/untrash_onhover.svg" class="hover" />
                            <img src="assets/images/icons/userpages/untrash_onclick.svg" class="active" />
                   		</a>
                   	</li>
                 </ul>
            </div>
         </div>
         <!-- //message Row -->
	</div>
	<!-- //message Item -->
    
      <!-- message Item --> 
   <div class="message-item">
    	<!-- message Row -->
    	<div class="message-row">
        	<!-- Custom Checkbbox -->
            <div class="custom-checkboxbtn col">
                <label>
                	<input type="checkbox" name="checkbox">
                    <span class="lbl"></span>
                 </label>
            </div>
            <!-- Message Image -->
            <div class="message-info col">
                <div class="img">
                	<a href="user-shouts.html" target="_blank"><img src="assets/images/profile-avtar.jpg" class="img-circle" /></a>
                </div>
                <div class="info">
                    <div class="date">12 May 2016 11:30 PM</div>
                     <a href="#" class="name">AngelinaJolie (2)</a>		
                    <div class="rel">friend</div>
                </div>
            </div>
             <!-- Message Deatil -->
            <div class="message-detail col">
                <h3><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed nonummy</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat voluptat.</p>
            </div>
            <!-- Message Icon -->
            <div class="message-icons col">
                <ul>
                <li ng-controller="Modalreportmessage">
                    	<a href="" class="img-hover" ng-click="openReportmessage()">
                        	<img src="assets/images/icons/userpages/user_exclamation.svg" class="normal" />
                           <img src="assets/images/icons/userpages/user_exclamation_onhover.svg" class="hover" />
                            <img src="assets/images/icons/userpages/user_exclamation_onclick.svg" class="active" />
                        </a>
                    </li>
                    <li>
                    	<a href="">
                        	<img src="assets/images/icons/userpages/untrash_normal.svg" class="normal" />
                            <img src="assets/images/icons/userpages/untrash_onhover.svg" class="hover" />
                            <img src="assets/images/icons/userpages/untrash_onclick.svg" class="active" />
                   		</a>
                   	</li>
                 </ul>
            </div>
         </div>
         <!-- //message Row -->
	</div>
	<!-- //message Item -->
	
	
	<!-- message Item --> 
   <div class="message-item">
    	<!-- message Row -->
    	<div class="message-row">
        	<!-- Custom Checkbbox -->
            <div class="custom-checkboxbtn col">
                <label>
                	<input type="checkbox" name="checkbox">
                    <span class="lbl"></span>
                 </label>
            </div>
            <!-- Message Image -->
            <div class="message-info col">
                <div class="img">
                	<img src="assets/images/user-message-img.jpg" class="img-circle" />
                </div>
                <div class="info">
                    <div class="date">11 May 2016 08:30 AM</div>
                     <a href="#" class="name">AngelinaJolie (2)</a>		
                    <div class="rel">follower &nbsp;| &nbsp;<a href="#">follow</a></div>
                </div>
            </div>
             <!-- Message Deatil -->
            <div class="message-detail col">
                <h3><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed nonummy</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat voluptat.</p>
            </div>
            <!-- Message Icon -->
            <div class="message-icons col">
                <ul>
                <li ng-controller="Modalreportmessage">
                    	<a href="" class="img-hover" ng-click="openReportmessage()">
                        	<img src="assets/images/icons/userpages/user_exclamation.svg" class="normal" />
                           <img src="assets/images/icons/userpages/user_exclamation_onhover.svg" class="hover" />
                            <img src="assets/images/icons/userpages/user_exclamation_onclick.svg" class="active" />
                        </a>
                    </li>
                    <li>
                    	<a href="">
                        	<img src="assets/images/icons/userpages/untrash_normal.svg" class="normal" />
                            <img src="assets/images/icons/userpages/untrash_onhover.svg" class="hover" />
                            <img src="assets/images/icons/userpages/untrash_onclick.svg" class="active" />
                   		</a>
                   	</li>
                 </ul>
            </div>
         </div>
         <!-- //message Row -->
	</div>
	<!-- //message Item -->
    
      <!-- message Item --> 
   <div class="message-item">
    	<!-- message Row -->
    	<div class="message-row">
        	<!-- Custom Checkbbox -->
            <div class="custom-checkboxbtn col">
                <label>
                	<input type="checkbox" name="checkbox">
                    <span class="lbl"></span>
                 </label>
            </div>
            <!-- Message Image -->
            <div class="message-info col">
                <div class="img">
                	<a href="user-shouts.html" target="_blank"><img src="assets/images/profile-avtar.jpg" class="img-circle" /></a>
                </div>
                <div class="info">
                    <div class="date">12 May 2016 11:30 PM</div>
                     <a href="#" class="name">AngelinaJolie (2)</a>		
                    <div class="rel">friend</div>
                </div>
            </div>
             <!-- Message Deatil -->
            <div class="message-detail col">
                <h3><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed nonummy</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat voluptat.</p>
            </div>
            <!-- Message Icon -->
            <div class="message-icons col">
                <ul>
                <li ng-controller="Modalreportmessage">
                    	<a href="" class="img-hover" ng-click="openReportmessage()">
                        	<img src="assets/images/icons/userpages/user_exclamation.svg" class="normal" />
                           <img src="assets/images/icons/userpages/user_exclamation_onhover.svg" class="hover" />
                            <img src="assets/images/icons/userpages/user_exclamation_onclick.svg" class="active" />
                        </a>
                    </li>
                    <li>
                    	<a href="">
                        	<img src="assets/images/icons/userpages/untrash_normal.svg" class="normal" />
                            <img src="assets/images/icons/userpages/untrash_onhover.svg" class="hover" />
                            <img src="assets/images/icons/userpages/untrash_onclick.svg" class="active" />
                   		</a>
                   	</li>
                 </ul>
            </div>
         </div>
         <!-- //message Row -->
	</div>
	<!-- //message Item -->
	

	
</div>

<div class="pagination">
      <ul>
        <li class="inactive">
          <a href="#" aria-label="Previous">
            <img src="assets/images/product/paging/first_disabled.svg" alt="s">
          </a>
        </li>
        <li class="inactive">
          <a href="#" aria-label="Previous">
            <img src="assets/images/product/paging/prev_disabled.svg" alt="s">
          </a>
        </li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" class="img-hover" aria-label="Previous">
            <img class="normal" src="assets/images/product/paging/next_normal.svg" alt="s">
            <img class="hover" src="assets/images/product/paging/next_onhover.svg" alt="s">
            <img class="active" src="assets/images/product/paging/next_onclick.svg" alt="s">
          </a>
        </li>
        <li>
          <a href="#" class="img-hover"  aria-label="Next">
            <img class="normal" src="assets/images/product/paging/last_normal.svg" alt="s">
            <img class="hover" src="assets/images/product/paging/last_onhover.svg" alt="s">
            <img class="active" src="assets/images/product/paging/last_onclick.svg" alt="s">
          </a>
        </li>
      </ul>
</div>

<!-- Message mobile button -->
<div class="hidden-lg hidden-md mobile-bottom-msgbtn">
	<ul>
    	<li><a href="#"><img src="assets/images/icons/userpages/MARKASREAD(mobile).svg" /></a></li>
    	<li><a href="#"><img src="assets/images/icons/userpages/MARKASUNREAD(mobile).svg" /></a></li>
    	<!--<li><a href="#"><img src="assets/images/icons/userpages/RESTORE(mobile).svg" /></a></li>-->
        <li><a href="#"><img src="assets/images/icons/userpages/DELETE(mobile).svg" /></a></li>
    </ul>
</div>
<!-- //Message mobile button -->