<div class="messages-list">
	<!-- message Item -->
    <div class="message-item unread_msg">
    	<!-- message Row -->
    	<div class="message-row">
        	<!-- Custom Checkbbox -->
            <div class="custom-checkboxbtn col">
                <label>
                	<input type="checkbox" name="checkbox">
                    <span class="lbl"></span>
                 </label>
            </div>
            <!-- Message Image -->
            <div class="message-info col">
                <div class="img">
                	<a href="user-shouts.html" target="_blank"><img src="assets/images/profile-avtar.jpg" class="img-circle" /></a>
                </div>
                <div class="info">
                    <div class="date">12 May 2016 11:30 PM</div>
                    <a href="user-shouts.html" target="_blank" class="name">
                        AngelinaJolie
                    </a>
                    <div class="rel">friend</div>
                </div>
            </div>
             <!-- Message Deatil -->
            <div class="message-detail col">
                <h3><a href="#">Title of this unread message</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidun ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, ...</p>
            </div>
            <!-- Message Icon -->
            <div class="message-icons col">
                <ul>
                <li ng-controller="Modalreportmessage">
                    	<a href="" class="img-hover" ng-click="openReportmessage()">
                        	<img src="assets/images/icons/userpages/user_exclamation.svg" class="normal" />
                           <img src="assets/images/icons/userpages/user_exclamation_onhover.svg" class="hover" />
                            <img src="assets/images/icons/userpages/user_exclamation_onclick.svg" class="active" />
                        </a>
                    </li>
                     <li ng-controller="Modaldeletemsg">
                    	<a href="" class="img-hover" ng-click="openDeletemsg()">
                        	<img src="assets/images/icons/userpages/trash_normal.svg" class="normal" />
                            <img src="assets/images/icons/userpages/trash_onhover.svg" class="hover" />
                            <img src="assets/images/icons/userpages/trash_onclick.svg" class="active" />
                   		</a>
                   	</li>
                    
                </ul>
            </div>
         </div>
         <!-- //message Row -->
	</div>
	<!-- //message Item -->
    
	<!-- message Item -->
    <div class="message-item unread_msg">
    	<!-- message Row -->
    	<div class="message-row">
        	<!-- Custom Checkbbox -->
            <div class="custom-checkboxbtn col">
                <label>
                	<input type="checkbox" name="checkbox">
                    <span class="lbl"></span>
                 </label>
            </div>
            <!-- Message Image -->
            <div class="message-info col">
                <div class="img">
                	<a href="user-shouts.html" target="_blank"><img src="assets/images/user-message-img.jpg" class="img-circle" /></a>
                </div>
                <div class="info">
                    <div class="date">25 Nov 2016 10:30AM</div>
                    <a href="user-shouts.html" target="_blank" class="name">Scarlett</a>, <a href="user-shouts.html" target="_blank" class="name">AngelinaJolie</a>, <a href="user-shouts.html" target="_blank" class="name">me (3) </a>
                    <div class="rel">follower | <a href="#">follow back</a></div>
                </div>
            </div>
             <!-- Message Deatil -->
            <div class="message-detail col">
                <h3><a href="#">An incredibly very very long title of this beautiful unread message ...</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidun ut laoreet dolore magna aliquam erat volutpat. </p>
            </div>
            <!-- Message Icon -->
            <div class="message-icons col">
                <ul>
                <li ng-controller="Modalreportmessage">
                    	<a href="" class="img-hover" ng-click="openReportmessage()">
                        	<img src="assets/images/icons/userpages/user_exclamation.svg" class="normal" />
                           <img src="assets/images/icons/userpages/user_exclamation_onhover.svg" class="hover" />
                            <img src="assets/images/icons/userpages/user_exclamation_onclick.svg" class="active" />
                        </a>
                    </li>
                     <li ng-controller="Modaldeletemsg">
                    	<a href="" class="img-hover" ng-click="openDeletemsg()">
                        	<img src="assets/images/icons/userpages/trash_normal.svg" class="normal" />
                            <img src="assets/images/icons/userpages/trash_onhover.svg" class="hover" />
                            <img src="assets/images/icons/userpages/trash_onclick.svg" class="active" />
                   		</a>
                   	</li>
                    
                </ul>
            </div>
         </div>
         <!-- //message Row -->
	</div>
	<!-- //message Item -->
	
	    
	<!-- message Item -->
    <div class="message-item unread_msg">
    	<!-- message Row -->
    	<div class="message-row">
        	<!-- Custom Checkbbox -->
            <div class="custom-checkboxbtn col">
                <label>
                	<input type="checkbox" name="checkbox">
                    <span class="lbl"></span>
                 </label>
            </div>
            <!-- Message Image -->
            <div class="message-info col">
                <div class="img">
                	<a href="user-shouts.html" target="_blank"><img src="assets/images/user-message-img2.jpg" class="img-circle" /></a>
                </div>
                <div class="info">
                    <div class="date">25 Nov 2016 10:30AM</div>
                    <a href="user-shouts.html" target="_blank" class="name">Simone_Boo (23)</a>
                    <div class="rel">following</a></div>
                </div>
            </div>
             <!-- Message Deatil -->
            <div class="message-detail col">
                <h3><a href="#">Title of this beautiful unread message</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidun ut laoreet dolore magna aliquam erat volutpat. </p>
            </div>
            <!-- Message Icon -->
            <div class="message-icons col">
                <ul>
                <li ng-controller="Modalreportmessage">
                    	<a href="" class="img-hover" ng-click="openReportmessage()">
                        	<img src="assets/images/icons/userpages/user_exclamation.svg" class="normal" />
                           <img src="assets/images/icons/userpages/user_exclamation_onhover.svg" class="hover" />
                            <img src="assets/images/icons/userpages/user_exclamation_onclick.svg" class="active" />
                        </a>
                    </li>
                     <li ng-controller="Modaldeletemsg">
                    	<a href="" class="img-hover" ng-click="openDeletemsg()">
                        	<img src="assets/images/icons/userpages/trash_normal.svg" class="normal" />
                            <img src="assets/images/icons/userpages/trash_onhover.svg" class="hover" />
                            <img src="assets/images/icons/userpages/trash_onclick.svg" class="active" />
                   		</a>
                   	</li>
                    
                </ul>
            </div>
         </div>
         <!-- //message Row -->
	</div>
	<!-- //message Item -->
	
	<!-- message Item -->
    <div class="message-item ">
    	<!-- message Row -->
    	<div class="message-row">
        	<!-- Custom Checkbbox -->
            <div class="custom-checkboxbtn col">
                <label>
                	<input type="checkbox" name="checkbox">
                    <span class="lbl"></span>
                 </label>
            </div>
            <!-- Message Image -->
            <div class="message-info col">
                <div class="img">
                	<a href="user-shouts.html" target="_blank"><img src="assets/images/user-message-img2.jpg" class="img-circle" /></a>
                </div>
                <div class="info">
                    <div class="date">25 Nov 2016 10:30AM</div>
                    <a href="user-shouts.html" target="_blank" class="name">Simone_Boo</a>, <a href="user-shouts.html" target="_blank" class="name">...</a>, <a href="user-shouts.html" target="_blank" class="name">AngelinaJolie</a>
                    <div class="rel">following</a></div>
                </div>
            </div>
             <!-- Message Deatil -->
            <div class="message-detail col">
                <h3><a href="#">Title of a read message</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidun ut laoreet dolore magna aliquam erat volutpat. </p>
            </div>
            <!-- Message Icon -->
            <div class="message-icons col">
                <ul>
                <li ng-controller="Modalreportmessage">
                    	<a href="" class="img-hover" ng-click="openReportmessage()">
                        	<img src="assets/images/icons/userpages/user_exclamation.svg" class="normal" />
                           <img src="assets/images/icons/userpages/user_exclamation_onhover.svg" class="hover" />
                            <img src="assets/images/icons/userpages/user_exclamation_onclick.svg" class="active" />
                        </a>
                    </li>
                     <li ng-controller="Modaldeletemsg">
                    	<a href="" class="img-hover" ng-click="openDeletemsg()">
                        	<img src="assets/images/icons/userpages/trash_normal.svg" class="normal" />
                            <img src="assets/images/icons/userpages/trash_onhover.svg" class="hover" />
                            <img src="assets/images/icons/userpages/trash_onclick.svg" class="active" />
                   		</a>
                   	</li>
                    
                </ul>
            </div>
         </div>
         <!-- //message Row -->
	</div>
	<!-- //message Item -->
	
	
    <!-- message Item -->
    <div class="message-item open" ng-class="message_show">
    	<div class="message-conversation">
        	<h2>An incredibly very very long title for this conversation <a href="#" class="close"></a></h2>
            
            <!-- Conversation List -->
            <div class="conversation-list clearfix">
            	<div class="conversation-info">
                	<!-- Custom Checkbbox -->
                    <div class="custom-checkboxbtn">
                        <label>
                            <input type="checkbox" name="checkbox">
                            <span class="lbl"></span>
                         </label>
                    </div>
                    <!-- Message Image -->
                    <div class="img">
                        <a href="user-shouts.html" target="_blank"><img src="assets/images/profile-avtar.jpg" class="img-circle" /></a>
                    </div>
                    <div class="mobile-info clearfix">
                        <div class="name">
                        	 <div class="userdropdown">
                            <a href="#"> AngelinaJolie  </a>			
							</div>
                        	<span>Follower  |  <a href="#">follow back</a></span>
                        </div>
						
                        <div class="date-icon">
                            <span class="date">11 May 2016 08:30 AM</span>
                            <ul class="message-icons">
                              <li>
                    	<a href="" class="img-hover">
                                        <img src="assets/images/svg/reply/01_reply_normal.svg" class="normal" />
                                       <img src="assets/images/svg/reply/02_reply_onhover.svg" class="hover" />
                                        <img src="assets/images/svg/reply/03_reply_onclick.svg" class="active" />
                                    </a>
                                </li>
							  <li ng-controller="Modalreportmessage">
                    	<a href="" class="img-hover" ng-click="openReportmessage()">
                                        <img src="assets/images/icons/userpages/user_exclamation.svg" class="normal" />
                                       <img src="assets/images/icons/userpages/user_exclamation_onhover.svg" class="hover" />
                                        <img src="assets/images/icons/userpages/user_exclamation_onclick.svg" class="active" />
                                    </a>
                                </li>
                               <li ng-controller="Modaldeletemsg">
                    	<a href="" class="img-hover" ng-click="openDeletemsg()">
                                        <img src="assets/images/icons/userpages/trash_normal.svg" class="normal" />
                                        <img src="assets/images/icons/userpages/trash_onhover.svg" class="hover" />
                                        <img src="assets/images/icons/userpages/trash_onclick.svg" class="active" />
                                    </a>
                                </li>
                             </ul>
                        </div>
                     </div>
                     
                </div>
                
			<div class="conversation-detail">
                	<div class="mobile-hide clearfix">
                        <div class="name">
                        	 <div class="userdropdown">
                            <a href="#"> AngelinaJolie  </a>			
							</div>
                        	<span>Follower  |  <a href="#">follow back</a></span>
                        </div>
                        <div class="date-icon">
                            <span class="date">11 May 2016 08:30 AM</span>
                            <ul class="message-icons">
                             <li>
                    	<a href="" class="img-hover">
                                        <img src="assets/images/svg/reply/01_reply_normal.svg" class="normal" />
                                       <img src="assets/images/svg/reply/02_reply_onhover.svg" class="hover" />
                                        <img src="assets/images/svg/reply/03_reply_onclick.svg" class="active" />
                                    </a>
                                </li>
								<li ng-controller="Modalreportmessage">
								<a href=" " class="img-hover" ng-click="openReportmessage()">
                                        <img src="assets/images/icons/userpages/user_exclamation.svg" class="normal" />
                                       <img src="assets/images/icons/userpages/user_exclamation_onhover.svg" class="hover" />
                                        <img src="assets/images/icons/userpages/user_exclamation_onclick.svg" class="active" />
                                    </a>
                                </li>
                                <li ng-controller="Modaldeletemsg">
                    	<a href="" class="img-hover" ng-click="openDeletemsg()">
                                        <img src="assets/images/icons/userpages/trash_normal.svg" class="normal" />
                                        <img src="assets/images/icons/userpages/trash_onhover.svg" class="hover" />
                                        <img src="assets/images/icons/userpages/trash_onclick.svg" class="active" />
                                    </a>
                                </li>
                             </ul>
                        </div>
                     </div>
                	<div class="sender-name">
                    	<span>to:</span> <a href="#">me</a>, <a href="#">Scarlett</a>, <a href="#">GianniMorandi</a>
                    </div>
	           		<div class="text">
                    	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
           			</div>
                </div>
            </div>
            <!-- //Conversation List -->
			
            <!-- Conversation List -->
            <div class="conversation-list clearfix">
            	<div class="conversation-info">
                	<!-- Custom Checkbbox -->
                    <div class="custom-checkboxbtn">
                        <label>
                            <input type="checkbox" name="checkbox">
                            <span class="lbl"></span>
                         </label>
                    </div>
                    <!-- Message Image -->
                    <div class="img">
                        <a href="user-shouts.html" target="_blank"><img src="assets/images/profile-avtar.jpg" class="img-circle" /></a>
                    </div>
                    <div class="mobile-info clearfix">
                        <div class="name">
                        	 <div class="userdropdown">
                            <a href="#"> AngelinaJolie  </a>			
							</div>
                        	<span>Follower  |  <a href="#">follow back</a></span>
                        </div>
						
                        <div class="date-icon">
                            <span class="date">11 May 2016 08:30 AM</span>
                            <ul class="message-icons">
                              <li>
                    	<a href="" class="img-hover">
                                        <img src="assets/images/svg/reply/01_reply_normal.svg" class="normal" />
                                       <img src="assets/images/svg/reply/02_reply_onhover.svg" class="hover" />
                                        <img src="assets/images/svg/reply/03_reply_onclick.svg" class="active" />
                                    </a>
                                </li>
							  <li ng-controller="Modalreportmessage">
                    	<a href="" class="img-hover" ng-click="openReportmessage()">
                                        <img src="assets/images/icons/userpages/user_exclamation.svg" class="normal" />
                                       <img src="assets/images/icons/userpages/user_exclamation_onhover.svg" class="hover" />
                                        <img src="assets/images/icons/userpages/user_exclamation_onclick.svg" class="active" />
                                    </a>
                                </li>
                               <li ng-controller="Modaldeletemsg">
                    	<a href="" class="img-hover" ng-click="openDeletemsg()">
                                        <img src="assets/images/icons/userpages/trash_normal.svg" class="normal" />
                                        <img src="assets/images/icons/userpages/trash_onhover.svg" class="hover" />
                                        <img src="assets/images/icons/userpages/trash_onclick.svg" class="active" />
                                    </a>
                                </li>
                             </ul>
                        </div>
                     </div>
                     
                </div>
                
			<div class="conversation-detail">
                	<div class="mobile-hide clearfix">
                        <div class="name">
                        	 <div class="userdropdown">
                            <a href="#"> Me </a>			
							</div>
                        </div>
                        <div class="date-icon">
                            <span class="date">11 May 2016 08:30 AM</span>
                            <ul class="message-icons">
                             <li>
                    	<a href="" class="img-hover">
                                        <img src="assets/images/svg/reply/01_reply_normal.svg" class="normal" />
                                       <img src="assets/images/svg/reply/02_reply_onhover.svg" class="hover" />
                                        <img src="assets/images/svg/reply/03_reply_onclick.svg" class="active" />
                                    </a>
                                </li>
								<li ng-controller="Modalreportmessage">
								<a href=" " class="img-hover" ng-click="openReportmessage()">
                                        <img src="assets/images/icons/userpages/user_exclamation.svg" class="normal" />
                                       <img src="assets/images/icons/userpages/user_exclamation_onhover.svg" class="hover" />
                                        <img src="assets/images/icons/userpages/user_exclamation_onclick.svg" class="active" />
                                    </a>
                                </li>
                                <li ng-controller="Modaldeletemsg">
                    	<a href="" class="img-hover" ng-click="openDeletemsg()">
                                        <img src="assets/images/icons/userpages/trash_normal.svg" class="normal" />
                                        <img src="assets/images/icons/userpages/trash_onhover.svg" class="hover" />
                                        <img src="assets/images/icons/userpages/trash_onclick.svg" class="active" />
                                    </a>
                                </li>
                             </ul>
                        </div>
                     </div>
                	<div class="sender-name">
                    	<span>to:</span> <a href="#">me</a>, <a href="#">Scarlett</a>, <a href="#">GianniMorandi</a>
                    </div>
	           		<div class="text">
                    	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
           			</div>
                </div>
            </div>
            <!-- //Conversation List -->
			
			
            <!-- Conversation Reply -->
            <div class="message-reply clearfix">
            	<div class="conversation-info">
                	<!-- Custom Checkbbox -->
                    <div class="custom-checkboxbtn">
                        <label>
                            <input type="checkbox" name="checkbox">
                            <span class="lbl"></span>
                         </label>
                    </div>
                    <!-- Message Image -->
                    <div class="img">
                        <a href="user-shouts.html" target="_blank"><img src="assets/images/profile-avtar.jpg" class="img-circle" /></a>
                    </div>
                </div>
                
                <div class="message-form  default-form">
				
				<div class="form-group">
				<div class="chosen-container">
                        <ul class="chosen-choices correct clearfix">
                              <li class="choice">
                            	<a class="choice-close" href="#"></a>
                            	<span>AngelinaJolie</span>
                            </li>
							 <li class="choice">
                            	<a class="choice-close" href="#"></a>
                            	<span>Scarlett</span>
                            </li>
							 <li class="choice">
                            	<a class="choice-close" href="#"></a>
                            	<span>Shouter1</span>
                            </li>
                            <li class="input-field">
                            	<input type="text" autocomplete="off" class="form-control" placeholder="Add another" tabindex="4">
                            </li>
                           <span class="form-icon correct-icon"></span> 
                        </ul>
                   		<div class="chosen-drop">
                            <ul class="chosen-results">
                                <li class="active-result" data-option-array-index="1">GianniMorandi</li>
                                <li class="active-result" data-option-array-index="2">Scarlett</li>
                                <li class="active-result" data-option-array-index="3">AngelinaJolie</li>
                            </ul>
                        </div>
                  </div>
                  </div>
				  
                  <!-- <div class="form-group"> -->
                                                  <!-- <div class="form-input"> -->
                                                        <!-- <input class="form-control form-control-icon" placeholder="Add another" type="text"> -->
                                                        <!-- <span class="form-icon question-icon"></span> -->
                                                        <!-- <div class="form_tooltip question-tooltip">Lorem ipsum dolor sit amet consectetui adipiscing.</div> -->
                                                    <!-- </div> -->
                                                <!-- </div> -->
                  <!-- Text Editor -->
                   <div class="form-group"> 
                                        <div class="text-editors">
                                            <a href="" class="hint">
                                                <span class="image-icons hint-icon"></span>
                                            </a>
                                            <div class="hintanswer">
                                                Lorem ipsum dolor summit
                                            </div>
                                            <p class="m_zero editor_img"><img alt="" src="assets/images/editor5.png"></p>
                                            <textarea placeholder="Enter your comment here" class="block-text"></textarea>
                                            
                                        </div>
                                        </div>	
                  <!-- //Text Editor -->
                  <!-- //Text Editor -->
                  	<input type="button" value="send message" class="btn purple-btn" />
                  <!-- //Text Editor -->
                </div>
            
            </div>
            <!-- //Conversation Reply -->
            
            
        </div>
    	<!-- message Row -->
    	<div class="message-row">
        	<!-- Custom Checkbbox -->
            <div class="custom-checkboxbtn col">
                <label>
                	<input type="checkbox" name="checkbox">
                    <span class="lbl"></span>
                 </label>
            </div>
            <!-- Message Image -->
            <div class="message-info col">
                <div class="img">
                	<img src="assets/images/user-message-img1.jpg" class="img-circle" />
                </div>
                <div class="info">
                    <div class="date">12 May 2016 11:30 PM</div>
                    <div class="name">
                    	<div class="userdropdown">
                            <a href="#"> Gianneta </a>			
                          
                    	</div>
                    </div>
                    <div class="rel">friend</div>
                </div>
            </div>
             <!-- Message Deatil -->
            <div class="message-detail col">
                <h3><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed nonummy</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat voluptat.</p>
            </div>
            <!-- Message Icon -->
            <div class="message-icons col">
                <ul>
              <li ng-controller="Modalreportmessage">
                    	<a href="" class="img-hover" ng-click="openReportmessage()">
                        	<img src="assets/images/icons/userpages/user_exclamation.svg" class="normal" />
                           <img src="assets/images/icons/userpages/user_exclamation_onhover.svg" class="hover" />
                            <img src="assets/images/icons/userpages/user_exclamation_onclick.svg" class="active" />
                        </a>
                    </li>
                    <li ng-controller="Modaldeletemsg">
                    	<a href="" class="img-hover" ng-click="openDeletemsg()">
                        	<img src="assets/images/icons/userpages/trash_normal.svg" class="normal" />
                            <img src="assets/images/icons/userpages/trash_onhover.svg" class="hover" />
                            <img src="assets/images/icons/userpages/trash_onclick.svg" class="active" />
                   		</a>
                   	</li>
                 </ul>
            </div>
         </div>
         <!-- //message Row -->
	</div>
	<!-- //message Item -->
   
  
	<!-- message Item -->
    <div class="message-item ">
    	<!-- message Row -->
    	<div class="message-row">
        	<!-- Custom Checkbbox -->
            <div class="custom-checkboxbtn col">
                <label>
                	<input type="checkbox" name="checkbox">
                    <span class="lbl"></span>
                 </label>
            </div>
            <!-- Message Image -->
            <div class="message-info col">
                <div class="img">
                	<a href="user-shouts.html" target="_blank"><img src="assets/images/user-message-img2.jpg" class="img-circle" /></a>
                </div>
                <div class="info">
                    <div class="date">25 Nov 2016 10:30AM</div>
                    <a href="user-shouts.html" target="_blank" class="name">Simone_Boo</a>, <a href="user-shouts.html" target="_blank" class="name">...</a>, <a href="user-shouts.html" target="_blank" class="name">AngelinaJolie</a>
                    <div class="rel">following</a></div>
                </div>
            </div>
             <!-- Message Deatil -->
            <div class="message-detail col">
                <h3><a href="#">Title of a read message</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidun ut laoreet dolore magna aliquam erat volutpat. </p>
            </div>
            <!-- Message Icon -->
            <div class="message-icons col">
                <ul>
                <li ng-controller="Modalreportmessage">
                    	<a href="" class="img-hover" ng-click="openReportmessage()">
                        	<img src="assets/images/icons/userpages/user_exclamation.svg" class="normal" />
                           <img src="assets/images/icons/userpages/user_exclamation_onhover.svg" class="hover" />
                            <img src="assets/images/icons/userpages/user_exclamation_onclick.svg" class="active" />
                        </a>
                    </li>
                     <li ng-controller="Modaldeletemsg">
                    	<a href="" class="img-hover" ng-click="openDeletemsg()">
                        	<img src="assets/images/icons/userpages/trash_normal.svg" class="normal" />
                            <img src="assets/images/icons/userpages/trash_onhover.svg" class="hover" />
                            <img src="assets/images/icons/userpages/trash_onclick.svg" class="active" />
                   		</a>
                   	</li>
                    
                </ul>
            </div>
         </div>
         <!-- //message Row -->
	</div>
	<!-- //message Item -->
	
	
	
</div>

<div class="pagination">
      <ul>
        <li class="inactive">
          <a href="#" aria-label="Previous">
            <img src="assets/images/product/paging/first_disabled.svg" alt="s">
          </a>
        </li>
        <li class="inactive">
          <a href="#" aria-label="Previous">
            <img src="assets/images/product/paging/prev_disabled.svg" alt="s">
          </a>
        </li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" class="img-hover" aria-label="Previous">
            <img class="normal" src="assets/images/product/paging/next_normal.svg" alt="s">
            <img class="hover" src="assets/images/product/paging/next_onhover.svg" alt="s">
            <img class="active" src="assets/images/product/paging/next_onclick.svg" alt="s">
          </a>
        </li>
        <li>
          <a href="#" class="img-hover"  aria-label="Next">
            <img class="normal" src="assets/images/product/paging/last_normal.svg" alt="s">
            <img class="hover" src="assets/images/product/paging/last_onhover.svg" alt="s">
            <img class="active" src="assets/images/product/paging/last_onclick.svg" alt="s">
          </a>
        </li>
      </ul>
</div>

<!-- Message mobile button -->
<div class="hidden-lg hidden-md mobile-bottom-msgbtn">
	<ul>
    	<li><a href="#"><img src="assets/images/icons/userpages/MARKASREAD(mobile).svg" /></a></li>
    	<li><a href="#"><img src="assets/images/icons/userpages/MARKASUNREAD(mobile).svg" /></a></li>
    	<!--<li><a href="#"><img src="assets/images/icons/userpages/RESTORE(mobile).svg" /></a></li>-->
        <li><a href="#"><img src="assets/images/icons/userpages/DELETE(mobile).svg" /></a></li>
    </ul>
</div>
<!-- //Message mobile button -->