
  <div class="panel panel-default">
   <div class="table_box">
  
    <div class="row_box">
    
      <div class="cell_box"> <span class="new_label"></span>
        <div class="block_user"><img src="assets/images/friend.jpg" alt=""><a href="http://192.155.246.146:8289/user-shouts.html"></a></div>
      </div>
      
      <div class="cell_box">
        <h4><a href="http://192.155.246.146:8289/user-shouts.html">Gianneta</a> </h4>
        <p class="font_14grey">active in <a href="deal-category.html">Category Name</a></p>
        
        <ul class="badges-icon" ng-controller="Modalbadges">
            	<li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/pioneer1_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/pioneer1_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/pioneer1_onclick.svg">
                    </a>
                </li>
                 <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/neoshouter1_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/neoshouter1_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/neoshouter1_onclick.svg">
                    </a>
                </li>
                <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/social1_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/social1_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/social1_onclick.svg">
                    </a>
                </li>
                    <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/contributor3_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/contributor3_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/contributor3_onclick.svg">
                    </a>
                </li>
                <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/celebrity3_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/celebrity3_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/celebrity3_onclick.svg">
                    </a>
                </li>
                 <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/chatty3_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/chatty3_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/chatty3_onclick.svg">
                    </a>
                </li>
             
                
               
                <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/stunning3_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/stunning3_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/stunning3_onclick.svg">
                    </a>
                </li>
                <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/ultrasonic1_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/ultrasonic1_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/ultrasonic1_onclick.svg">
                    </a>
                </li>
              
               
            </ul>
      </div>
      
      <div class="cell_box">
        <h4><a href="http://192.155.246.146:8289/user-shouts.html"><strong>9,999</strong> <span class="font14">shouts</span></a></h4>
      </div>
      
      <div class="cell_box">
        <p class="font18_14grey">average:  <span>9999<sup>dB</sup></span></p>
      </div>
      
      <div class="cell_box">
        <p class="font18_14grey">contributed: <span>9999<sup>dB</sup></span></p>
      </div>
      
      <div class="cell_box"> 
     
	 <p class="frnd_icons">
        <span ng-controller="Modalwritemsg">
          <a href="#" ng-click="openWritemsg()"> 
              <img class="normal" src="assets/images/icons/userpages/write_message_normal.svg"> 
              <img class="hover" src="assets/images/icons/userpages/write_message_onhover.svg"> 
              <img class="active" src="assets/images/icons/userpages/write_message_onclick.svg"> 
          </a> 
          </span>
          <span>
          <a href="http://192.155.246.146:8289/friends.html"> 
              <img class="normal" src="assets/images/icons/userpages/1_follow_normal.svg"> 
              <img class="hover" src="assets/images/icons/userpages/2_follow_onhover.svg"> 
              <img class="active" src="assets/images/icons/userpages/3_follow_onclick.svg"> 
          </a> 
          </span>
		  
		  <span>
          <a href="#"> 
              <img class="normal" src="assets/images/icons/userpages/block_normal.svg"> 
              <img class="hover" src="assets/images/icons/userpages/block_onhover.svg"> 
              <img class="active" src="assets/images/icons/userpages/block_onclick.svg"> 
          </a> 
          </span>
     </p>
      
      </div>
      
    </div>
    
    <div class="row_box">
    
      <div class="cell_box"> <span class="new_label"></span>
        <div class="block_user"><img src="assets/images/friend.jpg" alt=""><a href="http://192.155.246.146:8289/user-shouts.html"></a></div>
      </div>
      
      <div class="cell_box">
        <h4><a href="http://192.155.246.146:8289/user-shouts.html">Gianneta</a> </h4>
        <p class="font_14grey">active in <a href="deal-category.html">Clothing & Fashion</a></p>
        
        <ul class="badges-icon" ng-controller="Modalbadges">
            	<li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/pioneer1_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/pioneer1_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/pioneer1_onclick.svg">
                    </a>
                </li>
                 <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/neoshouter1_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/neoshouter1_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/neoshouter1_onclick.svg">
                    </a>
                </li>
                <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/social1_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/social1_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/social1_onclick.svg">
                    </a>
                </li>
                    <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/contributor3_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/contributor3_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/contributor3_onclick.svg">
                    </a>
                </li>
                <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/celebrity3_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/celebrity3_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/celebrity3_onclick.svg">
                    </a>
                </li>
                 <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/chatty3_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/chatty3_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/chatty3_onclick.svg">
                    </a>
                </li>
       
            </ul>
      </div>
      
      <div class="cell_box">
        <h4><a href="http://192.155.246.146:8289/user-shouts.html"><strong>99</strong> <span class="font14">shouts</span></a></h4>
      </div>
      
      <div class="cell_box">
        <p class="font18_14grey">average:  <span>9999<sup>dB</sup></span></p>
      </div>
      
      <div class="cell_box">
        <p class="font18_14grey">contributed: <span>9999<sup>dB</sup></span></p>
      </div>
      
      <div class="cell_box"> 
  
	 <p class="frnd_icons">
        <span ng-controller="Modalwritemsg">
          <a href="#" ng-click="openWritemsg()"> 
              <img class="normal" src="assets/images/icons/userpages/write_message_normal.svg"> 
              <img class="hover" src="assets/images/icons/userpages/write_message_onhover.svg"> 
              <img class="active" src="assets/images/icons/userpages/write_message_onclick.svg"> 
          </a> 
          </span>
          <span>
          <a href="http://192.155.246.146:8289/friends.html"> 
              <img class="normal" src="assets/images/icons/userpages/1_follow_normal.svg"> 
              <img class="hover" src="assets/images/icons/userpages/2_follow_onhover.svg"> 
              <img class="active" src="assets/images/icons/userpages/3_follow_onclick.svg"> 
          </a> 
          </span>
		  
		  <span>
          <a href="#"> 
              <img class="normal" src="assets/images/icons/userpages/block_normal.svg"> 
              <img class="hover" src="assets/images/icons/userpages/block_onhover.svg"> 
              <img class="active" src="assets/images/icons/userpages/block_onclick.svg"> 
          </a> 
          </span>
     </p>
      
      
      </div>
      
    </div>
    
    <div class="row_box">
    
      <div class="cell_box">
        <div class="block_user"><img src="assets/images/friend.jpg" alt=""><a href="http://192.155.246.146:8289/user-shouts.html"></a></div>

      </div>
      
      <div class="cell_box">
        <h4><a href="http://192.155.246.146:8289/user-shouts.html">Gianneta</a> </h4>
        <p class="font_14grey">active in <a href="deal-category.html">Food & Drink</a></p>
        
        <ul class="badges-icon"  ng-controller="Modalbadges">
            	<li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/pioneer1_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/pioneer1_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/pioneer1_onclick.svg">
                    </a>
                </li>
                 <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img class="normal" src="assets/images/icons/userpages/neoshouter1_normal.svg">
                    	<img class="hover" src="assets/images/icons/userpages/neoshouter1_onhover.svg">
                    	<img class="active" src="assets/images/icons/userpages/neoshouter1_onclick.svg">
                    </a>
                </li>
               
             
            </ul>
      </div>
      
      <div class="cell_box">
        <h4><a href="http://192.155.246.146:8289/user-shouts.html"><strong>1</strong> <span class="font14">shouts</span></a></h4>
      </div>
      
      <div class="cell_box">
        <p class="font18_14grey">average:  <span>9999<sup>dB</sup></span></p>
      </div>
      
      <div class="cell_box">
        <p class="font18_14grey">contributed: <span>9999<sup>dB</sup></span></p>
      </div>
      
      <div class="cell_box"> 
    
	 <p class="frnd_icons"> 
          <span>
          <a href="http://192.155.246.146:8289/friends.html"> 
              <img class="normal" src="assets/images/icons/userpages/1_follow_normal.svg"> 
              <img class="hover" src="assets/images/icons/userpages/2_follow_onhover.svg"> 
              <img class="active" src="assets/images/icons/userpages/3_follow_onclick.svg"> 
          </a> 
          </span>
		  
		  <span>
          <a href="#"> 
              <img class="normal" src="assets/images/icons/userpages/block_normal.svg"> 
              <img class="hover" src="assets/images/icons/userpages/block_onhover.svg"> 
              <img class="active" src="assets/images/icons/userpages/block_onclick.svg"> 
          </a> 
          </span>
     </p>
      
      
      </div>
      
    </div>
    
    
  </div>
  
</div>
  

