<div class="user-banner retailer-banner clearfix" style="background-image:url(assets/images/retailer_banner-background.png); background-size:auto; background-color:#6ab5ac">
	<div class="overlay"></div>
	<!-- Profile Image -->
    <div class="profileimage">
    	<div class="image" ng-controller="ModalUploadUser">
        	<img src="assets/images/retailer/amazon-profile-logo.png" class="img-responsive img-circle" />
        	<!--<a href="#" ng-click="openUploadUser('upload-image')" class="camera-icon"></a>-->
        </div>
        <div class="detail">
        	<h1>Amazon UK </h1>
			<span class="first_shout">first shouted on <strong>12 March 2015</strong></span><span class="valuetxt">average<span class="db-value">99</span></span>
            
            <div class="desc">
           		<div class="rating">
                	<label>rating</label>
                    <div class="rating-bar"><span></span></div>
                </div>
            </div>
       </div>
    </div>
    <!-- //Profile Image -->

	<!-- Prefrence Icon -->
    <div class="prefrence pull-right">
    	<!--<a href="#" class="btn"><span class="wifi-icon"></span> <img src="assets/images/icons/userpages/alert.svg" class="icon" /> customise </a>
        -->
        <ul class="badges-icon">
        	<li> 
                <a href="#" class="img-hover">
                    <img src="assets/images/icons/1_fav_normal.svg" class="normal" />
                    <img src="assets/images/icons/2_fav_onhover.svg" class="hover" />
                    <img src="assets/images/icons/3_fav_onclick.svg" class="active" />
                    <img src="assets/images/icons/heart_icon/4_selected.svg" class="active-normal" />
                    <img src="assets/images/icons/heart_icon/5_selected_onhover.svg" class="active-hover" />
                    <img src="assets/images/icons/heart_icon/6_selected_onclick.svg" class="active-active" />
                    <img src="assets/images/icons/heart_icon/7_selected_disabled.svg" class="active-disable" />
                    <img src="assets/images/icons/heart_icon/0_unselected_disabled.svg" class="disable" />
                </a>
            </li>
        	<li ng-controller="ModalNewDealPresentOnline"> 
                <a href="#" ng-click="openNewDealPresentOnline('shoutnewdeal')">
                    <img src="assets/images/icons/retailer/review_normal.svg" class="normal" />
                    <img src="assets/images/icons/retailer/review_onhover.svg" class="hover" />
                    <img src="assets/images/icons/retailer/review_onclick.svg" class="active" />
                    <span class="affiliate-icon">£</span>
                </a>
            </li>
           
        </ul>
        <a href="http://www.amazon.co.uk" target="_blank" class="btn website-btn"><span class="btn-icon site-icon"></span> go to site </a>
    </div>
    <!-- //Prefrence Icon -->



</div>