<!doctype html>
<html ng-app="shoutModule">
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Shout</title>
        <meta name="description" content="">
       <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
		
         <!-- Latest compiled and minified Bootstrap and Fontawesome CSS -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css"  type="text/css" />
		
        <!-- Website Main CSS -->
        <link rel="stylesheet" href="assets/css/style.css" type="text/css"/>
       <link rel="stylesheet/less" href="assets/less/styles.less" type="text/css"/>
        
        <!-- Website Main CSS -->
        
        <!--[if lte IE 8]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
        
		<script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/less.min.js"></script>
        
        <link rel="stylesheet" type="text/css" href="assets/css/slick.css"/>
		<link rel="stylesheet" type="text/css" href="assets/css/slick-theme.css"/>
        <link rel="stylesheet" href="assets/css/jquery.mmenu.all.min.css">
     	<link rel="stylesheet" href="assets/css/jquery.mmenu.pagedim.css">
        
    </head>
    <body>
    	
        <div>
        <!-- Topbar Header -->
        <div ng-include="'header-bar.html'" scroll class="blue-bg"></div>
        <!-- //Topbar Header -->
         <!-- Banner -->
        <div ng-include="'userprofile-header.html'" class="fixed-header clearfix "></div>
        <!-- //banner -->
        
         <!-- User Breadcrumb -->
        <div ng-include="'user-bredcrumb.html'"></div>
        <!-- //User Breadcrumb -->
         <!-- Main Container -->
        <div class="main-container clearfix"> 
            <!-- Filter Sidebar -->
            <div ng-include="'filter-sidebar_affiliation.html'" class="pull-left"></div>
            <!-- //Filter Sidebar -->            
             <!-- Main Content --> 
              <div class="main-content product-section user-affiliate">
                <!-- Top Section Mobile -->
                <div class="hidden-lg hidden-md mobile-product-filter">
                        <div class="toptab-box top-filter-block">
                            <div class="filter-tab">
                                <!-- Tab -->
                                <div class="sortby-filter sort-tab" ng-controller="DropdownCtrl" >
                                <!-- Custom Dropdown -->
                                    <div class="dropdown custom-dropdown" uib-dropdown="1" >
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" uib-dropdown-toggle ng-init="sorttab='Settings &amp; Tools'; count=''">
                                        {{ sorttab }} <span> {{ count }}</span>
                                        </a>			
                                        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                            <li><a href="#" ng-class= "active('Preferences', sorttab)" ng-click="$parent.active = 0;sorttab='Settings &amp; Tools'; count=' '">Settings &amp; Tools</a></li>
                                            <li><a href="#" ng-class= "active('General', sorttab)" ng-click="$parent.active = 1;sorttab='History'; count=' '">History</a></li>
                                            <li><a href="#" ng-class= "active('Social', sorttab)"  ng-click="$parent.active = 2;sorttab='Payments'; count=' '">Payments</a></li>
                                        </ul>
                                    </div>
                                <!-- // Custom Dropdown -->
                                </div>  
                                 <!-- //Tab -->
                            </div>
                            
                        </div>
                    </div>
                <!-- //Top Section Mobile -->
                
                           
                <!-- Category Content -->  
                <div class="user_custom_tab affiliation">
                  <uib-tabset active="active">
                        <uib-tab index="0">
                            <uib-tab-heading>Settings &amp; Tools</uib-tab-heading>
                            <div class="panel panel-default form-horizontal form_area m_zero" ng-controller="ModalGeneralCtrl">
                                <!--<div class="user_info_box" ng-class="{'open':!ispassCollapsed1}">
                                      <div class="form-group dropdown-toggle" ng-click="ispassCollapsed1 = !ispassCollapsed1">
                                            <div class="col-sm-11 col-xs-10"> 
                                                 <p class="font_green"><span class="name-block">Affiliate Program</span>
                                                 <small class="purple_text">Activate <small class="alert_icon"></small></small></p>
                                           </div>
                                            <div class="col-sm-1 col-xs-2"><a href="javascript:viod(0)" class="edit_icon pull-right"></a> </div>
                                      </div>
                                      <div class="dropdown-block" uib-collapse="ispassCollapsed1">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                     <div class="custom-checkboxbtn checkbox">
                                                        <label> <input type="checkbox"> <span class="lbl">I want to join the Shout Affiliate Program</span></label>
                                                     </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                               <div class="col-sm-7 accept"><p class="font_14grey">By joining the Shout Affiliate Program you accept the <a href="javascript:viod(0)">Shout Affiliate Program Terms &amp; Conditions</a></p></div>   
                                               <div class="col-sm-5">  
                                                <div class="cancel_btn_group">  
                                                    <div ng-controller="Modalunsaved">
                                                        <a href="javascript:viod(0)" class="btn btn-default" ng-click="openunsaved('sm_new')">cancel</a> 
                                                        <a href="javascript:viod(0)" class="btn btn_purple" ng-click="openunsaved('sm_new')">save</a>
                                                    </div>
                                                </div>
                                              </div>
                                            </div> 
                                      </div>
                                 </div>-->
                                <div class="user_info_box" ng-class="{'open':!ispassCollapsed}">
                                      <div class="form-group dropdown-toggle" ng-click="ispassCollapsed = !ispassCollapsed">
                                            <div class="col-sm-11 col-xs-10">
                                                 <p class="font_green"><span class="name-block">Paypal Account</span>
                                                 <small class="orange_text">Enter your PayPal email address <small class="alert_icon"></small></small></p>
                                           </div>
                                            <div class="col-sm-1 col-xs-2"><a href="javascript:viod(0)" class="edit_icon pull-right"></a> </div>
                                      </div>
                                      <div class="dropdown-block default-form" uib-collapse="ispassCollapsed">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group inner help">
                                                    
                                                    <div class="form-input">
                                                            <input type="text" class="form-control form-control-icon" placeholder="Enter your PayPal account">
                                                            <span class="form-icon question-icon"></span>
                                                            <div class="form_tooltip question-tooltip">Lorem ipsum dolor sit amet consectetui adipiscing.</div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group inner help">
                                                        
                                                        <div class="form-input">
                                                            <input type="text" class="form-control form-control-icon" placeholder="Enter your password to confirm changes">
                                                            <span class="form-icon question-icon"></span>
                                                            <div class="form_tooltip question-tooltip">Lorem ipsum dolor sit amet consectetui adipiscing.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">  
                                                    <div class="cancel_btn_group">  
                                                        <div ng-controller="Modalunsaved">
                                                        <a href="javascript:viod(0)" class="btn btn-default" ng-click="openunsaved('sm_new')">cancel</a> 
                                                        <a href="javascript:viod(0)" class="btn btn_purple" ng-click="openunsaved('sm_new')">save</a>
                                                        </div>
                                                    </div>
                                                </div> 
                                            </div>
                                      </div>
                                 </div>
                            </div>
                            <div class="promo-tools"> 
                                <div class="main-title">
                                    <h2><span>Promo Tools</span></h2>
                                </div>
                                <p>Do you run a large network, a content site, a blog, or simply a Social Network page or profile? Use our promo tools to promote Shout through your audience, and earn commissions on any qualified sale or posted content by new Shouters whom you referred.</p>
                                <div class="promolink">
                                    <h3>Promo Link</h3>
                                    <p>Copy and paste the following link on your site, blog o social profile.</p>
                                    <form>
                                        <input type="text" class="form-control" placeholder="shout.eu/a/username"> <button type="submit" class="green-btn">copy link</button>
                                    </form>
                                </div>
                                <div class="clearfix"></div>
                                <h3>Embedded Text</h3>
                                <p>Embed the following code string on your site or b</p>
                                <div class="left">
                                    <div class="embed-code">
                                        &lt;a href=&quot;indirizzo del sito&quot; target=&quot;_blank&quot;&gt;&lt;img src=&quot;indirizzo dell'immagine&quot; border=&quot;0&quot; width=&quot;larghezza del banner&quot; heigth=&quot;altezza del banner&quot; alt=&quot;nome del sito&quot;&gt;&lt;/a&gt;
                                    </div>
                                    <button type="submit" class="green-btn small">copy</button>
                                </div>
                                <div class="right">
                                    <blockquote>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</blockquote>
                                </div>
                                <div class="clearfix"></div>
                                <h3>Embedded Text</h3>
                                <p>Embed the following code string on your site or b</p>
                                <div class="left">
                                    <label>Choose the </label>
                                    <div class="dropdown">
                                        <div class="dropdown custom-dropdown green-col" uib-dropdown="1">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" uib-dropdown-toggle ng-init="showshop1='Vertical Rectangle 240 x 400'; value=''">
                                                {{ showshop1 }} <span> {{ value }}</span>
                                            </a>
                                            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                               <li><a href="#" ng-class= "active('Products', showcat)"  ng-click="showshop1='Vertical Rectangle 240 x 400'; value=''">Vertical Rectangle 240 x 400</a></li>
                                               <li><a href="#" ng-class= "active('Deals', showcat)"  ng-click="showshop1='Mobile Leaderboard 320 x 50'; value=''">Mobile Leaderboard 320 x 50</a></li>
                                               <li><a href="#" ng-class= "active('Tips', showcat)"  ng-click="showshop1='Banner: 468 x 60'; value=''">Banner: 468 x 60</span></a></li>
                                               <li><a href="#" ng-class= "active('Discussions', showcat)"  ng-click="showshop1='Leaderboard 728 x 90'; value=''">Leaderboard 728 x 90</a></li>
                                               <li><a href="#" ng-class= "active('Deals', showcat)"  ng-click="showshop1='Square 250 x 250'; value=''">Square 250 x 250</a></li>
                                               <li><a href="#" ng-class= "active('Tips', showcat)"  ng-click="showshop1='Small Square 200 x 200'; value=''">Small Square 200 x 200</span></a></li>
                                               <li><a href="#" ng-class= "active('Discussions', showcat)"  ng-click="showshop1='Large Rectangle 336 x 280'; value=''">Large Rectangle 336 x 280</a></li>
                                               <li><a href="#" ng-class= "active('Tips', showcat)"  ng-click="showshop1='Inline Rectangle 300 x 250'; value=''">Inline Rectangle 300 x 250</span></a></li>
                                               <li><a href="#" ng-class= "active('Discussions', showcat)"  ng-click="showshop1='Skyscraper 120 x 600'; value=''">Skyscraper 120 x 600</a></li>
                                               <li><a href="#" ng-class= "active('Deals', showcat)"  ng-click="showshop1='Wide Skyscraper 160 x 600'; value=''">Wide Skyscraper 160 x 600</a></li>
                                               <li><a href="#" ng-class= "active('Tips', showcat)"  ng-click="showshop1='Half-Page 300 x 600'; value=''">Half-Page 300 x 600</span></a></li>
                                               <li><a href="#" ng-class= "active('Discussions', showcat)"  ng-click="showshop1='Large Leaderboard 970 x 90'; value=''">Large Leaderboard 970 x 90</a></li>
                                               <li><a href="#" ng-class= "active('Tips', showcat)"  ng-click="showshop1='Large Mobile Banner 320 x 100'; value=''">Large Mobile Banner 320 x 100</span></a></li>
                                               <li><a href="#" ng-class= "active('Discussions', showcat)"  ng-click="showshop1='Billboard 970 x 250'; value=''">Billboard 970 x 250</a></li>
                                               <li><a href="#" ng-class= "active('Deals', showcat)"  ng-click="showshop1='Portrait 300 x 1050'; value=''">Portrait 300 x 1050</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <label>Choose the </label>
                                    <div class="embed-code">
                                        &lt;a href=&quot;indirizzo del sito&quot; target=&quot;_blank&quot;&gt;&lt;img src=&quot;indirizzo dell'immagine&quot; border=&quot;0&quot; width=&quot;larghezza del banner&quot; heigth=&quot;altezza del banner&quot; alt=&quot;nome del sito&quot;&gt;&lt;/a&gt;
                                    </div>
                                    <button type="submit" class="green-btn small">copy</button>
                                </div>
                                <div class="right">
                                    <div class="banner-preview">
                                        <div class="text">banner preview</div>
                                    </div>
                                    <span class="note">This image has been resized to fit in the page. <a href="#">Click here to see the full image</a></span>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab index="1" >
                            <uib-tab-heading> History </uib-tab-heading>
                            <div class="history">
                            	<div class="table-div">
                                	<div class="table-row">
                                    	<div class="table-cell-head">Action</div>
                                    	<div class="table-cell-head status">&nbsp;</div>
                                    	<div class="table-cell-head mine">Mine</div>
                                    	<div class="table-cell-head maffliated">My Affiliated </div>
                                    	<div class="table-cell-head actions">&nbsp;</div>
                                    </div>
                                </div>
                                <div class="collapsible" ng-init="share_icon2=false" ng-class="{ 'open':share_icon2 }">
                                    <div class="table-div">
                                        <div class="table-row">
                                            <div class="table-cell" data-label="Action"><span class="purple-text block-div">100% Profile Completed</span>username, avatar, preferences, location, telephone </div>
                                            <div class="table-cell status"><span class="green-text"><img src="assets/images/product/GREEN_CHECK.svg" alt="completed"> completed</span></div>
                                            <div class="table-cell mine" data-label="Mine"><span class="purple-text">£ 1.00</span></div>
                                            <div class="table-cell maffliated" data-label="My Affiliated"><span class="purple-text">£ 5.00</span> <small>(10)</small></div>
                                            <div class="table-cell actions"><a href="" ng-click="share_icon2=!share_icon2"><span class="image-icons searcha"></span></a></div>
                                        </div>
                                    </div>
                                    <div class="blowdiv">
                                    	<div class="price-trend">
                                            <div class="graph-filter">
                                                <div class="graph-row">
                                                    <div class="three-div first">
                                                        <div class="dropdown custom-dropdown green-col" uib-dropdown="1">
                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" uib-dropdown-toggle ng-init="showshop1='in £'; value=''">
                                                                {{ showshop1 }} <span> {{ value }}</span>
                                                            </a>
                                                            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                                               <li><a href="#" active-function modal="Products" active_value="{{showcat}}"  ng-click="showshop1='in £'; value=''">in £</a></li>
                                                               <li><a href="#" active-function modal="Deals" active_value="{{showcat}}"  ng-click="showshop1='in Quantity'; value=''">in Quantity</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="three-div">
                                                        <div class="default-checkbox">
                                                            <input type="checkbox" name="trend" id="mine">
                                                            <label for="mine"><span class="circle yellow"></span> Mine </label>
                                                        </div>
                                                        <div class="default-checkbox">
                                                            <input type="checkbox" name="trend" id="affiliates">
                                                            <label for="affiliates"><span class="circle blue"></span> My Affiliates </label>
                                                        </div>
                                                    </div>
                                                    <div class="three-div">
                                                        <div class="default-checkbox">
                                                            <input type="checkbox" name="trend" id="all">
                                                            <label for="all"><span class="circle purple"></span> All</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="graph">
                                                <img src="assets/images/product/graph.png" alt="graph">
                                                <div class="legends">
                                                    <ul>
                                                        <li><span class="circle yellow"></span> Amazon UK</li>
                                                        <li><span class="circle blue"></span> Other Amazon UK Shops - New</li>
                                                        <li><span class="circle ligt-green"></span> Other Amazon UK Shops - Used</li>
                                                        <li><span class="circle purple"></span> All Shops (Best Price)</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="collapsible">
                                    <div class="table-div">
                                        <div class="table-row">
                                            <div class="table-cell" data-label="Action"><span class="purple-text block-div">100% Profile Completed</span>username, avatar, preferences, location, telephone </div>
                                            <div class="table-cell status"><span class="green-text"><img src="assets/images/product/GREEN_CHECK.svg" alt="completed"> completed</span></div>
                                            <div class="table-cell mine" data-label="Mine"><span class="purple-text">£ 1.00</span></div>
                                            <div class="table-cell maffliated" data-label="My Affiliated"><span class="purple-text">£ 5.00</span> <small>(10)</small></div>
                                            <div class="table-cell actions"><a href=""><span class="image-icons searcha"></span></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="collapsible">
                                    <div class="table-div">
                                        <div class="table-row">
                                            <div class="table-cell" data-label="Action"><span class="purple-text block-div">100% Profile Completed</span>username, avatar, preferences, location, telephone </div>
                                            <div class="table-cell status"><span class="green-text"><img src="assets/images/product/GREEN_CHECK.svg" alt="completed"> completed</span></div>
                                            <div class="table-cell mine" data-label="Mine"><span class="purple-text">£ 1.00</span></div>
                                            <div class="table-cell maffliated" data-label="My Affiliated"><span class="purple-text">£ 5.00</span> <small>(10)</small></div>
                                            <div class="table-cell actions"><a href=""><span class="image-icons searcha"></span></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="collapsible">
                                    <div class="table-div">
                                        <div class="table-row">
                                            <div class="table-cell" data-label="Action"><span class="purple-text block-div">100% Profile Completed</span>username, avatar, preferences, location, telephone </div>
                                            <div class="table-cell status"><button class="btns shout"><img alt="shout" src="assets/images/product/shout-logo.svg"></button></div>
                                            <div class="table-cell mine" data-label="Mine"><span class="purple-text">£ 1.00</span></div>
                                            <div class="table-cell maffliated" data-label="My Affiliated"><span class="purple-text">£ 5.00</span> <small>(10)</small></div>
                                            <div class="table-cell actions"><a href=""><span class="image-icons searcha"></span></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="collapsible">
                                    <div class="table-div">
                                        <div class="table-row">
                                            <div class="table-cell" data-label="Action"><span class="purple-text block-div">100% Profile Completed</span>username, avatar, preferences, location, telephone </div>
                                            <div class="table-cell status"><button class="btns"><img src="assets/images/product/affiliation/share_white.svg" alt=""> edit</button></div>
                                            <div class="table-cell mine" data-label="Mine"><span class="purple-text">£ 1.00</span></div>
                                            <div class="table-cell maffliated" data-label="My Affiliated"><span class="purple-text">£ 5.00</span> <small>(10)</small></div>
                                            <div class="table-cell actions"><a href=""><span class="image-icons searcha"></span></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="collapsible">
                                    <div class="table-div">
                                        <div class="table-row">
                                            <div class="table-cell" data-label="Action"><span class="purple-text block-div">100% Profile Completed</span>username, avatar, preferences, location, telephone </div>
                                            <div class="table-cell status"><button class="btns invite"><img src="assets/images/product/affiliation/plus_icon.svg" alt=""> invite friends</button></div>
                                            <div class="table-cell mine" data-label="Mine"><span class="purple-text">£ 1.00</span></div>
                                            <div class="table-cell maffliated" data-label="My Affiliated"><span class="purple-text">£ 5.00</span> <small>(10)</small></div>
                                            <div class="table-cell actions"><a href=""><span class="image-icons searcha"></span></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="collapsible">
                                    <div class="table-div">
                                        <div class="table-row">
                                            <div class="table-cell" data-label="Action"><span class="purple-text block-div">100% Profile Completed</span>username, avatar, preferences, location, telephone </div>
                                            <div class="table-cell status"><button class="btns"><img src="assets/images/product/affiliation/lens_white.svg" alt=""> my badges</button></div>
                                            <div class="table-cell mine" data-label="Mine"><span class="purple-text">£ 1.00</span></div>
                                            <div class="table-cell maffliated" data-label="My Affiliated"><span class="purple-text">£ 5.00</span> <small>(10)</small></div>
                                            <div class="table-cell actions"><a href=""><span class="image-icons searcha"></span></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="collapsible">
                                    <div class="table-div">
                                        <div class="table-row total">
                                            <div class="table-cell" data-label="Action"><span class="bigfonts">Total: <strong>£ 112.45</strong></span> payble from 05 Apr 2016</div>
                                            <div class="table-cell status">&nbsp;</div>
                                            <div class="table-cell mine" data-label="Mine"><span class="purple-text bigfonts">£ 30.90</span></div>
                                            <div class="table-cell maffliated" data-label="My Affiliated"><span class="purple-text bigfonts">£ 81.55</span></div>
                                            <div class="table-cell actions">&nbsp;</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab index="2" >
                            <uib-tab-heading> Payments </uib-tab-heading>
                            <div class="payments">
                            	<div class="table-div">
                                	<div class="table-row">
                                    	<div class="table-cell-head">Date</div>
                                    	<div class="table-cell-head">Reference Period</div>
                                    	<div class="table-cell-head">Month’s Commission </div>
                                    	<div class="table-cell-head">Due</div>
                                    	<div class="table-cell-head">Paid*</div>
                                    	<div class="table-cell-head">PayPal Account <a href="#">(edit)</a></div>
                                    </div>
                                	<div class="table-row">
                                    	<div class="table-cell" data-label="Date">05 Apr 2016</div>
                                    	<div class="table-cell" data-label="Reference Period">01-31 Mar 2016</div>
                                    	<div class="table-cell" data-label="Month’s Commission"><span class="green-text">£ 85.50</span></div>
                                    	<div class="table-cell" data-label="Due"><span class="green-text">£ 119.00</span> <small class="block-div">£ 85.50 + £ 33.50</small></div>
                                    	<div class="table-cell" data-label="Paid*"><span class="green-text">£ 100.00</span> <small class="block-div">rest: £ 19.00</small></div>
                                    	<div class="table-cell"><span class="mobile-show">PayPal Account <a href='#'>(edit)</a></span><span class="green-text">email@example.com</span> <span class="block-div"><a href="#" class="purple-text">view invoice</a></span></div>
                                    </div>
                                	<div class="table-row">
                                    	<div class="table-cell" data-label="Date">05 Apr 2016</div>
                                    	<div class="table-cell" data-label="Reference Period">01-29 Feb 2016</div>
                                    	<div class="table-cell" data-label="Month’s Commission"><span class="green-text">£ 25.50</span></div>
                                    	<div class="table-cell" data-label="Due"><span class="green-text">£ 33.50</span> <small class="block-div">£ 25.50 + £ 7.50</small></div>
                                    	<div class="table-cell" data-label="Paid*"><span class="green-text">-</span> <small class="block-div">rest: £ 33.50</small></div>
                                    	<div class="table-cell"><span class="mobile-show">PayPal Account <a href='#'>(edit)</a></span><div class="red-color">deferred to <span class="block-div">05 Apr 2016</span></div></div>
                                    </div>
                                	<div class="table-row">
                                    	<div class="table-cell" data-label="Date">05 Apr 2016</div>
                                    	<div class="table-cell" data-label="Reference Period">01-31 Mar 2016</div>
                                    	<div class="table-cell" data-label="Month’s Commission"><span class="green-text">£ 85.50</span></div>
                                    	<div class="table-cell" data-label="Due"><span class="green-text">£ 119.00</span> <small class="block-div">£ 85.50 + £ 33.50</small></div>
                                    	<div class="table-cell" data-label="Paid*"><span class="green-text">£ 100.00</span> <small class="block-div">rest: £ 19.00</small></div>
                                    	<div class="table-cell"><span class="mobile-show">PayPal Account <a href='#'>(edit)</a></span><span class="green-text">email@example.com</span> <span class="block-div"><a href="#" class="purple-text">view invoice</a></span></div>
                                    </div>
                                	<div class="table-row">
                                    	<div class="table-cell" data-label="Date">05 Apr 2016</div>
                                    	<div class="table-cell" data-label="Reference Period">01-31 Mar 2016</div>
                                    	<div class="table-cell" data-label="Month’s Commission"><span class="green-text">£ 85.50</span></div>
                                    	<div class="table-cell" data-label="Due"><span class="green-text">£ 119.00</span> <small class="block-div">£ 85.50 + £ 33.50</small></div>
                                    	<div class="table-cell" data-label="Paid*"><span class="green-text">£ 100.00</span> <small class="block-div">rest: £ 19.00</small></div>
                                    	<div class="table-cell"><span class="mobile-show">PayPal Account <a href='#'>(edit)</a></span><span class="green-text">email@example.com</span> <span class="block-div"><a href="#" class="purple-text">view invoice</a></span></div>
                                    </div>
                                	<div class="table-row">
                                    	<div class="table-cell" data-label="Date">05 Apr 2016</div>
                                    	<div class="table-cell" data-label="Reference Period">01-29 Feb 2016</div>
                                    	<div class="table-cell" data-label="Month’s Commission">£ 25.50</div>
                                    	<div class="table-cell" data-label="Due">£ 33.50<small class="block-div">£ 25.50 + £ 7.50</small></div>
                                    	<div class="table-cell" data-label="Paid*">-<small class="block-div">rest: £ 33.50</small></div>
                                    	<div class="table-cell"><span class="mobile-show">PayPal Account <a href='#'>(edit)</a></span><div class="red-color">deferred to <span class="block-div">05 Apr 2016</span></div></div>
                                    </div>
                                	<div class="table-row">
                                    	<div class="table-cell" data-label="Date">05 Apr 2016</div>
                                    	<div class="table-cell" data-label="Reference Period">01-31 Mar 2016</div>
                                    	<div class="table-cell" data-label="Month’s Commission"><span class="green-text">£ 85.50</span></div>
                                    	<div class="table-cell" data-label="Due"><span class="green-text">£ 119.00</span> <small class="block-div">£ 85.50 + £ 33.50</small></div>
                                    	<div class="table-cell" data-label="Paid*"><span class="green-text">£ 100.00</span> <small class="block-div">rest: £ 19.00</small></div>
                                    	<div class="table-cell"><span class="mobile-show">PayPal Account <a href='#'>(edit)</a></span><span class="green-text">email@example.com</span> <span class="block-div"><a href="#" class="purple-text">view invoice</a></span></div>
                                    </div>
                                	<div class="table-row">
                                    	<div class="table-cell" data-label="Date">05 Apr 2016</div>
                                    	<div class="table-cell" data-label="Reference Period">01-31 Mar 2016</div>
                                    	<div class="table-cell" data-label="Month’s Commission"><span class="green-text">£ 85.50</span></div>
                                    	<div class="table-cell" data-label="Due"><span class="green-text">£ 119.00</span> <small class="block-div">£ 85.50 + £ 33.50</small></div>
                                    	<div class="table-cell" data-label="Paid*"><span class="green-text">£ 100.00</span> <small class="block-div">rest: £ 19.00</small></div>
                                    	<div class="table-cell"><span class="mobile-show">PayPal Account <a href='#'>(edit)</a></span><span class="green-text">email@example.com</span> <span class="block-div"><a href="#" class="purple-text">view invoice</a></span></div>
                                    </div>
                                	<div class="table-row">
                                    	<div class="table-cell" data-label="Date">05 Apr 2016</div>
                                    	<div class="table-cell" data-label="Reference Period">01-29 Feb 2016</div>
                                    	<div class="table-cell" data-label="Month’s Commission">£ 25.50</div>
                                    	<div class="table-cell" data-label="Due">£ 33.50<small class="block-div">£ 25.50 + £ 7.50</small></div>
                                    	<div class="table-cell" data-label="Paid*">-<small class="block-div">rest: £ 33.50</small></div>
                                    	<div class="table-cell"><span class="mobile-show">PayPal Account <a href='#'>(edit)</a></span><div class="red-color">deferred to <span class="block-div">05 Apr 2016</span></div></div>
                                    </div>
                                	<div class="table-row">
                                    	<div class="table-cell" data-label="Date">05 Apr 2016</div>
                                    	<div class="table-cell" data-label="Reference Period">01-31 Mar 2016</div>
                                    	<div class="table-cell" data-label="Month’s Commission"><span class="green-text">£ 85.50</span></div>
                                    	<div class="table-cell" data-label="Due"><span class="green-text">£ 119.00</span> <small class="block-div">£ 85.50 + £ 33.50</small></div>
                                    	<div class="table-cell" data-label="Paid*"><span class="green-text">£ 100.00</span> <small class="block-div">rest: £ 19.00</small></div>
                                    	<div class="table-cell"><span class="mobile-show">PayPal Account <a href='#'>(edit)</a></span><span class="green-text">email@example.com</span> <span class="block-div"><a href="#" class="purple-text">view invoice</a></span></div>
                                    </div>
                                	<div class="table-row">
                                    	<div class="table-cell" data-label="Date">05 Apr 2016</div>
                                    	<div class="table-cell" data-label="Reference Period">01-31 Mar 2016</div>
                                    	<div class="table-cell" data-label="Month’s Commission"><span class="green-text">£ 85.50</span></div>
                                    	<div class="table-cell" data-label="Due"><span class="green-text">£ 119.00</span> <small class="block-div">£ 85.50 + £ 33.50</small></div>
                                    	<div class="table-cell" data-label="Paid*"><span class="green-text">£ 100.00</span> <small class="block-div">rest: £ 19.00</small></div>
                                    	<div class="table-cell"><span class="mobile-show">PayPal Account <a href='#'>(edit)</a></span><span class="green-text">email@example.com</span> <span class="block-div"><a href="#" class="purple-text">view invoice</a></span></div>
                                    </div>
                                	<div class="table-row">
                                    	<div class="table-cell" data-label="Date">05 Apr 2016</div>
                                    	<div class="table-cell" data-label="Reference Period">01-29 Feb 2016</div>
                                    	<div class="table-cell" data-label="Month’s Commission">£ 25.50</div>
                                    	<div class="table-cell" data-label="Due">£ 33.50<small class="block-div">£ 25.50 + £ 7.50</small></div>
                                    	<div class="table-cell" data-label="Paid*">-<small class="block-div">rest: £ 33.50</small></div>
                                    	<div class="table-cell"><span class="mobile-show">PayPal Account <a href='#'>(edit)</a></span><div class="red-color">deferred to <span class="block-div">05 Apr 2016</span></div></div>
                                    </div>
                                	<div class="table-row">
                                    	<div class="table-cell" data-label="Date">05 Apr 2016</div>
                                    	<div class="table-cell" data-label="Reference Period">01-31 Mar 2016</div>
                                    	<div class="table-cell" data-label="Month’s Commission"><span class="green-text">£ 85.50</span></div>
                                    	<div class="table-cell" data-label="Due"><span class="green-text">£ 119.00</span> <small class="block-div">£ 85.50 + £ 33.50</small></div>
                                    	<div class="table-cell" data-label="Paid*"><span class="green-text">£ 100.00</span> <small class="block-div">rest: £ 19.00</small></div>
                                    	<div class="table-cell"><span class="mobile-show">PayPal Account <a href='#'>(edit)</a></span><span class="green-text">email@example.com</span> <span class="block-div"><a href="#" class="purple-text">view invoice</a></span></div>
                                    </div>
                                	<div class="table-row total">
                                    	<div class="table-cell" data-label="Date"><span class="grey-text bigfonts">TOTAL:</span></div>
                                    	<div class="table-cell hidden-xs" data-label="Reference Period">&nbsp;</div>
                                    	<div class="table-cell" data-label="Month’s Commission"><span class="purple-text bigfonts">£ 418.50</span> <small class="block-div">earned</small></div>
                                    	<div class="table-cell" data-label="Due"><span class="red-text bigfonts">£ 19.00</span> <small class="block-div">pending</small></div>
                                    	<div class="table-cell" data-label="Paid*"><span class="purple-text bigfonts"><strong>£ 100.00</strong></span> <small class="block-div">paid</small></div>
                                    	<div class="table-cell hidden-xs">&nbsp;</div>
                                    </div>
                                </div>
                                <div class="note">
                                	<p>* Payments will only be carried out for values ​​of € 50.00 (or multiples).</p>
                                    <p>If the amount owed was superior to € 50.00 ( or multiple) , the difference will be paid the next month.</p>
                                </div>
                            </div>
                        </uib-tab>					
                   </uib-tabset>
                </div>
                <!-- //Category Content -->
                <!--<div ng-include="'accout_section.html'"></div>-->
              </div>
            <!-- Main Content --> 
             <div class="clearfix"></div>
        </div>
         
        </div>
        <!-- Footer NewsLetter -->
        <div ng-include="'footer-newsletter.html'"></div>
        <!-- //Footer NewsLetter -->
        <!-- Footer -->
        <div ng-include="'footer.html'"></div>
        <!-- //Footer -->
        <!-- Cookie Section -->
        <div ng-include="'cookie.html'"></div>
        <!-- //Cookie Section -->


    <!-- Latest compiled and minified JavaScript -->
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/angular-animate.js"></script>
     <script src="assets/js/angular-sanitize.js"></script>
    <script type="text/javascript" src="assets/js/ui-bootstrap-tpls.min.js"> </script>
    <script type="text/javascript" src="assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="assets/js/scrollbars.js"></script>
   
    <link rel="stylesheet" href="assets/css/jquery.nouislider.css" />
   <!-- Bootstrap slider Js Script -->  
   <script src="assets/js/jquery.nouislider.js"></script>
   <script src="assets/js/Link.js"></script>
   <script src="assets/js/nouislider.js"></script> 
    <script src="assets/js/bootstrap-slider.min.js"></script>
    <script src="assets/js/slider.js"></script>
	<!-- Custom angular Js Script -->
     <script src="assets/js/custom.js"></script>
     <script src="assets/js/deal.js"></script>
	 <script src="assets/js/popup.js"></script>
     <script src="assets/js/ppopup.js"></script>
	 <script src="assets/js/jquery.mmenu.min.all.min.js"></script> 
     
    </body>
</html>