<!-- Breadcrumb -->
<nav class="category-breadcrumb" role="navigation">
      <!-- Right Nav -->
       <ul class="breadcrumb-nav clearfix" ng-controller="DropdownCtrl">
            <li class="hidden-xs">You are in:</li>
            <li class="dropdown hidden-xs hidden-sm hidden-md" uib-dropdown="1">
                <h2>
                    <a href="#" class="fav-icon"></a>
                    <a href="#" class="link" >Clothing & Fashion </a>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" uib-dropdown-toggle  ng-click="toggleDropdown()" ></a>
                </h2>
                <span class="divider"></span>
                <ul class="dropdown-menu category-menu scrollarea" uib-dropdown-menu aria-labelledby="simple-dropdown" 
			ng-scrollable="{scrollY:'right','hovered':false}"
			spy-x="posX"
			spy-y="posY"
			rebuild-on="rebuild:me"
			style="height: 320px;">
                	<li>All Categories <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Appliances</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Baby</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Books, Music & Films</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Clothing & Fashion</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Computers</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Electronics & Photography</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Food & Drink</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Handbags, Luggage & Backpacks</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Health & Beauty</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Hobbies & Collectables</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Home & Garden</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Motors & Boating</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Musical Instruments</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Optics, Watches & Jewellery</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Pet Supplies</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">School & Office</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Services & Activities</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Sport & Leisure</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Telephony</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Toys & Games</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Travel & Holidays</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Videogames & Consoles</a> <span class="notifications">999</span></li>
                  </ul>
            </li>
             
            <li class="dropdown hidden-xs hidden-sm" uib-dropdown="1">
            	<h2>
                    <a href="#" class="fav-icon"></a>
                    <a href="#" class="link" >Woman</a>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" uib-dropdown-toggle  ng-click="toggleDropdown()" ></a>
                </h2>
                <span class="divider"></span>
                <ul class="dropdown-menu category-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                	<li>All in Fashion & Clothing <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Boy</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Girl</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Man</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Woman</a> <span class="notifications">999</span></li>
                </ul>
            </li>
            <li class="dropdown hidden-xs" uib-dropdown="1">
            	<h2>
                    <a href="#" class="fav-icon"></a>
                    <a href="#" class="link" >Fashion Accessories</a>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" uib-dropdown-toggle  ng-click="toggleDropdown()" ></a>
                </h2>
                <span class="divider"></span>
                <ul class="dropdown-menu category-menu scrollarea" uib-dropdown-menu aria-labelledby="simple-dropdown" 
			ng-scrollable="{scrollY:'right','hovered':false}"
			spy-x="posX"
			spy-y="posY"
			rebuild-on="rebuild:me"
			style="height: 320px;">
                	<li>All in Woman Clothing & Fashion <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Beachwear</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Fashion Accessories</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Shirts</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Outerwear</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Outfits</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Skirts</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Underwear</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Wedding Clothing</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Fashion Accessories</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Shirts</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Outerwear</a> <span class="notifications">999</span></li>
                </ul>
            </li>
            <li class="hidden-sm hidden-md hidden-lg">
                <a href="#" class="link-hint">
                	...
                </a>
           	</li>
           <li class="dropdown" uib-dropdown="1">
                <h2>
                    <a href="#" class="fav-icon"></a>
                    <a href="#" class="link" >Hair Accessories</a>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" uib-dropdown-toggle  ng-click="toggleDropdown()" ></a>
                </h2>
                <span class="divider"></span>
                <ul class="dropdown-menu category-menu scrollarea" uib-dropdown-menu aria-labelledby="simple-dropdown" 
			ng-scrollable="{scrollY:'right','hovered':false}"
			spy-x="posX"
			spy-y="posY"
			rebuild-on="rebuild:me"
			style="height: 320px;">
                	<li>All in Woman Clothing & Fashion <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Beachwear</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Fashion Accessories</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Shirts</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Outerwear</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Outfits</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Skirts</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Underwear</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Wedding Clothing</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Fashion Accessories</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Shirts</a> <span class="notifications">999</span></li>
                    <li><span class="fav-icon"></span> <a href="#">Outerwear</a> <span class="notifications">999</span></li>
                </ul>
            </li>
            
   		</ul>
        
        <!-- My feed button -->
        <div class="feed-notification">
        	<a href="#" class="wifi-icon"></a>
        	<a href="#">My Feed </a>
            <span class="notifications">9,999</span>  
         </div>
        <!-- //My feed button -->
        
</nav>
