<div class="user-banner clearfix">
	<div class="overlay"></div>
	<!-- Profile Image -->
    <div class="profileimage">
    	<div class="image" ng-controller="ModalUploadUser">
        	<img src="assets/images/icons/userpages/user.svg" class="img-responsive img-circle" />
        	<a href="#" ng-click="openUploadUser('upload-image')" class="camera-icon"></a>
        </div>
        <div class="detail ">
        	<h1>Username <span>registered on <strong>12 March 2015</strong></span></h1>
            
            <ul class="badges-icon" ng-controller="Modalbadges">
            	<li>
                	<a ng-click="Modalbadges('badges')">
                    	<img src="assets/images/icons/userpages/pioneer1_normal.svg" class="normal" />
                    	<img src="assets/images/icons/userpages/pioneer1_onhover.svg" class="hover" />
                    	<img src="assets/images/icons/userpages/pioneer1_onclick.svg" class="active" />
                    </a>
                </li>
                 <li>
                	<a ng-click="Modalbadges('badges')">
                    	<img src="assets/images/icons/userpages/neoshouter1_normal.svg" class="normal" />
                    	<img src="assets/images/icons/userpages/neoshouter1_onhover.svg" class="hover" />
                    	<img src="assets/images/icons/userpages/neoshouter1_onclick.svg" class="active" />
                    </a>
                </li>
                <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img src="assets/images/icons/userpages/social1_normal.svg" class="normal" />
                    	<img src="assets/images/icons/userpages/social1_onhover.svg" class="hover" />
                    	<img src="assets/images/icons/userpages/social1_onclick.svg" class="active" />
                    </a>
                </li>
                    <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img src="assets/images/icons/userpages/contributor3_normal.svg" class="normal" />
                    	<img src="assets/images/icons/userpages/contributor3_onhover.svg" class="hover" />
                    	<img src="assets/images/icons/userpages/contributor3_onclick.svg" class="active" />
                    </a>
                </li>
                <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img src="assets/images/icons/userpages/celebrity3_normal.svg" class="normal" />
                    	<img src="assets/images/icons/userpages/celebrity3_onhover.svg" class="hover" />
                    	<img src="assets/images/icons/userpages/celebrity3_onclick.svg" class="active" />
                    </a>
                </li>
                 <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img src="assets/images/icons/userpages/chatty3_normal.svg" class="normal" />
                    	<img src="assets/images/icons/userpages/chatty3_onhover.svg" class="hover" />
                    	<img src="assets/images/icons/userpages/chatty3_onclick.svg" class="active" />
                    </a>
                </li>
             
                <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img src="assets/images/icons/userpages/stunning3_normal.svg" class="normal" />
                    	<img src="assets/images/icons/userpages/stunning3_onhover.svg" class="hover" />
                    	<img src="assets/images/icons/userpages/stunning3_onclick.svg" class="active" />
                    </a>
                </li>
                <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img src="assets/images/icons/userpages/ultrasonic1_normal.svg" class="normal" />
                    	<img src="assets/images/icons/userpages/ultrasonic1_onhover.svg" class="hover" />
                    	<img src="assets/images/icons/userpages/ultrasonic1_onclick.svg" class="active" />
                    </a>
                </li>
               <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img src="assets/images/icons/userpages/judge3_normal.svg" class="normal" />
                    	<img src="assets/images/icons/userpages/judge3_onhover.svg" class="hover" />
                    	<img src="assets/images/icons/userpages/judge3_onclick.svg" class="active" />
                    </a>
                </li>
                   <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img src="assets/images/icons/userpages/vip1_normal.svg" class="normal" />
                    	<img src="assets/images/icons/userpages/vip1_onhover.svg" class="hover" />
                    	<img src="assets/images/icons/userpages/vip1_onclick.svg" class="active" />
                    </a>
                </li>
                  <li>
                	<a href="#" ng-click="Modalbadges('badges')">
                    	<img src="assets/images/icons/userpages/editor3_normal.svg" class="normal" />
                    	<img src="assets/images/icons/userpages/editor3_onhover.svg" class="hover" />
                    	<img src="assets/images/icons/userpages/editor3_onclick.svg" class="active" />
                    </a>
                </li>
               
            </ul>
            
            <div class="desc hidden-xs m_zero">
            	<div class="valuetxt">average<span class="db-value">99</span></div>
                <div class="valuetxt">contributed <span class="db-value">9999</span></div>
            </div>
            
            <!-- Mobile html -->
            <div class="desc hidden-lg hidden-md hidden-sm m_zero">
            	<div class="valuetxt">avg.<span class="db-value">9999</span></div>
                <div class="valuetxt">tot. <span class="db-value">9999</span></div>
            </div>
				            
            
       </div>
    </div>
    <!-- //Profile Image -->

	<!-- Prefrence Icon -->
    <div class="prefrence pull-right">
    	<!--<a href="#" class="btn"><span class="wifi-icon"></span> <img src="assets/images/icons/userpages/alert.svg" class="icon" /> customise </a>
        <a href="#" class="btn"><span class="wifi-icon"></span> 3 preferences </a>-->
        <ul class="badges-icon">
        	<li ng-controller="Modalwritemsg"> 
                <a href="#" ng-click="openWritemsg()">
                    <img src="assets/images/icons/userpages/write_message_normal.svg" class="normal" />
                    <img src="assets/images/icons/userpages/write_message_onhover.svg" class="hover" />
                    <img src="assets/images/icons/userpages/write_message_onclick.svg" class="active" />
                </a>
            </li>
			
            <li> 
                <a href="#">
                    <img src="assets/images/icons/userpages/1_follow_normal.svg" class="normal" />
                    <img src="assets/images/icons/userpages/2_follow_onhover.svg" class="hover" />
                    <img src="assets/images/icons/userpages/3_follow_onclick.svg" class="active" />
                </a>
            </li>
			
			<li ng-controller="Modalblockuser"> 
                <a href="#" ng-click="openBlockuser('coupon')">
                    <img src="assets/images/icons/userpages/block_normal.svg" class="normal" />
                    <img src="assets/images/icons/userpages/block_onhover.svg" class="hover" />
                    <img src="assets/images/icons/userpages/block_onclick.svg" class="active" />
                </a>
            </li>
            
        </ul>
    </div>
    <!-- //Prefrence Icon -->



</div>