<div class="modal-header">
<button type="button" class="close" ng-click="cancel()"></button>
</div>

<div class="modal-body">
        	<h3><span>Block Shouter</span></h3>
            
	    <form  class="registerForm">
            <div class="form_area m_top20">
				<h4 class="subtitle_new line_height20">BY blocking a Shouter you will not be able to see his/her contents anymore.<br>
					Do you really want to block this Shouter?
                </h4>
                <p class="grey_14font">You can unblock a Shouter at any time from the <a href="#">Blocked Contents</a> section of your profile</p>
                <div class="btns_double clearfix">
                <span class=""><button ng-click="ok()" type="button" class="btn btn-block register_btn btn_red">no, I made a mistake</button></span>
				<span class=""><button ng-click="cancel()" type="button" class="btn register_btn btn-block">yes, Block</button></span>
                </div>
            </div>            
	    </form>
	    </div>