<div class="modal-header">
												   <button type="button" class="close" ng-click="cancel()"></button>
												</div>
													
													<div class="modal-body">
													<h3><span>Block Shops</span></h3>
													
												<form novalidate class="registerForm" name="registerForm" ng-init = "submitForm=0">
													<div class="form_area m_top28">
												<p class="text-center color_gray m_btm15">Select the Countries for which you do not wish to see contents:</p>
                                                        <input type="text" class="form-control search" placeholder="Search Country">
                                                        
                                                        <div class="cate_list scrollarea"
			ng-scrollbars ng-scrollbars-config="{}"
				style="max-height:290px;">
            
            	<ul class="li_pad_top icon_red block_shouter">
                    <li><a class="notification_img_box" href="javascript:void(0)">
                            <img class="normal" src="assets/images/icons/userpages/block_onhover.svg">
                            <img class="hover" src="assets/images/icons/userpages/blocked_onclick.svg">
                            <img class="active" src="assets/images/icons/userpages/blocked_onhover.svg">
                        </a> <a href="#">Amazon UK</a></li>
                    <li><a class="notification_img_box" href="javascript:void(0)">
                            <img class="normal" src="assets/images/icons/userpages/block_onhover.svg">
                            <img class="hover" src="assets/images/icons/userpages/blocked_onclick.svg">
                            <img class="active" src="assets/images/icons/userpages/blocked_onhover.svg">
                        </a> <a href="#">eBay</a></li>
                    <li><a class="notification_img_box" href="javascript:void(0)">
                            <img class="normal" src="assets/images/icons/userpages/block_onhover.svg">
                            <img class="hover" src="assets/images/icons/userpages/blocked_onclick.svg">
                            <img class="active" src="assets/images/icons/userpages/blocked_onhover.svg">
                        </a> <a href="#">Groupon</a></li>
                    <li><a class="notification_img_box" href="javascript:void(0)">
                            <img class="normal" src="assets/images/icons/userpages/block_onhover.svg">
                            <img class="hover" src="assets/images/icons/userpages/blocked_onclick.svg">
                            <img class="active" src="assets/images/icons/userpages/blocked_onhover.svg">
                        </a> <a href="#">Sainsbury’s</a></li>
                    <li><a class="notification_img_box" href="javascript:void(0)">
                            <img class="normal" src="assets/images/icons/userpages/block_onhover.svg">
                            <img class="hover" src="assets/images/icons/userpages/blocked_onclick.svg">
                            <img class="active" src="assets/images/icons/userpages/blocked_onhover.svg">
                        </a> <a href="#">Amazon UK</a></li>
                    <li><a class="notification_img_box" href="javascript:void(0)">
                            <img class="normal" src="assets/images/icons/userpages/block_onhover.svg">
                            <img class="hover" src="assets/images/icons/userpages/blocked_onclick.svg">
                            <img class="active" src="assets/images/icons/userpages/blocked_onhover.svg">
                        </a> <a href="#">Amazon UK</a></li>
                    <li><a class="notification_img_box" href="javascript:void(0)">
                            <img class="normal" src="assets/images/icons/userpages/block_onhover.svg">
                            <img class="hover" src="assets/images/icons/userpages/blocked_onclick.svg">
                            <img class="active" src="assets/images/icons/userpages/blocked_onhover.svg">
                        </a> <a href="#">Sainsbury’s</a></li>
                    <li><a class="notification_img_box" href="javascript:void(0)">
                            <img class="normal" src="assets/images/icons/userpages/block_onhover.svg">
                            <img class="hover" src="assets/images/icons/userpages/blocked_onclick.svg">
                            <img class="active" src="assets/images/icons/userpages/blocked_onhover.svg">
                        </a> <a href="#">Bertola</a></li>
                    <li><a class="notification_img_box" href="javascript:void(0)">
                            <img class="normal" src="assets/images/icons/userpages/block_onhover.svg">
                            <img class="hover" src="assets/images/icons/userpages/blocked_onclick.svg">
                            <img class="active" src="assets/images/icons/userpages/blocked_onhover.svg">
                        </a> <a href="#">MediaMarket</a></li>
                    <li><a class="notification_img_box" href="javascript:void(0)">
                            <img class="normal" src="assets/images/icons/userpages/block_onhover.svg">
                            <img class="hover" src="assets/images/icons/userpages/blocked_onclick.svg">
                            <img class="active" src="assets/images/icons/userpages/blocked_onhover.svg">
                        </a> <a href="#">Amazon UK</a></li>
                    <li><a class="notification_img_box" href="javascript:void(0)">
                            <img class="normal" src="assets/images/icons/userpages/block_onhover.svg">
                            <img class="hover" src="assets/images/icons/userpages/blocked_onclick.svg">
                            <img class="active" src="assets/images/icons/userpages/blocked_onhover.svg">
                        </a> <a href="#">eBay</a></li>
                    <li><a class="notification_img_box" href="javascript:void(0)">
                            <img class="normal" src="assets/images/icons/userpages/block_onhover.svg">
                            <img class="hover" src="assets/images/icons/userpages/blocked_onclick.svg">
                            <img class="active" src="assets/images/icons/userpages/blocked_onhover.svg">
                        </a> <a href="#">Groupon</a></li>
                    <li><a class="notification_img_box" href="javascript:void(0)">
                            <img class="normal" src="assets/images/icons/userpages/block_onhover.svg">
                            <img class="hover" src="assets/images/icons/userpages/blocked_onclick.svg">
                            <img class="active" src="assets/images/icons/userpages/blocked_onhover.svg">
                        </a> <a href="#">Sainsbury’s</a></li>
                </ul>
                
                                                        	<p class="blank_text" style="display:none;">Type the name of the Category in the form above, <br/>then click on the <span><img src="../assets/images/heart.png" alt=""/></span> icon to add it to your favourites</p>
                                                        </div>
                                                        
                                                        <a href="#" class="btn btn-block confirm_btn btn_red" ng-click="cancel()">add blocked Shops</a>
                                                        
													</div>            
												</form>
												</div>