<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()"></button>
</div>
<div class="modal-body confirm">
    <h3><span>Confirm your Email</span></h3>
    <div class="c_thankyou">
      <h4>Thanks for signing up!</h4>
      <p>Please confirm this is the email address you want to use to register on Shout</p>
    </div>
        <div class="default-form">
        <div class="form-group">
            <div class="form-input form-correct">
                <input type="text" value="email@example.com" placeholder="Enter your email address" class="form-control">
                <span class="form-icon correct-icon"></span>
            </div>
        </div>
        <button class="btn btn-block confirm_btn m_btm20" type="button" ng-click="ok()">confirm</button>
    </div>
</div>