<div class="modal-header">
<button type="button" class="close" ng-click="cancel()"></button>
</div>

<div class="modal-body">
	<h3><span>Remove Price Alert</span></h3>
    <div class="form_area m_top20">
    <h4 class="subtitle_new line_height20">Do you really want to remove this Price Alert?</h4>
    <h4 class="subtitle_new line_height20 grey_normal_bold_black"><strong>Product Name (it can be very long)</strong><br>
	from <strong>Amazon UK</strong> at <strong>£ 500.00</strong> by <strong>2 Dec 2016</strong> (7 days from 25 Nov 2016)</h4>
   
   <div class="btns_double clearfix">
                <span class="m_zero"><button ng-click="ok()" type="button" class="btn btn-block register_btn btn_red">no, I made a mistake</button></span>
				<span class="m_zero"><button ng-click="cancel()" type="button" class="btn register_btn btn-block">yes, Remove</button></span>
                </div>
</div>

</div>