<div class="modal-header">
												   <button type="button" class="close" ng-click="cancel()"></button>
												</div>
													
													<div class="modal-body">
													<h3><span>Disconnect Google plus</span></h3>
													
												<form novalidate class="registerForm" name="registerForm" ng-init = "submitForm=0">
													<div class="form_area"> 
														 
														 <h4 class="subtitle_new line_height20">Do you really want to disconnect Google plus  profile from your Shout account?</h4>
														 <p class="grey_14font">You can reconnect it at any time from this page</p>
														 
														<div class="btns_double clearfix">
                <span class=""><button ng-click="ok()" type="button" class="btn btn-block register_btn">no, I made a mistake</button></span>
				<span class=""><button ng-click="cancel()" type="button" class="btn register_btn btn-block btn_red">yes, disconnect</button></span>
                </div>
				
														
													</div>            
												</form>
												</div>