<div class="modal-header">
												   <button type="button" class="close" ng-click="cancel()"></button>
												</div>
													
													<div class="modal-body">
													<h3><span>Add Favourite Countries</span></h3>
													
												<form novalidate class="registerForm" name="registerForm" ng-init = "submitForm=0">
													<div class="form_area m_top28">
														<p class="upload_user_text"> <img src="assets/images/svg/profiling-process-character.svg" alt=""> Select the Countries for which you wish to receive recommendations:</p>
                                                        <input type="text" class="form-control search" placeholder="Search Country">
                                                        
                                                        <div class="cate_list scrollarea"
			ng-scrollbars ng-scrollbars-config="{}"
				style="max-height:290px;">
            
            	<ul class="li_pad_top bg_p_none">
                    <li><a href="javascript:void(0)" class="notification_img_box img_space">
                            <img src="assets/images/svg/heart/4_fav_selected_normal.svg" class="normal">
                            <img src="assets/images/svg/heart/5_selected_onhover.svg" class="hover">
                            <img src="assets/images/svg/heart/6_selected_onclick.svg" class="active">
                    	</a><span><img src="assets/images/svg/Italy-flag.jpg" alt=""/></span> Italy</li>
                        
                    <li><a href="javascript:void(0)" class="notification_img_box img_space">
                            <img src="assets/images/svg/heart/4_fav_selected_normal.svg" class="normal">
                            <img src="assets/images/svg/heart/5_selected_onhover.svg" class="hover">
                            <img src="assets/images/svg/heart/6_selected_onclick.svg" class="active">
                    	</a><span><img src="assets/images/filand.png" alt=""/></span> Finland</li>
                    <li><a href="javascript:void(0)" class="notification_img_box img_space">
                            <img src="assets/images/svg/heart/4_fav_selected_normal.svg" class="normal">
                            <img src="assets/images/svg/heart/5_selected_onhover.svg" class="hover">
                            <img src="assets/images/svg/heart/6_selected_onclick.svg" class="active">
                    	</a><span><img src="assets/images/germany.png" alt=""/></span> Germany</li>
                    <li><a href="javascript:void(0)" class="notification_img_box img_space">
                            <img src="assets/images/svg/heart/4_fav_selected_normal.svg" class="normal">
                            <img src="assets/images/svg/heart/5_selected_onhover.svg" class="hover">
                            <img src="assets/images/svg/heart/6_selected_onclick.svg" class="active">
                    	</a><span><img src="assets/images/france.png" alt=""/></span> France</li>
                    <li><a href="javascript:void(0)" class="notification_img_box img_space">
                            <img src="assets/images/svg/heart/4_fav_selected_normal.svg" class="normal">
                            <img src="assets/images/svg/heart/5_selected_onhover.svg" class="hover">
                            <img src="assets/images/svg/heart/6_selected_onclick.svg" class="active">
                    	</a><span><img src="assets/images/svg/uk-flag.jpg" alt=""/></span> United Kingdom</li>
                    <li><a href="javascript:void(0)" class="notification_img_box img_space">
                            <img src="assets/images/svg/heart/4_fav_selected_normal.svg" class="normal">
                            <img src="assets/images/svg/heart/5_selected_onhover.svg" class="hover">
                            <img src="assets/images/svg/heart/6_selected_onclick.svg" class="active">
                    	</a><span><img src="assets/images/svg/Italy-flag.jpg" alt=""/></span> Italy</li>
                    <li><a href="javascript:void(0)" class="notification_img_box img_space">
                            <img src="assets/images/svg/heart/4_fav_selected_normal.svg" class="normal">
                            <img src="assets/images/svg/heart/5_selected_onhover.svg" class="hover">
                            <img src="assets/images/svg/heart/6_selected_onclick.svg" class="active">
                    	</a><span><img src="assets/images/filand.png" alt=""/></span> Finland</li>
                    <li><a href="javascript:void(0)" class="notification_img_box img_space">
                            <img src="assets/images/svg/heart/4_fav_selected_normal.svg" class="normal">
                            <img src="assets/images/svg/heart/5_selected_onhover.svg" class="hover">
                            <img src="assets/images/svg/heart/6_selected_onclick.svg" class="active">
                    	</a><span><img src="assets/images/germany.png" alt=""/></span> Germany</li>
                    <li><a href="javascript:void(0)" class="notification_img_box img_space">
                            <img src="assets/images/svg/heart/4_fav_selected_normal.svg" class="normal">
                            <img src="assets/images/svg/heart/5_selected_onhover.svg" class="hover">
                            <img src="assets/images/svg/heart/6_selected_onclick.svg" class="active">
                    	</a><span><img src="assets/images/france.png" alt=""/></span> France</li>
                    <li><a href="javascript:void(0)" class="notification_img_box img_space">
                            <img src="assets/images/svg/heart/4_fav_selected_normal.svg" class="normal">
                            <img src="assets/images/svg/heart/5_selected_onhover.svg" class="hover">
                            <img src="assets/images/svg/heart/6_selected_onclick.svg" class="active">
                    	</a><span><img src="assets/images/svg/uk-flag.jpg" alt=""/></span> United Kingdom</li>
                </ul>
                
                                                        	<p class="blank_text" style="display:none;">Type the name of the Category in the form above, <br/>then click on the <span><img src="../assets/images/heart.png" alt=""/></span> icon to add it to your favourites</p>
                                                        </div>
                                                        
                                                        <a href="#" class="btn btn-block confirm_btn" ng-click="cancel()">save favourite Shops</a>
                                                        
													</div>            
												</form>
												</div>