<div class="modal-header">
<button type="button" class="close" ng-click="cancel()"></button>
</div>

<div class="modal-body">
<h3><span>Add Favourite Categories</span></h3>

<form novalidate class="registerForm" name="registerForm" ng-init = "submitForm=0">
<div class="form_area m_top28">
 <p class="upload_user_text top_zero_img"> <img src="assets/images/svg/profiling-process-character.svg" alt=""> Please select the Categories for which you wish to receive personalised recommendations:</p>
<input type="text" class="form-control search" placeholder="Search category">

<div class="cate_list scrollarea"
			ng-scrollbars ng-scrollbars-config="{}"
				style="max-height:290px; overflow:auto">


<ul class="bg_p_none p_topli">
<li> <a href="javascript:void(0)" class="notification_img_box img_space">
                            <img src="assets/images/svg/heart/4_fav_selected_normal.svg" class="normal">
                            <img src="assets/images/svg/heart/5_selected_onhover.svg" class="hover">
                            <img src="assets/images/svg/heart/6_selected_onclick.svg" class="active">
                    	</a> <span class="pull-left"> Clothing & Fashion Accessories <small>First Level</small></span> </li>
<li> <a href="javascript:void(0)" class="notification_img_box img_space">
                            <img src="assets/images/svg/heart/4_fav_selected_normal.svg" class="normal">
                            <img src="assets/images/svg/heart/5_selected_onhover.svg" class="hover">
                            <img src="assets/images/svg/heart/6_selected_onclick.svg" class="active">
                    	</a> <span class="pull-left">Home & Garden <small>First Level</small></span></li>
<li> <a href="javascript:void(0)" class="notification_img_box img_space">
                            <img src="assets/images/svg/heart/4_fav_selected_normal.svg" class="normal">
                            <img src="assets/images/svg/heart/5_selected_onhover.svg" class="hover">
                            <img src="assets/images/svg/heart/6_selected_onclick.svg" class="active">
                    	</a> <span class="pull-left">iPad <small>Third Level</small></span></li>
<li> <a href="javascript:void(0)" class="notification_img_box img_space">
                            <img src="assets/images/svg/heart/4_fav_selected_normal.svg" class="normal">
                            <img src="assets/images/svg/heart/5_selected_onhover.svg" class="hover">
                            <img src="assets/images/svg/heart/6_selected_onclick.svg" class="active">
                    	</a> <span class="pull-left">Man Windbreaker Jackets <small>Fourth Level</small></span></li>
<li> <a href="javascript:void(0)" class="notification_img_box img_space">
                            <img src="assets/images/svg/heart/4_fav_selected_normal.svg" class="normal">
                            <img src="assets/images/svg/heart/5_selected_onhover.svg" class="hover">
                            <img src="assets/images/svg/heart/6_selected_onclick.svg" class="active">
                    	</a> <span class="pull-left">Dog Supplies <small>Second Level</small></span></li>
<li> <a href="javascript:void(0)" class="notification_img_box img_space">
                            <img src="assets/images/svg/heart/4_fav_selected_normal.svg" class="normal">
                            <img src="assets/images/svg/heart/5_selected_onhover.svg" class="hover">
                            <img src="assets/images/svg/heart/6_selected_onclick.svg" class="active">
                    	</a> <span class="pull-left">Home & Garden <small>First Level</small></span></li>
<li> <a href="javascript:void(0)" class="notification_img_box img_space">
                            <img src="assets/images/svg/heart/4_fav_selected_normal.svg" class="normal">
                            <img src="assets/images/svg/heart/5_selected_onhover.svg" class="hover">
                            <img src="assets/images/svg/heart/6_selected_onclick.svg" class="active">
                    	</a> <span class="pull-left">Home & Garden <small>First Level</small></span></li>
<li> <a href="javascript:void(0)" class="notification_img_box img_space">
                            <img src="assets/images/svg/heart/4_fav_selected_normal.svg" class="normal">
                            <img src="assets/images/svg/heart/5_selected_onhover.svg" class="hover">
                            <img src="assets/images/svg/heart/6_selected_onclick.svg" class="active">
                    	</a> <span class="pull-left">iPad <small>Third Level</small></span></li>
<li> <a href="javascript:void(0)" class="notification_img_box img_space">
                            <img src="assets/images/svg/heart/4_fav_selected_normal.svg" class="normal">
                            <img src="assets/images/svg/heart/5_selected_onhover.svg" class="hover">
                            <img src="assets/images/svg/heart/6_selected_onclick.svg" class="active">
                    	</a> <span class="pull-left">Man Windbreaker Jackets <small>Fourth Level</small></span></li>
<li> <a href="javascript:void(0)" class="notification_img_box img_space">
                            <img src="assets/images/svg/heart/4_fav_selected_normal.svg" class="normal">
                            <img src="assets/images/svg/heart/5_selected_onhover.svg" class="hover">
                            <img src="assets/images/svg/heart/6_selected_onclick.svg" class="active">
                    	</a> <span class="pull-left">Dog Supplies <small>Second Level</small></span></li>
                        <li> <a href="javascript:void(0)" class="notification_img_box img_space">
                            <img src="assets/images/svg/heart/4_fav_selected_normal.svg" class="normal">
                            <img src="assets/images/svg/heart/5_selected_onhover.svg" class="hover">
                            <img src="assets/images/svg/heart/6_selected_onclick.svg" class="active">
                    	</a> <span class="pull-left">iPad <small>Third Level</small></span></li>
<li> <a href="javascript:void(0)" class="notification_img_box img_space">
                            <img src="assets/images/svg/heart/4_fav_selected_normal.svg" class="normal">
                            <img src="assets/images/svg/heart/5_selected_onhover.svg" class="hover">
                            <img src="assets/images/svg/heart/6_selected_onclick.svg" class="active">
                    	</a> <span class="pull-left">Man Windbreaker Jackets <small>Fourth Level</small></span></li>
<li> <a href="javascript:void(0)" class="notification_img_box img_space">
                            <img src="assets/images/svg/heart/4_fav_selected_normal.svg" class="normal">
                            <img src="assets/images/svg/heart/5_selected_onhover.svg" class="hover">
                            <img src="assets/images/svg/heart/6_selected_onclick.svg" class="active">
                    	</a> <span class="pull-left">Dog Supplies <small>Second Level</small></span></li>
</ul>

<p class="blank_text" style="display:none;">Type the name of the Category in the form above, <br/>then click on the <span><img src="../assets/images/heart.png" alt=""/></span> icon to add it to your favourites</p>
</div>

<a href="#" class="btn btn-block confirm_btn" ng-click="cancel()">add favourite categories</a>

</div>            
</form>
</div>