<div class="modal-header">
												   <button type="button" class="close" ng-click="cancel()"></button>
												</div>
													
													<div class="modal-body interest-modal">
													<h3><span>Add Favourite Interests</span></h3>
													
												<form novalidate class="registerForm" name="registerForm" ng-init = "submitForm=0">
													<div class="form_area m_top28">
														<p class="upload_user_text top_zero_img"> <img src="assets/images/svg/profiling-process-character.svg" alt=""> Please specify your interests to help us identify the most relevant contents for you.</p>
                                                        <div class="input-group">
            	<input type="text" placeholder="Type interest name" class="form-control border_radius_r0">
                <a class="input-group-addon question-addon" href="#"></a>
                <div class="error_box question">Lorem ipsum dolor sit amet consectetui adipiscing</div>
                <a class="input-group-addon add-icon add_interest" href="#"><img src="assets/images/svg/add-interest.svg" alt="" class="m_top5"/></a>
            </div>
                                                       
                                                        <div class="cate_list scrollarea"
			ng-scrollbars ng-scrollbars-config="{}"
				style="max-height:290px; overflow:auto">
            
            	<ul class="li_pad_top p_topli bg_p_none">
                    <li><a href="javascript:void(0)" class="notification_img_box img_space">
                            <img src="assets/images/svg/heart/4_fav_selected_normal.svg" class="normal">
                            <img src="assets/images/svg/heart/5_selected_onhover.svg" class="hover">
                            <img src="assets/images/svg/heart/6_selected_onclick.svg" class="active">
                    	</a> <span class="pull-left">Fashion</span></li>
                    <li><a href="javascript:void(0)" class="notification_img_box img_space">
                            <img src="assets/images/svg/heart/4_fav_selected_normal.svg" class="normal">
                            <img src="assets/images/svg/heart/5_selected_onhover.svg" class="hover">
                            <img src="assets/images/svg/heart/6_selected_onclick.svg" class="active">
                    	</a> <span class="pull-left">Alternative Rock</span></li>
                    <li><a href="javascript:void(0)" class="notification_img_box img_space">
                            <img src="assets/images/svg/heart/4_fav_selected_normal.svg" class="normal">
                            <img src="assets/images/svg/heart/5_selected_onhover.svg" class="hover">
                            <img src="assets/images/svg/heart/6_selected_onclick.svg" class="active">
                    	</a> <span class="pull-left">Art</span></li>
                    <li><a href="javascript:void(0)" class="notification_img_box img_space">
                            <img src="assets/images/svg/heart/4_fav_selected_normal.svg" class="normal">
                            <img src="assets/images/svg/heart/5_selected_onhover.svg" class="hover">
                            <img src="assets/images/svg/heart/6_selected_onclick.svg" class="active">
                    	</a> <span class="pull-left">Digital Graphic</span></li>
                    <li><a href="javascript:void(0)" class="notification_img_box img_space">
                            <img src="assets/images/svg/heart/4_fav_selected_normal.svg" class="normal">
                            <img src="assets/images/svg/heart/5_selected_onhover.svg" class="hover">
                            <img src="assets/images/svg/heart/6_selected_onclick.svg" class="active">
                    	</a> <span class="pull-left">Design</span></li>
                    <li><a href="javascript:void(0)" class="notification_img_box img_space">
                            <img src="assets/images/svg/heart/4_fav_selected_normal.svg" class="normal">
                            <img src="assets/images/svg/heart/5_selected_onhover.svg" class="hover">
                            <img src="assets/images/svg/heart/6_selected_onclick.svg" class="active">
                    	</a> <span class="pull-left">Fashion</span></li>
                    <li><a href="javascript:void(0)" class="notification_img_box img_space">
                            <img src="assets/images/svg/heart/4_fav_selected_normal.svg" class="normal">
                            <img src="assets/images/svg/heart/5_selected_onhover.svg" class="hover">
                            <img src="assets/images/svg/heart/6_selected_onclick.svg" class="active">
                    	</a> <span class="pull-left">Alternative Rock</span></li>
                    <li><a href="javascript:void(0)" class="notification_img_box img_space">
                            <img src="assets/images/svg/heart/4_fav_selected_normal.svg" class="normal">
                            <img src="assets/images/svg/heart/5_selected_onhover.svg" class="hover">
                            <img src="assets/images/svg/heart/6_selected_onclick.svg" class="active">
                    	</a> <span class="pull-left">Art</span></li>
                    <li><a href="javascript:void(0)" class="notification_img_box img_space">
                            <img src="assets/images/svg/heart/4_fav_selected_normal.svg" class="normal">
                            <img src="assets/images/svg/heart/5_selected_onhover.svg" class="hover">
                            <img src="assets/images/svg/heart/6_selected_onclick.svg" class="active">
                    	</a> <span class="pull-left">Digital Graphic</span></li>
                    <li><a href="javascript:void(0)" class="notification_img_box img_space">
                            <img src="assets/images/svg/heart/4_fav_selected_normal.svg" class="normal">
                            <img src="assets/images/svg/heart/5_selected_onhover.svg" class="hover">
                            <img src="assets/images/svg/heart/6_selected_onclick.svg" class="active">
                    	</a> <span class="pull-left">Design</span></li>
                </ul>
                
                                                        	<p class="blank_text" style="display:none;">Type the name of the Category in the form above, <br/>then click on the <span><img src="../assets/images/heart.png" alt=""/></span> icon to add it to your favourites</p>
                                                        </div>
                                                        
                                                        <a href="#" class="btn btn-block confirm_btn" ng-click="cancel()">save favourite interests</a>
                                                        
													</div>            
												</form>
												</div>