<em class="affiliate-icon doller_icon width54">£</em><div class="modal-header">
	<button type="button" class="close" ng-click="cancel()"></button>
</div>

<div class="modal-body invite_friend">

    <h3><span>Invite friends on <img alt="" src="assets/images/shout-logo.svg"></span></h3>
    <div class="default-form form_area">
  
  		<form>
        <div class="row custom_width_scroll" ng-scrollbars ng-scrollbars-config="{}"
				style="max-height:300px; overflow:auto">
       
        <div class="count_down">     
            
            <div class="col-sm-6">
                <div class="form-group m_zero web_view">
                <label>Friend’s Name <span class="req">(compulsory)</span></label>
              </div>
            </div>
            
            <div class="col-sm-6">
                <div class="form-group m_zero web_view">
                <label>Friend’s Email Address <span class="req">(compulsory)</span></label>
              </div>
            </div>
            
            <div class="col-sm-6">
                <div class="form-group">
                <label class="mobile_label">Friend’s Name <span class="req">(compulsory)</span></label>
                <div class="form-input first_tooltip">
                    <input type="text" class="form-control" placeholder="Enter name or nickname">
                    <span class="form-icon question-icon"></span>
                    <div class="form_tooltip question-tooltip">Lorem ipsum dolor sit amet consectetui adipiscing.</div>
                </div>
              </div>
            </div>
            
            <div class="col-sm-6">
                <div class="form-group">
                 <label class="mobile_label">Friend’s Email Address <span class="req">(compulsory)</span></label>
                <div class="form-input first_tooltip">
                    <input type="text" class="form-control" placeholder="Enter email address">
                    <span class="form-icon question-icon"></span>
                    <div class="form_tooltip question-tooltip">Lorem ipsum dolor sit amet consectetui adipiscing.</div>
                </div>
              </div>
            </div>
           
            <div class="col-sm-6">
                <div class="form-group">
                <label class="mobile_label">Friend’s Name <span class="req">(compulsory)</span></label>
                <div class="form-input form-correct">
                    <input type="text" class="form-control form-control-icon" placeholder="Enter name or nickname"><span class="form-icon correct-icon"></span>
                </div>
              </div>
            </div>
            
            <div class="col-sm-6">
                <div class="form-group">
                <label class="mobile_label">Friend’s Email Address <span class="req">(compulsory)</span></label>
                <div class="form-input form-correct">
                    <input type="text" class="form-control form-control-icon" placeholder="Enter email address"><span class="form-icon correct-icon"></span>
                </div>
              </div>
            </div>
            
            <div class="col-sm-6">
                <div class="form-group">
                <label class="mobile_label">Friend’s Name <span class="req">(compulsory)</span></label>
                <div class="form-input form-correct">
                    <input type="text" class="form-control form-control-icon" placeholder="Enter name or nickname"><span class="form-icon correct-icon"></span>
                </div>
              </div>
            </div>
            
            <div class="col-sm-6">
                <div class="form-group">
                <label class="mobile_label">Friend’s Email Address <span class="req">(compulsory)</span></label>
                <div class="form-input form-correct">
                    <input type="text" class="form-control form-control-icon" placeholder="Enter email address"><span class="form-icon correct-icon"></span>
                </div>
              </div>
            </div>
            
            <div class="col-sm-6">
                <div class="form-group">
                <label class="mobile_label">Friend’s Name <span class="req">(compulsory)</span></label>
                <div class="form-input form-correct">
                    <input type="text" class="form-control form-control-icon" placeholder="Enter name or nickname"><span class="form-icon correct-icon"></span>
                </div>
              </div>
            </div>
            
            <div class="col-sm-6">
                <div class="form-group">
                <label class="mobile_label">Friend’s Email Address <span class="req">(compulsory)</span></label>
                <div class="form-input form-correct">
                    <input type="text" class="form-control form-control-icon" placeholder="Enter email address"><span class="form-icon correct-icon"></span>
                </div>
              </div>
            </div>
        
        </div>
        
        <div class="col-sm-12">
        
        <p><a href="#" class="plus_btn"><span><img alt="" src="assets/images/svg/plus.svg"></span> add another 
        <em class="affiliate-icon doller_icon ng-scope"> </em></a></p>
        
         <div class="clearfix"></div>
         
        <p class="font_20grey m_top35 m_btm20">Hey! Join me on Shout!</p>
        
        <p class="font_16grey">Hi Name,<br>
		   Join me on Shout, for the best daily deals:<br>
		   <a href="#">http://www.uk.shout.eu/1234567890abc</a></p>
           
        </div>   
        
        </div>
		<p class="text-center m_top35"><button class="btn purple_bg_btn btn-block yellow_icon_btn modal-btn" type="button" ng-click="ok()"> send invitation <em class="affiliate-icon"> </em></button></p>
        
        </form>      
  
    <div class="clearfix"></div>
        
    </div>
</div>