<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()"></button>
</div>
<div class="modal-body">
    <h3><span>Edit shop review</span></h3>
<div class="row">
    <div class="default-form form_area row" ng-scrollbars ng-scrollbars-config="{}"
				style="max-height:464px;">
  
  		<form class="col-sm-12 scroll_minus">
        
        <!--<div class="oops_error">
            <b>Ops... something went wrong!</b> Please, make sure you have completed each field correctly.
        </div>-->
        
          <div class="form-group">
          <label>Shop Name <small>(compulsory)</small></label>
            <div class="form-input input-error first_tooltip">
                <input type="text" class="form-control" value="https://www.amazon.co.uk/Apple-iPhone-16GB-SPACE-UNLOCKED/dp/B00NQGP42Y/ref=sr_1_3?s=telephone&ie=UTF8&qid=1467364547&sr=1-3&keywords=iphone+6">
                <span class="form-icon question-icon"></span>
                <div class="form_tooltip question-tooltip">Attention! The email address you entered is not in the correct format.</div>
            </div>
             </div>
          
          <div class="form-group">
            <label>Shop Review Title <small>(compulsory)</small></label>
            <div class="form-input form-correct">
            <input type="text" class="form-control form-control-icon" value="Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy tincidunt">
            <span class="form-icon correct-icon"></span>
            <div class="form_tooltip question-tooltip">Attention! The email address you entered is not in the correct format.</div>
          </div>
         </div> 
         
          <div class="form-group">
            <label>Rate this product <small>(compulsory)</small> <em class="light_grey12">move the cursors on the bars above to express your opinion about this product’s aspects</em></label>
            
            <div class="form-input form-textarea form-correct">
                    	<div class="textarea">
                        	<div class="well fillter_outer clearfix">
                               <div class="row">
                                  <div class="col-sm-6 m_btm10">
                                    <label>Prices</label>
                                    <!-- FIlter SLider -->
                                    <div class="filter-slider toltip_show clearfix small_filter_tooltip" ng-controller="RangeSliderCtrl">
                                        <span slider
                                              slider-id="rangeSlider"
                                              ng-model="model.second"
                                              value="value.second"
                                              min="0"
                                              max="10"
                                              tooltipseparator="{{ testOptions.tooltipseparator }}"
                                              tooltipsplit="{{ testOptions.tooltipsplit }}">
                                            </span>
                                    </div>
                                    <!-- //FIlter SLider -->
                                  </div>
                                  
                                  <div class="col-sm-6 m_btm10">
                                    <label>Deal Quality</label>
                                    <!-- FIlter SLider -->
                                    <div class="filter-slider toltip_show clearfix small_filter_tooltip" ng-controller="RangeSliderCtrl">
                                        <span slider
                                              slider-id="rangeSlider"
                                              ng-model="model.second"
                                              value="value.second"
                                              min="0"
                                              max="10"
                                              tooltipseparator="{{ testOptions.tooltipseparator }}"
                                              tooltipsplit="{{ testOptions.tooltipsplit }}">
                                            </span>
                                    </div>
                                    <!-- //FIlter SLider -->
                                  </div>
                                  
                                  <div class="col-sm-6">
                                    <label>Delivery Time</label>
                                    <!-- FIlter SLider -->
                                    <div class="filter-slider toltip_show clearfix small_filter_tooltip" ng-controller="RangeSliderCtrl">
                                        <span slider
                                              slider-id="rangeSlider"
                                              ng-model="model.second"
                                              value="value.second"
                                              min="0"
                                              max="10"
                                              tooltipseparator="{{ testOptions.tooltipseparator }}"
                                              tooltipsplit="{{ testOptions.tooltipsplit }}">
                                            </span>
                                    </div>
                                    <!-- //FIlter SLider -->
                                  </div>
                                  
                                  <div class="col-sm-6">
                                    <label>Customer Service</label>
                                    <!-- FIlter SLider -->
                                    <div class="filter-slider toltip_show clearfix small_filter_tooltip" ng-controller="RangeSliderCtrl">
                                        <span slider
                                              slider-id="rangeSlider"
                                              ng-model="model.second"
                                              value="value.second"
                                              min="0"
                                              max="10"
                                              tooltipseparator="{{ testOptions.tooltipseparator }}"
                                              tooltipsplit="{{ testOptions.tooltipsplit }}">
                                            </span>
                                    </div>
                                    <!-- //FIlter SLider -->
                                  </div>
                                 </div>
                            </div>
                        </div>
                        <span class="form-icon correct-icon"></span>
                        <div class="form_tooltip question-tooltip">Lorem ipsum dolor sit amet consectetui adipiscing.</div>
                    </div>
                   
          </div>
           
          <div class="form-group">
            <label>Review <small>(compulsory)</small></label>
            
            <div class="form-input form-textarea form-correct">
                    	<div class="textarea">
                        	<textarea class="form-control height245">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</textarea>
                        </div>
                        <span class="form-icon correct-icon"></span>
                        <div class="form_tooltip question-tooltip">Lorem ipsum dolor sit amet consectetui adipiscing.</div>
                    </div>
            
          </div>
          
          <div class="form-group m_zero">
           <div class="row">
           
          	<div class="col-sm-6">
            	<div class="custom-checkboxbtn checkbox">
              <label><input type="checkbox" ng-model="properties" name="checkbox" value="proper" class="ng-pristine ng-untouched ng-valid ng-empty">
                       <span class="lbl grey_checkbox">Notify me when this review receives a comment</span> </label>
                      </div>
		    </div>
          
             <div class="col-sm-3">
               <button class="gray_dark_btn btn modal-btn m_top_zero" type="button" ng-click="ok()">cancel</button>
              </div>  
             <div class="col-sm-3">
              <button class="btn purple_bg_btn modal-btn m_top_zero" type="button" ng-click="ok()">save changes</button>
             </div>         
          </div>
            </div>
          
        </form>      
  
    <div class="clearfix"></div>
        
    </div>
</div>   
</div>