<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()"></button>
</div>
<div class="modal-body">
	<h3 class="blue-bg"><span>Save Time &amp; Money with <img src="assets/images/product/shout-logo.svg" alt="shout"></span></h3>
    <div class="best-time">
    	<div class="img-div"><img src="assets/images/onexit/small/01_PIG.svg" alt="pig"></div>
        <h2>Save ‘00s of Pounds every month <br/>on your recurrent purchases</h2>
        <p>Navigate through our categories and discover thousands <br/>of real deals and saving opportunities everyday!</p>
    </div>
   <div ng-controller="Modalsignup"><span ng-click="openSignup()"><button class="btn btn-yellow" ng-click="ok()">sign up for free and try!</button></span></div>
</div>