<div class="modal-body">
	<button type="button" class="close" ng-click="cancel()"></button>
	<div class="benefits-wrap single_image">
	<div class="imgdiv"><img src="assets/images/onexit/big/04_CLOCK.svg" alt="pig"></div>
    	<h1>Know when it’s the best time to buy the products you love</h1>
    </div> 
	
    <div class="login-form">
    	<div class="form-wrap">
    	<h3 class="with-bg"><span>Sign up to <img src="assets/images/onexit/logo_full.svg" alt="logo"></span></h3>
        <form class="default-form form_area">
        	<div class="form-group">
        	<div class="form-input">
        		<input type="text" class="form-control" placeholder="Enter your email address">
				<span class="form-icon question-icon"></span>
				<div class="form_tooltip question-tooltip">Lorem ipsum dolor sit amet consectetui adipiscing</div>
            </div>
            </div>
        	<div class="form-group">
			<div class="form-input">
        		<input type="password" class="form-control" placeholder="Choose a Password">
				<span class="form-icon question-icon"></span>
				<div class="form_tooltip question-tooltip">Lorem ipsum dolor sit amet consectetui adipiscing</div>
            </div>            
            </div>  
			
			<div class="custom-checkboxbtn checkbox">
				<label> <input type="checkbox"> <span class="lbl">Send me the Shout community Newsletter</span></label>
            </div>
			<div class="clearfix"></div>
			<div class="custom-checkboxbtn checkbox m_top0_btm20">
				<label> <input type="checkbox"> <span class="lbl">Send me the best deals of the day Newsletter</span> </label>
            </div>	
			
        		<button type="submit" class="btn orange_btn btn-block">Sign up</button>
            
            <p>By creating a Shout account, you accept the <a href="term-conditions.html">Terms of Service</a> and <a href="privacy-policy.html">Privacy Policy</a></p>
			
            <div class="or"><span>or sign up with</span></div>
			<div class="social_media_icons clearfix">
                          <div class="col-xs-4">
                            <a href="#" class="fb_icon">
                            	<img src="assets/images/svg/facebook/01_facebook_signup_normal.svg" class="normal">
                                <img src="assets/images/svg/facebook/02_facebook_signup_onhover.svg" class="hover">
                                <img src="assets/images/svg/facebook/03_facebook_signup_onclick.svg" class="active">
                            </a>
                          </div>
                          <div class="col-xs-4">
                            <a href="#" class="tw_icon">
                                <img src="assets/images/svg/twitter/01_twitter_signup_normal.svg" class="normal">
                                <img src="assets/images/svg/twitter/02_twitter_signup_onhover.svg" class="hover">
                                <img src="assets/images/svg/twitter/03_twitter_signup_onclick.svg" class="active">
                            </a>
                          </div>
                          <div class="col-xs-4">
                            <a href="#" class="gplus_icon">
                                <img src="assets/images/svg/google/01_google_signup_normal.svg" class="normal">
                                <img src="assets/images/svg/google/02_google_signup_onhover.svg" class="hover">
                                <img src="assets/images/svg/google/03_google_signup_onclick.svg" class="active">
                            </a>
                          </div>
                        </div>
			
            <p class="font16 login_text" ng-controller="ModalLogin"><span ng-click="openLogin()">Already registered? <a href="#" ng-click="ok()">Log in</a></span></p>
			
			
        </form>
        </div>
    </div>
</div>