<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()"></button>
</div>
<div class="modal-body">
	<h3><span>Save Time &amp; Money with <img src="assets/images/product/shout-logo.svg"></span></h3>
    <div class="benefits">
    	<div class="imgdiv"><img src="assets/images/onexit/big/06_PIG.svg" alt="pig"></div>
    	Save ‘00s of Pounds every month on your recurrent purchases
    </div>
    <div class="benefits">
    	<div class="imgdiv"><img src="assets/images/onexit/big/08_CLOCK.svg" alt="CLOCK"></div>
    	Know when it’s the best time to buy the products you love
    </div>
    <div class="benefits m_btm56">
    	<div class="imgdiv"><img src="assets/images/onexit/big/06_INVITE_FRIENDS.svg" alt="MONEY"></div>
    	Earn money by sharing deals and inviting your friends on Shout
    </div>
   <div ng-controller="Modalsignup"><span ng-click="openSignup()"><button class="btn btn-yellow" ng-click="ok()">sign up for free</button></span></div>
</div>