<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()"></button>
</div>
<div class="modal-body">
	<h3 class="with-bg"><span>Save Time &amp; Money with <img src="assets/images/product/shout-logo.svg" alt="shout"></span></h3>
    <div class="best-time">
        <p>Sign up to Shout, specify your needs and preferences, <br/>and let us search the best deals and saving opportunities for you!</p>
        <h2>All you’ll be left with is <br/>enjoying your free time!</h2>
		<p>(and book a holiday with the money you saved thanks to Shout)</p>
    </div>
    <div ng-controller="Modalsignup"><span ng-click="openSignup()"><button class="btn btn-yellow" ng-click="ok()">sign up for free and try!</button></span></div>
</div>