<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()"></button>
</div>
<div class="modal-body">
	<h3 class="blue-bg"><span>Save Time &amp; Money with <img src="assets/images/product/shout-logo.svg" alt="shout"></span></h3>
    <div class="best-time">
    	<div class="img-div"><img src="assets/images/onexit/small/03_CLOCK.svg" alt="pig"></div>
        <h2>Know when it’s the best time <br/> to buy the products you love</h2>
        <p>With our Price Alert feature you will always be able to buy the products you need when their price falls!</p>
    </div>
    <div ng-controller="Modalsignup"><span ng-click="openSignup()"><button class="btn btn-yellow" ng-click="ok()">sign up for free and try!</button></span></div>
</div>