<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()"></button>
</div>
<div class="modal-body">
	<h3 class="blue-bg"><span>Save Time &amp; Money with <img src="assets/images/product/shout-logo.svg" alt="shout"></span></h3>
    <div class="benefits-wrapper">
        <div class="benefits">
            Save ‘00s of Pounds every month on your recurrent purchases
        </div>
        <div class="benefits">
            Know when it’s the best time to buy the products you love
        </div>
        <div class="benefits">
            Earn money by sharing deals and recommending Shout to your friends
        </div>
		</div>
    	<div ng-controller="Modalsignup"><span ng-click="openSignup()"><button class="btn btn-yellow" ng-click="ok()">sign up for free</button></span></div>
</div>