<div class="modal-header">
												   <button type="button" class="close" ng-click="cancel()"></button>
												</div>
													
													<div class="modal-body">
													<h3><span>Edit Price Alert</span></h3>
													
												<form novalidate class="registerForm" name="registerForm" ng-init = "submitForm=0">
													<div class="form_area m_top28">
														<p class="font14_line20"> Select a product and let us know which price you are willing to pay. We will notify you as soon as the product falls within your preferred price.</p>
                                                        
                                                        <div class="default-form m_top20 location-popup">
                                                        	
                                                            <div class="form-group m_zero">
                                                            <label>Which Product? <small class="req">(compulsory)</small></label>
                                                                <div class="input-group">
                                                                    <input class="form-control" placeholder="Enter product name" value="Apple iPhone 4S 16Gb" type="text">
                                                                    <a href="#" class="input-group-addon question-addon"></a>
                                                                    <div class="error_box question">Lorem ipsum dolor sit amet consectetui adipiscing</div>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="form-group m_zero">
                                                            <label>Where? <small class="req">(compulsory)</small></label>
                                                                <div class="input-group">
                                                                    <div class="dropdown custom-dropdown m_zero" uib-dropdown="1">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" uib-dropdown-toggle ng-click="placeholder=true" ng-class="{'placeholder':!placeholder}" ng-init="where='Amazon UK'">
                         {{ where }} 
                        </a>			
                        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                            <li><a href="#" ng-class= "active('Amazon UK', where)"  ng-click="where='Amazon UK'">Amazon UK</a></li>
                            <li><a href="#" ng-class= "active('Amazon UK Other Amazon UK Shops (New)', where)"  ng-click="where='Amazon UK Other Amazon UK Shops (New)'">Amazon UK Other Amazon UK Shops (New)</a></li>
                            <li><a href="#" ng-class= "active('Other Amazon UK Shops (Used)', where)" ng-click="where='Other Amazon UK Shops (Used)'">Other Amazon UK Shops (Used)</a></li>
                            <li><a href="#" ng-class= "active('All Shops', where)" ng-click="where='All Shops'">All Shops</a></li>
                         </ul>
                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="double_inputs">
                                                            	
                                                            <div class="form-group m_zero">
                                                            <label>At which price? (in £) <small class="req">(compulsory)</small></label>
                                                                <div class="input-group">
                                                                    <input class="form-control" placeholder="Choose Price" value="500.00" type="text">
                                                                    <a href="#" class="input-group-addon question-addon"></a>
                                                                    <div class="error_box question">Lorem ipsum dolor sit amet consectetui adipiscing</div>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="form-group m_zero">
                                                            <label>Within? <small class="req">(compulsory)</small></label>
                                                                <div class="input-group">
                                                                    <div class="dropdown m_zero custom-dropdown" uib-dropdown="1">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" uib-dropdown-toggle ng-click="placeholder=true" ng-class="{'placeholder':!placeholder}" ng-init="within='Select'">
                         {{ within }} 
                        </a>			
                        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                            <li><a href="#" ng-class= "active('7 days', within)"  ng-click="within='7 days'">7 days</a></li>
                            <li><a href="#" ng-class= "active('15 days', within)"  ng-click="within='15 days'">15 days</a></li>
                            <li><a href="#" ng-class= "active('30 days', within)" ng-click="within='30 days'">30 days</a></li>
                            <li><a href="#" ng-class= "active('60 days', within)" ng-click="within='60 days'">60 days</a></li>
                         </ul>
                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                            </div>
                                                            
                                                            <div class="progress_bar filled_bar">
                                                            	Odds to reach desidered price within 30 days: <strong>50%</strong>
                                                            </div>
                                                            
                                                            <div class="double_inputs">
                                                            	
                                                            <div class="form-group m_zero">
                                                            <label>Send notification to <small class="req">(compulsory)</small></label>
                                                                <div class="input-group">
                                                                    <input class="form-control" placeholder="Enter your email address" value="email@example.com" type="text">
                                                                    <a href="#" class="input-group-addon question-addon"></a>
                                                                    <div class="error_box question">Lorem ipsum dolor sit amet consectetui adipiscing</div>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="form-group m_zero">
                                                             <a href="#" class="btn btn-block confirm_btn m_top23" ng-click="cancel()">ACTIVATE PRICE ALERT</a>
                                                            </div>
                                                            
                                                            </div>
                                                            
                                                            <div class="clearfix"></div>
                                                            
                                                        </div>
                                                        
													</div>            
												</form>
												</div>