<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()"></button>
</div>
<div class="modal-body confirm">
    <h3><span>Recommended Shouters</span></h3>
  
    <div class="default-form form_area" >
 
          <p class="color_grey text-center">Here’s a list of Shouters that have some interest in common with you</p>
    
    <div class="recommended_outer scrollarea" ng-scrollbars ng-scrollbars-config="{}"
				style="max-height: 341px;">
    
    <div class="recommended_row">
    	<div class="block_user"><img alt="" src="assets/images/friend.jpg"><a href="user-shouts.html" target="_blank"></a></div>
        
        <p><b><a href="user-shouts.html" target="_blank">AngelinaJolie</a></b> <small>registered on 20 Oct 2015</small></p>
        
    	<ul class="badges-icon">
            	<li>
                    	<img src="assets/images/icons/userpages/pioneer1_normal.svg" class="normal">
                </li>
                 <li>
                  	<img src="assets/images/icons/userpages/neoshouter1_normal.svg" class="normal">
               </li>
                <li>
                	<img src="assets/images/icons/userpages/social1_normal.svg" class="normal">
                </li>
                    <li>
                		<img src="assets/images/icons/userpages/contributor3_normal.svg" class="normal">
                </li>
                <li>
                		<img src="assets/images/icons/userpages/celebrity3_normal.svg" class="normal">
                </li>
                 <li>
                  	<img src="assets/images/icons/userpages/chatty3_normal.svg" class="normal">
                 </li>
             
                
               
                <li>
                   	<img src="assets/images/icons/userpages/stunning3_normal.svg" class="normal">
                 </li>
                <li>
                	  	<img src="assets/images/icons/userpages/ultrasonic1_normal.svg" class="normal">
                 </li>
              
               
            </ul>
        
        <p class="font"><small>active in</small> <a href="deal-category.html" target="_blank">Category Name 1</a>, <a href="deal-category.html" target="_blank">Category Name 2</a></p>
        
            <a href="#" class="add_user_icon">
                    <img class="normal" src="assets/images/icons/userpages/1_follow_normal.svg">
                    <img class="hover" src="assets/images/icons/userpages/2_follow_onhover.svg">
                    <img class="active" src="assets/images/icons/userpages/3_follow_onclick.svg">
                </a>
                
                <span class="new_label_top"></span>
    </div>
    <div class="recommended_row">
    	<div class="block_user"><img alt="" src="assets/images/friend.jpg"><a href="user-shouts.html" target="_blank"></a></div>
        
        <p><b><a href="user-shouts.html" target="_blank">AngelinaJolie</a></b> <small>registered on 20 Oct 2015</small></p>
        
    	<ul class="badges-icon">
            	<li>
                    	<img src="assets/images/icons/userpages/pioneer1_normal.svg" class="normal">
                </li>
                 <li>
                		<img src="assets/images/icons/userpages/neoshouter1_normal.svg" class="normal">
                 </li>
                <li>
                <img src="assets/images/icons/userpages/social1_normal.svg" class="normal">
                </li>
                    <li>
                		<img src="assets/images/icons/userpages/contributor3_normal.svg" class="normal">
                 </li>
                <li>
                		<img src="assets/images/icons/userpages/celebrity3_normal.svg" class="normal">
                </li>
                 <li>
                		<img src="assets/images/icons/userpages/chatty3_normal.svg" class="normal">
                </li>
             
                
               
                <li>
                	 	<img src="assets/images/icons/userpages/stunning3_normal.svg" class="normal">
                 </li>
                <li>
                		<img src="assets/images/icons/userpages/ultrasonic1_normal.svg" class="normal">
                 </li>
              
               
            </ul>
        
        <p class="font"><small>active in</small> <a href="deal-category.html" target="_blank">Category Name 1</a>, <a href="deal-category.html" target="_blank">Category Name 2</a></p>
        
            <a href="#" class="add_user_icon">
                    <img class="normal" src="assets/images/icons/userpages/1_follow_normal.svg">
                    <img class="hover" src="assets/images/icons/userpages/2_follow_onhover.svg">
                    <img class="active" src="assets/images/icons/userpages/3_follow_onclick.svg">
                </a>
                
                <span class="new_label_top"></span>
    </div>
    <div class="recommended_row">
    	<div class="block_user"><img alt="" src="assets/images/friend.jpg"><a href="user-shouts.html" target="_blank"></a></div>
        
        <p><b><a href="user-shouts.html" target="_blank">AngelinaJolie</a></b> <small>registered on 20 Oct 2015</small></p>
        
    	<ul class="badges-icon">
            	<li>
                	<img src="assets/images/icons/userpages/pioneer1_normal.svg" class="normal">
                 </li>
                 <li>
                   	<img src="assets/images/icons/userpages/neoshouter1_normal.svg" class="normal">
                </li>
                <li>
                		<img src="assets/images/icons/userpages/social1_normal.svg" class="normal">
                 </li>
                    <li>
                		<img src="assets/images/icons/userpages/contributor3_normal.svg" class="normal">
                </li>
                <li>
                   	<img src="assets/images/icons/userpages/celebrity3_normal.svg" class="normal">
                </li>
                 <li>
                	  	<img src="assets/images/icons/userpages/chatty3_normal.svg" class="normal">
                 </li>
             
                
               
                <li>
                  	<img src="assets/images/icons/userpages/stunning3_normal.svg" class="normal">
                </li>
                <li>
                   	<img src="assets/images/icons/userpages/ultrasonic1_normal.svg" class="normal">
                </li>
              
               
            </ul>
        
        <p class="font"><small>active in</small> <a href="deal-category.html" target="_blank">Category Name 1</a>, <a href="deal-category.html" target="_blank">Category Name 2</a></p>
        
            <a href="#" class="add_user_icon">
                    <img class="normal" src="assets/images/icons/userpages/1_follow_normal.svg">
                    <img class="hover" src="assets/images/icons/userpages/2_follow_onhover.svg">
                    <img class="active" src="assets/images/icons/userpages/3_follow_onclick.svg">
                </a>
                
    </div>
    <div class="recommended_row">
    	<div class="block_user"><img alt="" src="assets/images/friend.jpg"><a href="user-shouts.html" target="_blank"></a></div>
        
        <p><b><a href="user-shouts.html" target="_blank">AngelinaJolie</a></b> <small>registered on 20 Oct 2015</small></p>
        
    	<ul class="badges-icon">
            	<li>
                		<img src="assets/images/icons/userpages/pioneer1_normal.svg" class="normal">
                 </li>
                 <li>
                	 	<img src="assets/images/icons/userpages/neoshouter1_normal.svg" class="normal">
               </li>
                <li>
                   	<img src="assets/images/icons/userpages/social1_normal.svg" class="normal">
                </li>
                    <li>
                		<img src="assets/images/icons/userpages/contributor3_normal.svg" class="normal">
                 </li>
                <li>
                		<img src="assets/images/icons/userpages/celebrity3_normal.svg" class="normal">
               </li>
                 <li>
                		<img src="assets/images/icons/userpages/chatty3_normal.svg" class="normal">
                 </li>
             
                
               
                <li>
                	 	<img src="assets/images/icons/userpages/stunning3_normal.svg" class="normal">
                 </li>
                <li>
                		<img src="assets/images/icons/userpages/ultrasonic1_normal.svg" class="normal">
                 </li>
              
               
            </ul>
        
        <p class="font"><small>active in</small> <a href="deal-category.html" target="_blank">Category Name 1</a>, <a href="deal-category.html" target="_blank">Category Name 2</a></p>
        
            <a href="#" class="add_user_icon">
                    <img class="normal" src="assets/images/icons/userpages/1_follow_normal.svg">
                    <img class="hover" src="assets/images/icons/userpages/2_follow_onhover.svg">
                    <img class="active" src="assets/images/icons/userpages/3_follow_onclick.svg">
                </a>
                
    </div>
    <div class="recommended_row">
    	<div class="block_user"><img alt="" src="assets/images/friend.jpg"><a href="user-shouts.html" target="_blank"></a></div>
        
        <p><b><a href="user-shouts.html" target="_blank">AngelinaJolie</a></b> <small>registered on 20 Oct 2015</small></p>
        
    	<ul class="badges-icon">
            	<li>
                		<img src="assets/images/icons/userpages/pioneer1_normal.svg" class="normal">
                 </li>
                 <li>
                	 	<img src="assets/images/icons/userpages/neoshouter1_normal.svg" class="normal">
                </li>
                <li>
                   	<img src="assets/images/icons/userpages/social1_normal.svg" class="normal">
                </li>
                    <li>
                    	<img src="assets/images/icons/userpages/contributor3_normal.svg" class="normal">
               </li>
                <li>
                   	<img src="assets/images/icons/userpages/celebrity3_normal.svg" class="normal">
                </li>
                 <li>
                   	<img src="assets/images/icons/userpages/chatty3_normal.svg" class="normal">
               </li>
             
                
               
                <li>
                   	<img src="assets/images/icons/userpages/stunning3_normal.svg" class="normal">
                </li>
                <li>
                   	<img src="assets/images/icons/userpages/ultrasonic1_normal.svg" class="normal">
                 </li>
              
               
            </ul>
        
        <p class="font"><small>active in</small> <a href="deal-category.html" target="_blank">Category Name 1</a>, <a href="deal-category.html" target="_blank">Category Name 2</a></p>
        
            <a href="#" class="add_user_icon">
                    <img class="normal" src="assets/images/icons/userpages/1_follow_normal.svg">
                    <img class="hover" src="assets/images/icons/userpages/2_follow_onhover.svg">
                    <img class="active" src="assets/images/icons/userpages/3_follow_onclick.svg">
                </a>
                
    </div>
    <div class="recommended_row">
    	<div class="block_user"><img alt="" src="assets/images/friend.jpg"><a href="user-shouts.html" target="_blank"></a></div>
        
        <p><b><a href="user-shouts.html" target="_blank">AngelinaJolie</a></b> <small>registered on 20 Oct 2015</small></p>
        
    	<ul class="badges-icon">
            	<li>
                		<img src="assets/images/icons/userpages/pioneer1_normal.svg" class="normal">
               </li>
                 <li>
                    	<img src="assets/images/icons/userpages/neoshouter1_normal.svg" class="normal">
                </li>
                <li>
                    	<img src="assets/images/icons/userpages/social1_normal.svg" class="normal">
               </li>
                    <li>
                  	<img src="assets/images/icons/userpages/contributor3_normal.svg" class="normal">
                </li>
                <li>
                    	<img src="assets/images/icons/userpages/celebrity3_normal.svg" class="normal">
                </li>
                 <li>
                    	<img src="assets/images/icons/userpages/chatty3_normal.svg" class="normal">
                </li>
             
                
               
                <li>
                   	<img src="assets/images/icons/userpages/stunning3_normal.svg" class="normal">
                </li>
                <li>
                    	<img src="assets/images/icons/userpages/ultrasonic1_normal.svg" class="normal">
               </li>
              
               
            </ul>
        
        <p class="font"><small>active in</small> <a href="deal-category.html" target="_blank">Category Name 1</a>, <a href="deal-category.html" target="_blank">Category Name 2</a></p>
        
            <a href="#" class="add_user_icon">
                    <img class="normal" src="assets/images/icons/userpages/1_follow_normal.svg">
                    <img class="hover" src="assets/images/icons/userpages/2_follow_onhover.svg">
                    <img class="active" src="assets/images/icons/userpages/3_follow_onclick.svg">
                </a>
                
    </div>
    <div class="recommended_row">
    	<div class="block_user"><img alt="" src="assets/images/friend.jpg"><a href="user-shouts.html" target="_blank"></a></div>
        
        <p><b><a href="user-shouts.html" target="_blank">AngelinaJolie</a></b> <small>registered on 20 Oct 2015</small></p>
        
    	<ul class="badges-icon">
            	<li>
                	 	<img src="assets/images/icons/userpages/pioneer1_normal.svg" class="normal">
                </li>
                 <li>
                  	<img src="assets/images/icons/userpages/neoshouter1_normal.svg" class="normal">
                </li>
                <li>
                  	<img src="assets/images/icons/userpages/social1_normal.svg" class="normal">
                </li>
                    <li>
                		<img src="assets/images/icons/userpages/contributor3_normal.svg" class="normal">
               </li>
                <li>
                	 	<img src="assets/images/icons/userpages/celebrity3_normal.svg" class="normal">
               </li>
                 <li>
                   	<img src="assets/images/icons/userpages/chatty3_normal.svg" class="normal">
                </li>
             
                
               
                <li>
                  	<img src="assets/images/icons/userpages/stunning3_normal.svg" class="normal">
                </li>
                <li>
                   	<img src="assets/images/icons/userpages/ultrasonic1_normal.svg" class="normal">
                </li>
              
               
            </ul>
        
        <p class="font"><small>active in</small> <a href="deal-category.html" target="_blank">Category Name 1</a>, <a href="deal-category.html" target="_blank">Category Name 2</a></p>
        
            <a href="#" class="add_user_icon">
                    <img class="normal" src="assets/images/icons/userpages/1_follow_normal.svg">
                    <img class="hover" src="assets/images/icons/userpages/2_follow_onhover.svg">
                    <img class="active" src="assets/images/icons/userpages/3_follow_onclick.svg">
                </a>
                
    </div>
    
    </div>
    
       <button class="btn green_btn btn-block m_btm20" type="button" ng-click="ok()">view all</button>
       <p class="manage_link"><a href="#" ng-click="ok()"> manage friendships</a></p>
        
        <div class="clearfix"></div>
        
    </div>
</div>