<div class="modal-header">
<button type="button" class="close" ng-click="cancel()"></button>
</div>

<div class="modal-body">
	<h3><span>Remove Price Alerts</span></h3>
    <div class="form_area m_top20">
    <h4 class="subtitle_new line_height20">Do you really want to remove all Price Alerts for <strong>Product Name?</strong></h4>
    
   
   <div class="btns_double clearfix">
                <span class="m_zero"><button ng-click="ok()" type="button" class="btn btn-block register_btn btn_red">no, I made a mistake</button></span>
				<span class="m_zero"><button ng-click="cancel()" type="button" class="btn register_btn btn-block">yes, Remove</button></span>
                </div>
</div>

</div>