<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()"></button>
</div>
<div class="modal-body confirm">
    <h3><span>Reset Password</span></h3>
    <h4 class="subtitle">Please enter the email address that you have used to register on Shout.We will send you an email containing the link to reset your password.</h4>
    <div class="default-form">
        <div class="form-group">
            <div class="form-input">
                <input type="text" placeholder="Enter your email address" class="form-control">
                <span class="form-icon question-icon"></span>
                <div class="form_tooltip question-tooltip">Lorem ipsum dolor sit amet consectetui adipiscing.</div>
            </div>
        </div>
        <button class="btn modal-btn grey-btn" type="button" ng-click="ok()">send me reset password link</button>
    </div>
</div>