<div class="modal-header">
												   <button type="button" class="close" ng-click="cancel()"></button>
												</div>
													
													<div class="modal-body">
													<h3><span>Block Shouters</span></h3>
													
												<form novalidate class="registerForm" name="registerForm" ng-init = "submitForm=0">
													<div class="form_area m_top28">
													<p class="text-center color_gray  m_btm15">Select the Shops for which you do not wish to see contents:</p>
                                                        <input type="text" class="form-control search" placeholder="Search Shouters">
                                                        
                                                        <div class="cate_list scrollarea"
			ng-scrollbars ng-scrollbars-config="{}">
            
            	<ul class="li_pad_top icon_red block_shouter">
                    <li> <a class="notification_img_box" href="javascript:void(0)">
                            <img class="normal mCS_img_loaded" src="assets/images/icons/userpages/block_onhover.svg">
                            <img class="hover mCS_img_loaded" src="assets/images/icons/userpages/blocked_onclick.svg">
                            <img class="active mCS_img_loaded" src="assets/images/icons/userpages/blocked_onhover.svg">
                        </a>
                        <div class="block_user"><a href="#"></a><img alt="" src="assets/images/block_user.jpg"></div> <a href="#">Rockerduck</a></li>
                    <li><a class="notification_img_box" href="javascript:void(0)">
                            <img class="normal mCS_img_loaded" src="assets/images/icons/userpages/block_onhover.svg">
                            <img class="hover mCS_img_loaded" src="assets/images/icons/userpages/blocked_onclick.svg">
                            <img class="active mCS_img_loaded" src="assets/images/icons/userpages/blocked_onhover.svg">
                        </a> <div class="block_user"><a href="#"></a><img alt="" src="assets/images/user2.jpg"></div> <a href="#">John_Titor</a></li>
                    <li><a class="notification_img_box" href="javascript:void(0)">
                            <img class="normal mCS_img_loaded" src="assets/images/icons/userpages/block_onhover.svg">
                            <img class="hover mCS_img_loaded" src="assets/images/icons/userpages/blocked_onclick.svg">
                            <img class="active mCS_img_loaded" src="assets/images/icons/userpages/blocked_onhover.svg">
                        </a> <div class="block_user"><a href="#"></a><img alt="" src="assets/images/count.jpg"></div> <a href="#">Scarlett</a></li>
                    <li><a class="notification_img_box" href="javascript:void(0)">
                            <img class="normal mCS_img_loaded" src="assets/images/icons/userpages/block_onhover.svg">
                            <img class="hover mCS_img_loaded" src="assets/images/icons/userpages/blocked_onclick.svg">
                            <img class="active mCS_img_loaded" src="assets/images/icons/userpages/blocked_onhover.svg">
                        </a> <div class="block_user"><a href="#"></a><img alt="" src="assets/images/block_user.jpg"></div> <a href="#">Rockerduck</a></li>
                    <li><a class="notification_img_box" href="javascript:void(0)">
                            <img class="normal mCS_img_loaded" src="assets/images/icons/userpages/block_onhover.svg">
                            <img class="hover mCS_img_loaded" src="assets/images/icons/userpages/blocked_onclick.svg">
                            <img class="active mCS_img_loaded" src="assets/images/icons/userpages/blocked_onhover.svg">
                        </a> <div class="block_user"><a href="#"></a><img alt="" src="assets/images/user2.jpg"></div> <a href="#">John_Titor</a></li>
                    <li><a class="notification_img_box" href="javascript:void(0)">
                            <img class="normal mCS_img_loaded" src="assets/images/icons/userpages/block_onhover.svg">
                            <img class="hover mCS_img_loaded" src="assets/images/icons/userpages/blocked_onclick.svg">
                            <img class="active mCS_img_loaded" src="assets/images/icons/userpages/blocked_onhover.svg">
                        </a> <div class="block_user"><a href="#"></a><img alt="" src="assets/images/count.jpg"></div> <a href="#">Scarlett</a></li>
					<li><a class="notification_img_box" href="javascript:void(0)">
                            <img class="normal mCS_img_loaded" src="assets/images/icons/userpages/block_onhover.svg">
                            <img class="hover mCS_img_loaded" src="assets/images/icons/userpages/blocked_onclick.svg">
                            <img class="active mCS_img_loaded" src="assets/images/icons/userpages/blocked_onhover.svg">
                        </a> <div class="block_user"><a href="#"></a><img alt="" src="assets/images/block_user.jpg"></div> <a href="#">Rockerduck</a></li>
                    <li><a class="notification_img_box" href="javascript:void(0)">
                            <img class="normal mCS_img_loaded" src="assets/images/icons/userpages/block_onhover.svg">
                            <img class="hover mCS_img_loaded" src="assets/images/icons/userpages/blocked_onclick.svg">
                            <img class="active mCS_img_loaded" src="assets/images/icons/userpages/blocked_onhover.svg">
                        </a> <div class="block_user"><a href="#"></a><img alt="" src="assets/images/user2.jpg"></div> <a href="#">John_Titor</a></li>
                    <li><a class="notification_img_box" href="javascript:void(0)">
                            <img class="normal mCS_img_loaded" src="assets/images/icons/userpages/block_onhover.svg">
                            <img class="hover mCS_img_loaded" src="assets/images/icons/userpages/blocked_onclick.svg">
                            <img class="active mCS_img_loaded" src="assets/images/icons/userpages/blocked_onhover.svg">
                        </a> <div class="block_user"><a href="#"></a><img alt="" src="assets/images/count.jpg"></div> <a href="#">Scarlett</a></li>
                    <li><a class="notification_img_box" href="javascript:void(0)">
                            <img class="normal mCS_img_loaded" src="assets/images/icons/userpages/block_onhover.svg">
                            <img class="hover mCS_img_loaded" src="assets/images/icons/userpages/blocked_onclick.svg">
                            <img class="active mCS_img_loaded" src="assets/images/icons/userpages/blocked_onhover.svg">
                        </a> <div class="block_user"><a href="#"></a><img alt="" src="assets/images/block_user.jpg"></div> <a href="#">Rockerduck</a></li>
                    <li><a class="notification_img_box" href="javascript:void(0)">
                            <img class="normal mCS_img_loaded" src="assets/images/icons/userpages/block_onhover.svg">
                            <img class="hover mCS_img_loaded" src="assets/images/icons/userpages/blocked_onclick.svg">
                            <img class="active mCS_img_loaded" src="assets/images/icons/userpages/blocked_onhover.svg">
                        </a> <div class="block_user"><a href="#"></a><img alt="" src="assets/images/user2.jpg"></div> <a href="#">John_Titor</a></li>
                    <li><a class="notification_img_box" href="javascript:void(0)">
                            <img class="normal mCS_img_loaded" src="assets/images/icons/userpages/block_onhover.svg">
                            <img class="hover mCS_img_loaded" src="assets/images/icons/userpages/blocked_onclick.svg">
                            <img class="active mCS_img_loaded" src="assets/images/icons/userpages/blocked_onhover.svg">
                        </a> <div class="block_user"><a href="#"></a><img alt="" src="assets/images/count.jpg"></div> <a href="#">Scarlett</a></li>
                </ul>
                
                                                        	<p class="blank_text" style="display:none;">Type the name of the Shop in the form above, then click on the  <span><img src="../assets/images/heart.png" alt=""/></span> icon to block all contents coming from this Shop</p>
                                                        </div>
                                                        
                                                        <a href="#" class="btn btn-block confirm_btn btn_red" ng-click="cancel()">add blocked Shouters</a>
                                                        
													</div>            
												</form>
												</div>