<div class="modal-body table_view_popup_outer">
<button ng-click="cancel()" class="close" type="button"></button>

<div class="table_view_popup">
<img class="logo" src="assets/images/product/shout-logo.svg" alt="shout">

  <div class="footer-newsletter full_width_popup">
  
  <h4>Stop spending hours looking for what you need.</h4>
  
    	<p class="m_top30 p_full_text">With the Shout Newsletter you will receive<br/> directly on your mailbox our customised recommendations <br/>about what matches your needs and your budget.</p>
		<h2>Subscribe to the Shout Newsletter! It’s free</h2>    
        
        <form class="default-form form_area">
        <div class="row">
        
        	<div class="col-sm-7 p_right0">
            <div class="form-group">
            <div class="form-input">
                <input type="text" placeholder="your email address" class="form-control">
                <span class="form-icon question-icon"></span>
                <div class="form_tooltip question-tooltip">Attention! The email address you entered is not in the correct format.</div>
            </div>
             </div>
             </div>
             
            <div class="col-sm-5"> 
            <button ng-click="ok()" type="button" class="btn green_btn btn-block m_btm20">subscribe</button>
            </div>
        </div>    
    	<p class="term_text">By signin up you agree to Shout.eu’s <a href="term-conditions.html" target="_blank">Terms &amp; Conditions</a>, <a href="privacy-policy.html" target="_blank">Privacy Policy</a> and <a href="cookie-policy.html" target="_blank">Cookie Policy</a> </p>
    </form>
    
    </div>
  
</div>

</div>