<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()"></button>
</div>
<div class="modal-body">
  <h3 class="m_zero"><span>Subscribe to our Newsletter</span></h3>

  <div class="footer-newsletter">
    	<p class="m_top30">Stop spending hours looking for what you need. With the Shout Newsletter you can easily receive on your mailbox customised recommendations about what matches your needs and your budget.</p>
		<h2>Subscribe now! It’s free</h2>    
        
        <form class="default-form form_area">
        <div class="row">
        
        	<div class="col-sm-7 p_right0">
            <div class="form-group">
            <div class="form-input">
                <input type="text" placeholder="your email address" class="form-control">
                <span class="form-icon question-icon"></span>
                <div class="form_tooltip question-tooltip">Attention! The email address you entered is not in the correct format.</div>
            </div>
             </div>
             </div>
             
            <div class="col-sm-5"> 
            <button ng-click="ok()" type="button" class="btn green_btn btn-block m_btm20">subscribe</button>
            </div>
        </div>    
    	<p class="term_text">By signin up you agree to Shout.eu’s <a href="term-conditions.html" target="_blank">Terms &amp; Conditions</a>, <a href="privacy-policy.html" target="_blank">Privacy Policy</a> and <a href="cookie-policy.html" target="_blank">Cookie Policy</a> </p>
    </form>
    
    </div>
  
</div>
