<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()"></button>
</div>

<div class="modal-body confirm">

    <h3><span>Suggest New Branch</span></h3>
    
    <h4 class="grey_title">You are suggesting a new branch for <span>Amazon UK</span></h4>
    
    <div class="default-form form_area" >
        
       	<div class="form-group">
        <label>Street Address Line 1 <span class="req">(compulsory)</span></label>
        <div class="form-input">
                <input type="text" placeholder="First line of the Branch address" class="form-control">
              	<span class="form-icon question-icon"></span>
                <div class="form_tooltip question-tooltip">Lorem ipsum dolor sit amet consectetui adipiscing.</div>
            </div>
            
        </div>
        
        <div class="form-group"> 
         <label>Street Address Line 2 </label>
           <div class="form-input">
                <input type="text" placeholder="Second line of the Branch address (Unit, Building, Floor, etc.)" class="form-control">
                <span class="form-icon question-icon"></span>
                <div class="form_tooltip question-tooltip">Lorem ipsum dolor sit amet consectetui adipiscing.</div>
            </div>
             </div>
         
        <div class="form-group">
         <label>City and Postcode <span class="req">(compulsory)</span></label> 
            <div class="form-input">
                <input type="text" placeholder="City and Postcode" class="form-control">
                <span class="form-icon question-icon"></span>
                <div class="form_tooltip question-tooltip top_tooltip">Lorem ipsum dolor sit amet consectetui adipiscing.</div>
            </div>
             </div>
                 
        <button class="btn purple_bg_btn btn-block modal-btn" type="button" ng-click="ok()">send suggestion</button>
        
        <div class="clearfix"></div>
        
    </div>
</div>