<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()"></button>
</div>
<div class="modal-body">
	<h3><span>Upload Avatar</span></h3>
	<p class="upload_user_text"> <img src="assets/images/svg/profiling-process-character.svg" alt=""/> Please upload your personal avatar:</p>
    
<div class="clearfix"></div>

        	<div class="avatar-image uploaded">
				
            </div>
            
             <div class="button">
                <!--<a href="#" class="btn orange_btn">upload image ...</a>-->
                <label  class="custom-file-input orange_btn"> <input type="file"> </label>
                <div class="uploadTxt text-center">Jpeg or Png, minimum 180*180px</div>
                
                <div class="btns_double clearfix">
                    <span class="m_zero"><a href="#" ng-click="cancel()" class="btn register_btn btn-block">save & close</a></span>
                    <span class="m_zero"><a href="#" ng-click="cancel()" class="btn register_btn btn-block">save & Next</a></span>
                </div>
            </div>

<div class="clearfix"></div>
</div>