    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"></button>
    </div>
    <div class="modal-body welcome-popup">
        <h3><span>Welcome to <img src="assets/images/shout-logo_white.svg" alt=""/></span></h3>
        <h5>Customise your profile to get better deals!</h5>
        
        <div class="avatar_wrapper">
            <span><img src="assets/images/user_img.jpg"/></span>
        </div>
        <label  class="file-input"> <input type="file"> </label>
        <div class="welcome_tour_link"><a href="#" ng-click="ok()"><small>I just want to take a tour now, remind me to do it later</small></a></div>
    
    </div>